<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WOWKB</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/template/common/css/common.css">
  <link rel="stylesheet" type="text/css" href="/account/css/admin.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/99d52acf31.js"></script>
</head>
<body>
{%include file="$root/template/common/navbar_prewowkb.html"%}

<div id="body_dash">
{%include file="$root/template/common/sidebar.html"%}

  <div id="admin_main">
    <div class="dash_top">查看所有用户</div>
      
      <div id="admin_content">
      <table id="dashList">
        <tr>
          <th>头像</th>
          <th>用户名</th>
          <th>用户类型</th>
          <th>注册时间</th>
          <th></th>
        </tr>
        <tr >
          <td><img id="user_pic" src="../../image/designers/james.png"></td>   
          <td>James</td>
          <td>用户</td>
          <td>2017.4.1 23:59:34</td>
          <td>
            <a id="edit" href="#">修改</a>
            </br>
            <a id="delete" href="#" onclick="return del(this)">删除</a>
          </td>
        </tr>
        <tr>
          <td><img id="user_pic" src="../../image/designers/sarah.png"></td>
          <td>Andrew</td>
          <td>设计师</td>
          <td>2017.4.1 23:59:34</td>
          <td>
            <a id="edit" href="#">修改</a>
            </br>
            <a id="delete" href="#" onclick="return del(this)">删除</a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
</body>
</html>