<!DOCTYPE html>
<html>
<head>
  <title>Wow Kitchen & Bath</title>
  <link rel="shortcut icon" type="image/x-icon" href="/image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../../../template/common/css/common.css">
  <link rel="stylesheet" type="text/css" href="../../account/css/admin.css">
</head>
<body>
{%include file="$root/template/common/navbar.html"%}

<div id="body_dash">
    {%include file="$root/template/common/sidebar.html"%}

  <div id="admin_main">
      
      <div id="admin_content">
        <a id="admin_edit_button" href="/account/admin.php?act=admin_singleupload">单个上传</a>
        <a id="admin_edit_button" href="/account/admin.php?act=admin_multiple">批量上传</a>
<!--         <div class="dropdown">
          <span>批量编辑</span>
          <div class="dropdown-content">
            <a id="dropdown_list" href="#"><p>修改选中文件名称</p></a>
            <a id="dropdown_list" href="#"><p>修改选中文件品牌</p></a>
            <a id="dropdown_list" href="#"><p>删除选中文件</p></a>
          </div>
        </div> -->
        <form id="search">
          <input id="admin_search" type="text" name="productname" value="产品名称/项目编号检索">
        </form>

      <table id="productList">
        <tr>
          <th><input id="toggle" type="checkbox"></th>
          <th>图片</th>
          <th>名称</th>
          <th>品牌</th>
          <th>编号</th>
          <th>品类</th>
          <th>零售价格</th>
          <th>折扣价格</th>         
          <th>折扣比例</th>
          <th></th>
        </tr>
        {%foreach from=$res key=i item=value%}
        <tr>
          <td><input id="toggle" type="checkbox"></td>
          <td><a href="/account/admin.php?act=preview&id={%$value['item_id']%}"><img id="product_pic" src="{%$value['pic_path']|default:''%}"></a></td>
          <td><div class="dropdown_table">
              <span>Creme Maple Glazed</span>
              <div class="dropdown_table_content">
                  <div>
                    <div class="dropdown_content_row">系统编号：{%$value['item_id']|default:''%}
                    <div class="dropdown_content_each">库存：100</div>
                    <div class="dropdown_content_each">单位：Pieces</div>
                    </div>
                    <div class="dropdown_content_row">
                    材质：Wood
                    <div class="dropdown_content_each">款式：A7</div>
                    <div class="dropdown_content_each">颜色：白色</div>
                    </div>
                    <div class="dropdown_content_row">
                    宽高深：W9 H34-1/2 D24
                    <div class="dropdown_content_each">重量：37lb</div>                        
                    </div>
                    <div class="dropdown_content_row">
                    内容描述：</br>{%$value['description']|default:''%}
                    </div>
                    <div class="dropdown_content_row">
                      文件格式：{%$value['file_format']|default:''%}
                      <div class="dropdown_content_each">文件类型：{%$result['file_type']|default:''%}</div>
                      <div class="dropdown_content_each">文件大小：{%$value['file_size']|default:''%}</div>
                    </div> 
                  </div>
              </div>
          </div></td>
          
          <td>{%$value['brand']|default:''%}</td>
          <td>{%$value['project_no']|default:''%}</td>
          <td>{%$value['category']|default:''%}</td>
          <td>${%$value['retail_price']|default:''%}</td>
          <td>$114</td>
          <td>49%</td>
          <td>
            <a id="edit" href="/account/admin.php?act=preview&id={%$value['item_id']|default:''%}">修改</a>
            </br>
            <a id="delete" href="/account/admin.php?act=material_delete&id={%$value['item_id']|default:''%}">删除</a>
          </td>
        </tr>
        {%/foreach%}

      </table>
      {%include file="$root/template/ssi/pagenav.html"%}
    </div>
  </div>
</div>


{%include file="$root/template/common/footer.html"%}
  </body>
</html>