<!DOCTYPE html>
<html>
<head>
  <title>Wow Kitchen & Bath</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../../../template/common/css/common.css">
  <link rel="stylesheet" type="text/css" href="../../account/css/admin.css">
</head>
<body>
{%include file="$root/template/common/navbar.html"%}

<div id="body_dash">
    {%include file="$root/template/common/sidebar.html"%}

  <div id="admin_main">
  <a href="#">返回</a>      
      <div id="admin_content">

<!-- 物料商申请认证 -->
        <div id="supplier_apply">
        <table class="applycheck">
          <tr>
            <td class="applycheck_label">公司名称</td>
            <td class="applycheck_content">grandjk</td>
          </tr>
          <tr>
            <td class="applycheck_label">公司网站</td>
            <td class="applycheck_content">grandjk</td>
          </tr>
          <tr>
            <td class="applycheck_label">公司地址</td>
            <td class="applycheck_content">grandjk</td>
          </tr>
          <tr>
            <td class="applycheck_label">联系人</td>
            <td class="applycheck_content">grandjk</td>
          </tr>
          <tr>
            <td class="applycheck_label">职位</td>
            <td class="applycheck_content">grandjk</td>
          </tr>
          <tr>
            <td class="applycheck_label">电话</td>
            <td class="applycheck_content">grandjk</td>
          </tr>
          <tr>
            <td class="applycheck_label">传真</td>
            <td class="applycheck_content">grandjk</td>
          </tr>
          <tr>
            <td class="applycheck_label">邮箱</td>
            <td class="applycheck_content">grandjk</td>
          </tr>
          <tr>
            <td class="applycheck_label">资质认证</td>
            <td class="applycheck_content"><a href="../../image/t1.jpg">证书</a></td>
          </tr>
          <tr>
            <td class="applycheck_label">公司描述</td>
            <td class="applycheck_content applycheck_des"><div>grsdf sdfs df sd fsdfsdfa ndjkgrsdfsdfs dfsdfsdfsd fandjkgr sdfsdfsdfsd fsdfsdfandjkg rsdfs dfsdfsdfsdf sdfandjkgrsdfsdfsdfsdfsdfsdf andjkgrsdfsdfsdfsfgdgfgdfsfsdfsdf sfsdfsdfsgrsdfsdfsdfsdfsdfsdfandjkgrs dfsdfsdfsd   fsdfsd fandjkgrsdf sdfsdfsdfsd fsdfandjk grsdfsdfs dfsdfsdfsdfand jkgrsdfsdfsdfs dfsdfsdfandjk grsdf  sd fsdfsfgd gfgdfsfsdf sd fsfsdfsdfsg rsdfsdfsdfsdfsdfsdfandjkgr sdfsdf sdfsdfsdfsdfandjkg rsdfsd fsdfsdf sdfsdfandjkgrsd fsdfsdfsd fsdfsdfandj kgrsdfsdfsd fsdf sdfsdfandjkgrsdfsdfsdfsfgdgfgdfsfsdf sdfsfsdfsdfs</div></td>      
          </tr>
        </table>
        <div class="apply_check_button">通过</div>
        <div class="apply_check_unpass">不通过</div>
      </div>

<!-- 物料商公司基本信息 -->
       <div id="designer_apply">
        <table class="applycheck">
          <tr>
            <td class="applycheck_label">公司logo</td>
            <td class="applycheck_content"><a href="logo">Logo</a></td>
          </tr>
          <tr>
            <td class="applycheck_label">联系电话</td>
            <td class="applycheck_content">grandjk</td>
          </tr>
          <tr>
            <td class="applycheck_label">联系邮箱</td>
            <td class="applycheck_content">grandjk</td>
          </tr>
          <tr>
            <td class="applycheck_label">联系地址</td>
            <td class="applycheck_content">grandjk</td>
          </tr>
          <tr>
            <td class="applycheck_label">公司介绍</td>
            <td class="applycheck_content applycheck_des"><div>grsdf sdfs df sd fsdfsdfa ndjkgrsdfsdfs dfsdfsdfsd fandjkgr sdfsdfsdfsd fsdfsdfandjkg rsdfs dfsdfsdfsdf sdfandjkgrsdfsdfsdfsdfsdfsdf andjkgrsdfsdfsdfsfgdgfgdfsfsdfsdf sfsdfsdfsgrsdfsdfsdfsdfsdfsdfandjkgrs dfsdfsdfsd   fsdfsd fandjkgrsdf sdfsdfsdfsd fsdfandjk grsdfsdfs dfsdfsdfsdfand jkgrsdfsdfsdfs dfsdfsdfandjk grsdf  sd fsdfsfgd gfgdfsfsdf sd fsfsdfsdfsg rsdfsdfsdfsdfsdfsdfandjkgr sdfsdf sdfsdfsdfsdfandjkg rsdfsd fsdfsdf sdfsdfandjkgrsd fsdfsdfsd fsdfsdfandj kgrsdfsdfsd fsdf sdfsdfandjkgrsdfsdfsdfsfgdgfgdfsfsdf sdfsfsdfsdfs</div></td>      
          </tr>
        </table>
        <div class="apply_check_button">通过</div>
        <div class="apply_check_unpass">不通过</div>
      </div>

<!-- 物料商showroom信息 -->
       <div id="supplier_apply">
        <table class="applycheck">
          <tr>
            <td class="applycheck_label">公司名称</td>
            <td class="applycheck_content">grandjk</td>
          </tr>
          <tr>
            <td class="applycheck_label">公司网站</td>
            <td class="applycheck_content">grandjk</td>
          </tr>
          <tr>
            <td class="applycheck_label">公司地址</td>
            <td class="applycheck_content">grandjk</td>
          </tr>
          <tr>
            <td class="applycheck_label">联系人</td>
            <td class="applycheck_content">grandjk</td>
          </tr>
          <tr>
            <td class="applycheck_label">职位</td>
            <td class="applycheck_content">grandjk</td>
          </tr>
          <tr>
            <td class="applycheck_label">电话</td>
            <td class="applycheck_content">grandjk</td>
          </tr>
          <tr>
            <td class="applycheck_label">传真</td>
            <td class="applycheck_content">grandjk</td>
          </tr>
          <tr>
            <td class="applycheck_label">邮箱</td>
            <td class="applycheck_content">grandjk</td>
          </tr>
          <tr>
            <td class="applycheck_label">资质认证</td>
            <td class="applycheck_content"><a href="../../image/t1.jpg">证书</a></td>
          </tr>
          <tr>
            <td class="applycheck_label">公司描述</td>
            <td class="applycheck_content applycheck_des"><div>grsdf sdfs df sd fsdfsdfa ndjkgrsdfsdfs dfsdfsdfsd fandjkgr sdfsdfsdfsd fsdfsdfandjkg rsdfs dfsdfsdfsdf sdfandjkgrsdfsdfsdfsdfsdfsdf andjkgrsdfsdfsdfsfgdgfgdfsfsdfsdf sfsdfsdfsgrsdfsdfsdfsdfsdfsdfandjkgrs dfsdfsdfsd   fsdfsd fandjkgrsdf sdfsdfsdfsd fsdfandjk grsdfsdfs dfsdfsdfsdfand jkgrsdfsdfsdfs dfsdfsdfandjk grsdf  sd fsdfsfgd gfgdfsfsdf sd fsfsdfsdfsg rsdfsdfsdfsdfsdfsdfandjkgr sdfsdf sdfsdfsdfsdfandjkg rsdfsd fsdfsdf sdfsdfandjkgrsd fsdfsdfsd fsdfsdfandj kgrsdfsdfsd fsdf sdfsdfandjkgrsdfsdfsdfsfgdgfgdfsfsdf sdfsfsdfsdfs</div></td>      
          </tr>
        </table>
        <div class="apply_check_button">通过</div>
        <div class="apply_check_unpass">不通过</div>
      </div>


<!-- 物料商支付信息 -->
       <div id="supplier_apply">
        <table class="applycheck">
          <tr>
            <td class="applycheck_label">银行名称</td>
            <td class="applycheck_content">grandjk</td>
          </tr>
          <tr>
            <td class="applycheck_label">银行地址</td>
            <td class="applycheck_content">grandjk</td>
          </tr>
          <tr>
            <td class="applycheck_label">银行电话</td>
            <td class="applycheck_content">grandjk</td>
          </tr>
          <tr>
            <td class="applycheck_label">账户名称</td>
            <td class="applycheck_content">grandjk</td>
          </tr>
          <tr>
            <td class="applycheck_label">编号ABA/Routing#</td>
            <td class="applycheck_content">grandjk</td>
          </tr>
          <tr>
            <td class="applycheck_label">账号</td>
            <td class="applycheck_content">grandjk</td>
          </tr>
        </table>
        <div class="apply_check_button">通过</div>
        <div class="apply_check_unpass">不通过</div>
      </div>

<!-- 物料商服务信息 -->
      <div id="supplier_apply">
        <table class="applycheck">
          <tr>
            <td class="applycheck_label">BOUNCE CHECK POLICY</td>
            <td class="applycheck_content">grandjk</td>
          </tr>
          <tr>
            <td class="applycheck_label">发货信息</td>
            <td class="applycheck_content">grandjk</td>
          </tr>
          <tr>
            <td class="applycheck_label">产品维修、保养、担保政策</td>
            <td class="applycheck_content">grandjk</td>
          </tr>
          <tr>
            <td class="applycheck_label">支付政策</td>
            <td class="applycheck_content">grandjk</td>
          </tr>
          </table>
        <div class="apply_check_button">通过</div>
        <div class="apply_check_unpass">不通过</div>
      </div>

<!-- 物料商媒体信息 -->
       <div id="supplier_apply">
        <table class="applycheck">
          <tr>
            <td class="applycheck_label">Facebook</td>
            <td class="applycheck_content">grandjk</td>
          </tr>
          <tr>
            <td class="applycheck_label">Twitter</td>
            <td class="applycheck_content">grandjk</td>
          </tr>
          <tr>
            <td class="applycheck_label">Instagram</td>
            <td class="applycheck_content">grandjk</td>
          </tr>
          <tr>
            <td class="applycheck_label">Other</td>
            <td class="applycheck_content">grandjk</td>
          </tr>
        </table>
        <div class="apply_check_button">通过</div>
        <div class="apply_check_unpass">不通过</div>
      </div>

  <!-- 设计师认证信息 -->
       <div id="supplier_apply">
        <table class="applycheck">
          <tr>
            <td class="applycheck_label">姓名</td>
            <td class="applycheck_content">grandjk</td>
          </tr>
          <tr>
            <td class="applycheck_label">邮箱</td>
            <td class="applycheck_content">grandjk</td>
          </tr>
          <tr>
            <td class="applycheck_label">电话</td>
            <td class="applycheck_content">grandjk</td>
          </tr>
          <tr>
            <td class="applycheck_label">地址</td>
            <td class="applycheck_content">grandjk</td>
          </tr>
          <tr>
            <td class="applycheck_label">想代理的品牌</td>
            <td class="applycheck_content">grandjk</td>
          </tr>
          <tr>
            <td class="applycheck_label">使用软件</td>
            <td class="applycheck_content">grandjk</td>
          </tr>
          <tr>
            <td class="applycheck_label">资质证书</td>
            <td class="applycheck_content"><a href="#">证书</a></td>
          </tr>
        </table>
        <div class="apply_check_button">通过</div>
        <div class="apply_check_unpass">不通过</div>
      </div>

  <!-- 设计师作品认证 -->
       <div id="supplier_apply">
        <table class="applycheck">
          <tr>
            <td class="applycheck_label">作品时间</td>
            <td class="applycheck_content">作品名称</a></td>
          </tr>
          <tr>
            <td class="applycheck_label">02/24/2017 14:23</td>
            <td class="applycheck_content"><a href="design_detail">美式厨房设计A</a></td>
          </tr>
          <tr>
            <td class="applycheck_label">02/24/2017 14:23</td>
            <td class="applycheck_content"><a href="design_detail">美式厨房设计A</a></td>
          </tr>
          <tr>
            <td class="applycheck_label">02/24/2017 14:23</td>
            <td class="applycheck_content"><a href="design_detail">美式厨房设计A</a></td>
          </tr>
          <tr>
            <td class="applycheck_label">02/24/2017 14:23</td>
            <td class="applycheck_content"><a href="design_detail">美式厨房设计A</a></td>
          </tr>
          <tr>
            <td class="applycheck_label">02/24/2017 14:23</td>
            <td class="applycheck_content"><a href="design_detail">美式厨房设计A</a></td>
          </tr>
          <tr>
            <td class="applycheck_label">02/24/2017 14:23</td>
            <td class="applycheck_content"><a href="design_detail">美式厨房设计A</a></td>
          </tr>
        </table>
        <div class="apply_check_button">通过</div>
        <div class="apply_check_unpass">不通过</div>
      </div>

      

    </div>
  </div>
</div>


{%include file="$root/template/common/footer.html"%}
  </body>
</html>