<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WOWKB</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/template/common/css/common.css">
  <link rel="stylesheet" type="text/css" href="/account/css/admin.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/99d52acf31.js"></script>
</head>
<body>
{%include file="$root/template/common/navbar_prewowkb.html"%}

<div id="body_dash">
{%include file="$root/template/common/sidebar.html"%}

  <div id="admin_main">
    <div class="dash_top">
      <span class="dash_top_button" id="button_design">审核作品</span>
      <span class="dash_unchoose" id="button_user">审核用户</span>
      <a class="dash_top_right button_orange" id="add_supplier" href="">添加供应商</a>
    </div>
      
    <div id="admin_content">

    <div id="authorize_design">
      <table id="dashList">
        <tr>
          <th>图片</th>
          <th>作品名称</th>
          <th>作品ID</th>
          <th>作品风格</th>
          <th>设计师</th>
          <th>上传时间</th>
          <th></th>
        </tr>
        
        {%foreach from=$res key=i item=val%}
        <tr >
          <td><a href="/account/space.php?act=zuopin_modify&id={%$val['pk_id']|default:''%}" ><img id="design_pic" src="{%$val['pic_path']|default:''%}"></a></td>   
          <td>{%$val['name']|default:''%}</td>
          <td>123</td>
          <td>{%$val['style']|default:''%}</td>
          <td>{%$val['designer']|default:''%}</td>
          <td>{%$val['time']|date_format:"%m/%d/%Y %H:%M:%S"%}</td>
          
          <td>
            <a id="pass" href="/account/admin.php?act=get_zuopin_pass&id={%$val['pk_id']|default:''%}">通过</a>
            </br>
            <a id="deny" href="/account/admin.php?act=get_zuopin_denial&id={%$val['pk_id']|default:''%}" onclick="return del(this)">拒绝</a>
          </td>
        </tr>
       {%/foreach%} 
      </table>
    </div>


    <div id="authorize_user">
      <table id="dashList">
        <tr>
          <th>用户名</th>
          <th>用户类型</th>
          <th>邮箱</th>
          <th>注册时间</th>
          <th></th>
        </tr>
        {%foreach from=$res_users key=i item=val%}
        <tr>
          <td>{%$val['username']|default:''%}</td>
          <td>{%$val['account_type']|default:''%}</td>
          <td>{%$val['email']|default:''%}</td>
          <td>{%$val['reg_time']|date_format:"%m/%d/%Y %H:%M:%S"%}</td>
          <td>
            <a id="pass" href="/account/admin.php?act=get_user_pass&id={%$val['uid']|default:''%}">通过</a>
            </br>
            <a id="deny" href="/account/admin.php?act=get_user_denial&id={%$val['uid']|default:''%}" onclick="return del(this)">拒绝</a>
          </td>
        </tr>
        {%/foreach%}
      </table>
    </div>

    </div><!--admin_content-->

  </div>
</div>
<script type="text/javascript">
var user = document.getElementById('button_user');
var design = document.getElementById('button_design');
var user_page = document.getElementById('authorize_user');
var design_page = document.getElementById('authorize_design');

user.onclick = function(){
  user.className = "dash_top_button";
  design.className = "dash_unchoose";
  user_page.style.display = "block";
  design_page.style.display = "none";
}
design.onclick = function(){
  design.className = "dash_top_button";
  user.className = "dash_unchoose";
  design_page.style.display = "block";
  user_page.style.display = "none";
}
</script>
</body>
</html>