<!DOCTYPE html>
<html>
<head>
  <title>Wow Kitchen & Bath</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/template/common/css/common.css">
  <link rel="stylesheet" type="text/css" href="/account/css/admin.css">
</head>
<body>
{%include file="$root/template/common/navbar.html"%}

<div id="body_dash">
    {%include file="$root/template/common/sidebar.html"%}

  <div id="admin_main">
  <a href="#">返回</a>      
      <div id="admin_content">

<!-- 物料商申请认证 -->
        <div id="supplier_apply">
        <table class="applycheck">
          <tr>
            <td class="applycheck_label">公司名称</td>
            <td class="applycheck_content">grandjk</td>
          </tr>
          <tr>
            <td class="applycheck_label">公司网站</td>
            <td class="applycheck_content">www.grandjk.com</td>
          </tr>
          <tr>
            <td class="applycheck_label">公司地址</td>
            <td class="applycheck_content">1111 XXX RD, grandjk</td>
          </tr>
          <tr>
            <td class="applycheck_label">联系人</td>
            <td class="applycheck_content">grandjk</td>
          </tr>
          <tr>
            <td class="applycheck_label">电话</td>
            <td class="applycheck_content">11111111111</td>
          </tr>
          <tr>
            <td class="applycheck_label">邮箱</td>
            <td class="applycheck_content">grandjk@xxxxx.com</td>
          </tr>
          <tr>
            <td class="applycheck_label">资质认证</td>
            <td class="applycheck_content"><a href="../../image/t1.jpg">证书</a></td>
          </tr>
          <tr>
            <td class="applycheck_label">公司描述</td>
            <td class="applycheck_content applycheck_des"><div>grsdf sdfs df sd fsdfsdfa ndjkgrsdfsdfs dfsdfsdfsd fandjkgr sdfsdfsdfsd fsdfsdfandjkg rsdfs dfsdfsdfsdf sdfandjkgrsdfsdfsdfsdfsdfsdf andjkgrsdfsdfsdfsfgdgfgdfsfsdfsdf sfsdfsdfsgrsdfsdfsdfsdfsdfsdfandjkgrs dfsdfsdfsd   fsdfsd fandjkgrsdf sdfsdfsdfsd fsdfandjk grsdfsdfs dfsdfsdfsdfand jkgrsdfsdfsdfs dfsdfsdfandjk grsdf  sd fsdfsfgd gfgdfsfsdf sd fsfsdfsdfsg rsdfsdfsdfsdfsdfsdfandjkgr sdfsdf sdfsdfsdfsdfandjkg rsdfsd fsdfsdf sdfsdfandjkgrsd fsdfsdfsd fsdfsdfandj kgrsdfsdfsd fsdf sdfsdfandjkgrsdfsdfsdfsfgdgfgdfsfsdf sdfsfsdfsdfs</div></td>      
          </tr>
        </table>
        <div class="apply_check_button">通过</div>
        <div class="apply_check_unpass">不通过</div>
      </div>


  <!-- 设计师认证信息 -->
       <div id="supplier_apply">
        <table class="applycheck">
          <tr>
            <td class="applycheck_label">类型</td>
            <td class="applycheck_content">家居产品设计师</td>
          </tr>
          <tr>
            <td class="applycheck_label">姓名</td>
            <td class="applycheck_content">James</td>
          </tr>
          <tr>
            <td class="applycheck_label">邮箱</td>
            <td class="applycheck_content">James@gmail.com</td>
          </tr>
          <tr>
            <td class="applycheck_label">电话</td>
            <td class="applycheck_content">2222222222</td>
          </tr>
          <tr>
            <td class="applycheck_label">地址</td>
            <td class="applycheck_content">222 XXX St, XXX</td>
          </tr>
          <tr>
            <td class="applycheck_label">使用软件</td>
            <td class="applycheck_content">3dmax, Maya</td>
          </tr>
          <tr>
            <td class="applycheck_label">专长</td>
            <td class="applycheck_content">橱柜，地板，台面</td>
          </tr>
          <tr>
            <td class="applycheck_label">资质证书</td>
            <td class="applycheck_content"><a href="#">证书</a></td>
          </tr>
        </table>
        <div class="apply_check_button">通过</div>
        <div class="apply_check_unpass">不通过</div>
      </div>

      <!-- 施工商认证信息 -->
       <div id="supplier_apply">
        <table class="applycheck">
          <tr>
            <td class="applycheck_label">名称</td>
            <td class="applycheck_content">XXX施工</td>
          </tr>
          <tr>
            <td class="applycheck_label">邮箱</td>
            <td class="applycheck_content">XXX@xXX.com</td>
          </tr>
          <tr>
            <td class="applycheck_label">电话</td>
            <td class="applycheck_content">3333333333</td>
          </tr>
          <tr>
            <td class="applycheck_label">网站</td>
            <td class="applycheck_content">www.construct.com</td>
          </tr>
          <tr>
            <td class="applycheck_label">地址</td>
            <td class="applycheck_content">333 XX rd, XXX</td>
          </tr>
          <tr>
            <td class="applycheck_label">资质证书</td>
            <td class="applycheck_content"><a href="#">证书</a></td>
          </tr>
        </table>
        <div class="apply_check_button">通过</div>
        <div class="apply_check_unpass">不通过</div>
      </div>

      

    </div>
  </div>
</div>


{%include file="$root/template/common/footer.html"%}
  </body>
</html>