<!DOCTYPE html>
<html>
<head>
  <title>Wow Kitchen & Bath</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../../../template/common/css/common.css">
  <link rel="stylesheet" type="text/css" href="../../account/css/admin.css">
</head>
<body>
{%include file="$root/template/common/navbar.html"%}

<div id="body_dash">
    {%include file="$root/template/common/sidebar.html"%}
  <div id="admin_main">
      <div id="admin_content">
          <div class="admin_total">总共上传
            <div class="admin_total_num">{%$count|default:''%}</div>
          </div>
        
      </div>
  </div>
</div>


{%include file="$root/template/common/footer.html"%}

  </body>
</html>