<!DOCTYPE html>
<html>
<head>
  <title>Wow Kitchen & Bath</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/template/common/css/common.css">
  <link rel="stylesheet" type="text/css" href="/account/css/admin.css">
</head>
<body>
{%include file="$root/template/common/navbar.html"%}

<div id="body_dash">
    {%include file="$root/template/common/sidebar.html"%}

  <div id="admin_main">
  <a href="#">返回</a>      
      <div id="admin_content">

<!-- 物料商申请认证 -->
        <div id="supplier_apply">
        <table class="applycheck">
          <tr>
            <td class="applycheck_label">公司名称</td>
            <td class="applycheck_content">grandjk</td>
          </tr>
          <tr>
            <td class="applycheck_label">品牌名称</td>
            <td class="applycheck_content">JK</td>
          </tr>
          <tr>
            <td class="applycheck_label">公司分类</td>
            <td class="applycheck_content">生产制造</td>
          </tr>
          <tr>
            <td class="applycheck_label">产品产地</td>
            <td class="applycheck_content">中国上海</td>
          </tr>
          <tr>
            <td class="applycheck_label">产品品类</td>
            <td class="applycheck_content">橱柜，台面</td>
          </tr>
          <tr>
            <td class="applycheck_label">销售区域范围</td>
            <td class="applycheck_content">北美</td>
          </tr>
          <tr>
            <td class="applycheck_label">销售网点数量</td>
            <td class="applycheck_content">20</td>
          </tr>
          <tr>
            <td class="applycheck_label">公司网站</td>
            <td class="applycheck_content">www.grandjk.com</td>
          </tr>
          <tr>
            <td class="applycheck_label">联系人</td>
            <td class="applycheck_content">grandjk</td>
          </tr>
          <tr>
            <td class="applycheck_label">联系电话</td>
            <td class="applycheck_content">11111111111</td>
          </tr>
          <tr>
            <td class="applycheck_label">邮箱</td>
            <td class="applycheck_content">grandjk@xxxxx.com</td>
          </tr>
          <tr>
            <td class="applycheck_label">公司地址</td>
            <td class="applycheck_content">1111 XXX RD, grandjk</td>
          </tr>
          <tr>
            <td class="applycheck_label">生产／仓储／零售门店地址</td>
            <td class="applycheck_content">grandjk</td>
          </tr>
          <tr>
            <td class="applycheck_label">公司描述</td>
            <td class="applycheck_content applycheck_des"><div>grsdf sdfs df sd fsdfsdfa ndjkgrsdfsdfs dfsdfsdfsd fandjkgr sdfsdfsdfsd fsdfsdfandjkg rsdfs dfsdfsdfsdf sdfandjkgrsdfsdfsdfsdfsdfsdf andjkgrsdfsdfsdfsfgdgfgdfsfsdfsdf sfsdfsdfsgrsdfsdfsdfsdfsdfsdfandjkgrs dfsdfsdfsd   fsdfsd fandjkgrsdf sdfsdfsdfsd fsdfandjk grsdfsdfs dfsdfsdfsdfand jkgrsdfsdfsdfs dfsdfsdfandjk grsdf  sd fsdfsfgd gfgdfsfsdf sd fsfsdfsdfsg rsdfsdfsdfsdfsdfsdfandjkgr sdfsdf sdfsdfsdfsdfandjkg rsdfsd fsdfsdf sdfsdfandjkgrsd fsdfsdfsd fsdfsdfandj kgrsdfsdfsd fsdf sdfsdfandjkgrsdfsdfsdfsfgdgfgdfsfsdf sdfsfsdfsdfs</div></td>      
          </tr>
        </table>
        <div class="apply_check_button">通过</div>
        <div class="apply_check_unpass">不通过</div>
      </div>



  <!-- 设计师认证信息 -->
       <div id="supplier_apply">
        <table class="applycheck">
          <tr>
            <td class="applycheck_label">设计领域</td>
            <td class="applycheck_content">家具设计 空间规划</td>
          </tr>
          <tr>
            <td class="applycheck_label">姓名</td>
            <td class="applycheck_content">James</td>
          </tr>
          <tr>
            <td class="applycheck_label">毕业院校</td>
            <td class="applycheck_content">加州大学洛杉矶分校</td>
          </tr>
          <tr>
            <td class="applycheck_label">专业</td>
            <td class="applycheck_content">室内设计</td>
          </tr>
          <tr>
            <td class="applycheck_label">擅长软件</td>
            <td class="applycheck_content">3dmax, Maya</td>
          </tr>
          <tr>
            <td class="applycheck_label">服务报价</td>
            <td class="applycheck_content">$200/h</td>
          </tr>
          <tr>
            <td class="applycheck_label">邮箱</td>
            <td class="applycheck_content">James@gmail.com</td>
          </tr>
          <tr>
            <td class="applycheck_label">电话</td>
            <td class="applycheck_content">2222222222</td>
          </tr>
          <tr>
            <td class="applycheck_label">个人网站</td>
            <td class="applycheck_content">www.xxx.com</td>
          </tr>
          <tr>
            <td class="applycheck_label">居住地址</td>
            <td class="applycheck_content">222 XXX St, XXX</td>
          </tr>
        </table>
        <div class="apply_check_button">通过</div>
        <div class="apply_check_unpass">不通过</div>
      </div>


  <!-- 施工商认证信息 -->
       <div id="supplier_apply">
        <table class="applycheck">
          <tr>
            <td class="applycheck_label">公司名称</td>
            <td class="applycheck_content">XXX施工</td>
          </tr>
          <tr>
            <td class="applycheck_label">品牌名称</td>
            <td class="applycheck_content">XX</td>
          </tr>
          <tr>
            <td class="applycheck_label">服务区域</td>
            <td class="applycheck_content">San Jose</td>
          </tr>
          <tr>
            <td class="applycheck_label">服务项目</td>
            <td class="applycheck_content">室内装修</td>
          </tr>
          <tr>
            <td class="applycheck_label">联系人</td>
            <td class="applycheck_content">XXX</td>
          </tr>
          <tr>
            <td class="applycheck_label">联系电话</td>
            <td class="applycheck_content">3333333333</td>
          </tr>
          <tr>
            <td class="applycheck_label">邮箱</td>
            <td class="applycheck_content">XXX@xXX.com</td>
          </tr> 
          <tr>
            <td class="applycheck_label">公司网站</td>
            <td class="applycheck_content">www.construct.com</td>
          </tr>
          <tr>
            <td class="applycheck_label">地址</td>
            <td class="applycheck_content">333 XX rd, XXX</td>
          </tr>
        </table>
        <div class="apply_check_button">通过</div>
        <div class="apply_check_unpass">不通过</div>
      </div>

  <!-- 用户预约定制服务 -->
       <div id="supplier_apply">
        <table class="applycheck">
          <tr>
            <td class="applycheck_label">预约作品名称</td>
            <td class="applycheck_content">奶油色枫木橱柜定制</td>
          </tr>
          <tr>
            <td class="applycheck_label">预约作品类别</td>
            <td class="applycheck_content">家居定制</td>
          </tr>
          <tr>
            <td class="applycheck_label">姓名</td>
            <td class="applycheck_content">San Jose</td>
          </tr>
          <tr>
            <td class="applycheck_label">联系电话</td>
            <td class="applycheck_content">3333333333</td>
          </tr>
          <tr>
            <td class="applycheck_label">邮箱</td>
            <td class="applycheck_content">XXX@xXX.com</td>
          </tr> 
          <tr>
            <td class="applycheck_label">地址</td>
            <td class="applycheck_content">333 XX rd, XXX</td>
          </tr>
          <tr>
            <td class="applycheck_label">服务需求</td>
            <td class="applycheck_content applycheck_des"><div>grsdf sdfs df sd fsdfsdfa ndjkgrsdfsdfs dfsdfsdfsd fandjkgr sdfsdfsdfsd fsdfsdfandjkg rsdfs dfsdfsdfsdf sdfandjkgrsdfsdfsdfsdfsdfsdf andjkgrsdfsdfsdfsfgdgfgdfsfsdfsdf sfsdfsdfsgrsdfsdfsdfsdfsdfsdfandjkgrs dfsdfsdfsd   fsdfsd fandjkgrsdf sdfsdfsdfsd fsdfandjk grsdfsdfs dfsdfsdfsdfand jkgrsdfsdfsdfs dfsdfsdfandjk grsdf  sd fsdfsfgd gfgdfsfsdf sd fsfsdfsdfsg rsdfsdfsdfsdfsdfsdfandjkgr sdfsdf sdfsdfsdfsdfandjkg rsdfsd fsdfsdf sdfsdfandjkgrsd fsdfsdfsd fsdfsdfandj kgrsdfsdfsd fsdf sdfsdfandjkgrsdfsdfsdfsfgdgfgdfsfsdf sdfsfsdfsdfs</div></td>      
          </tr>
        </table>
        <div class="apply_check_button">通过</div>
        <div class="apply_check_unpass">不通过</div>
      </div>

      

    </div>
  </div>
</div>


{%include file="$root/template/common/footer.html"%}
  </body>
</html>