<!DOCTYPE html>
<html>
<head>
  <title>Wow Kitchen & Bath</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/template/common/css/common.css">
  <link rel="stylesheet" type="text/css" href="/account/css/admin.css">
</head>
<body>
{%include file="$root/template/common/navbar.html"%}

<div id="body_dash">
    {%include file="$root/template/common/sidebar.html"%}

  <div id="admin_main">
 
      <div id="admin_content">


  <!-- 用户预约定制服务 -->
       <div id="supplier_apply">
        <table class="applycheck">
          <tr>
            <td class="applycheck_label">预约作品名称</td>
            <td class="applycheck_content">{%$res['name']|default:''%}</td>
          </tr>
          <tr>
            <td class="applycheck_label">预约作品类别</td>
            <td class="applycheck_content">{%$res['service_type']|default:''%}</td>
          </tr>
          <tr>
            <td class="applycheck_label">姓名</td>
            <td class="applycheck_content">{%$res['email']|default:''%}</td>
          </tr>
          <tr>
            <td class="applycheck_label">联系电话</td>
            <td class="applycheck_content">{%$res['tel']|default:''%}</td>
          </tr>
          <tr>
            <td class="applycheck_label">邮箱</td>
            <td class="applycheck_content">{%$res['email']|default:''%}</td>
          </tr> 
          <tr>
            <td class="applycheck_label">地址</td>
            <td class="applycheck_content">{%$res['address']|default:''%}</td>
          </tr>
          <tr>
            <td class="applycheck_label">服务需求</td>
            <td class="applycheck_content applycheck_des"><div>{%$res['demand']|default:''%}</div></td>      
          </tr>
        </table>
        <div class="apply_check_button">通过</div>
        <div class="apply_check_unpass">不通过</div>
      </div>

      

    </div>
  </div>
</div>


{%include file="$root/template/common/footer.html"%}
  </body>
</html>