<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Wowkb</title>
<link rel="shortcut icon" type="image/x-icon" href="/image/favicon.ico">
<link rel="stylesheet" type="text/css" href="/template/common/css/common.css">
<link rel="stylesheet" type="text/css" href="/account/css/admin.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

{%include file="$root/template/common/navbar_prewowkb.html"%}

<div id="body_dash">
	{%include file="$root/template/common/sidebar.html"%}

	<div id="admin_main">
	<div class="dash_top">管理物料 / 批量上传 / 批量上传图片</div>

		<div id="admin_upload">
		  <form  action="/account/admin.php?act=multipics_process" enctype="multipart/form-data"  method="post">
			<input type="file" id="file" name="files[]"  class="custom-file-upload" multiple="multiple"/>
			<input id="multi_pic_submit" type="submit" name="submit" value="提交">
		  </form>
		</div>
		
	</div>
</div>
</body>
</html>