<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Wow Kitchen & Bath</title>
<link rel="shortcut icon" type="image/x-icon" href="/image/favicon.ico">
<link rel="stylesheet" type="text/css" href="../../../template/common/css/common.css">
<link rel="stylesheet" type="text/css" href="../../account/css/admin.css">
</head>
<body>
{%include file="$root/template/common/navbar.html"%}


<div id="body_dash">
  {%include file="$root/template/common/sidebar.html"%}
    
  <div id="admin_main">
    <div class="productLink topspace">  
        <a href="/admin/admin.php?act=index">返回</a>
    </div>

    <form  method="post" action="/account/admin.php?act=single_modify">
        <div id="table_flow">
        <table id="multiupload">
            <tr>
                <th>图片</th>
                <th>系统编号</th>
                <th>品牌</th>
                <th>编号</th>
                <th>名称</th>
                <th>品类</th>
                <th>材质</th>
                <th>款式</th>
                <th>颜色</th>
                <th>宽高深</th>
                <th>重量</th>
                <th class="cell_style">内容描述</th>
                <th>零售价格</th>
                <th>折扣价格</th>
                <th>折扣比例</th>
                <th>库存</th>
                <th>单位</th>
                <th>文件格式</th>
                <th>文件类型</th>
                <th>文件大小</th>
            </tr>
             {%foreach from=$res key=k item=result %} 
            <tr>
                <td><img  id="pic_path" class="product_pic" src="{%$result['pic_path']|default:''%}"></td>
                <td>{%$result['item_id']|default:''%}</td>
                <input size="10" type="hidden" name="item_id" value="{%$result['item_id']|default:''%}">
                <td><input size="10" type="text" name="brand" value="{%$result['brand']|default:''%}"></td>
                <td><input size="10" type="text" name="num" value="{%$value['project_no']|default:''%}"></td>
                <td>Creme Maple Glazed</td>
                <td>Base Carbinet</td>
                <td>Wood</td>
                <td>A7</td>
                <td>白色</td>
                <td>w9 h34-1/2 d24</td>
                <td>37</td>
                <td class="cell_style"><input size="20" type="text" name="description" value="{%$result['description']|default:''%}"></td>
                <td><input size="10" type="text" name="price" value="${%$value['retail_price']|default:''%}"></td>
                <td>$114</td>
                <td>49%</td>
                <td>100</td>
                <td>Pieces</td>
                <td>{%$result['file_format']|default:''%}</td>
                <td>{%$result['file_type']|default:''%}</td>
                <td>{%$result['file_size']|default:''%} M</td>
            </tr>
           {%/foreach%} 
        </table>
    </div>
            {%include file="$root/template/ssi/pagenav.html"%}
        <input class="multi_preview_submit" type="submit" name="submit" value="提交">
    </form>
  </div>
</div>

{%include file="$root/template/common/footer.html"%}
  </body>
</html>