<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Wowkb</title>
<link rel="shortcut icon" type="image/x-icon" href="/image/favicon.ico">
<link rel="stylesheet" type="text/css" href="../../../template/common/css/common.css">
<link rel="stylesheet" type="text/css" href="../../account/css/admin.css">
</head>
<body>

{%include file="$root/template/common/navbar.html"%}

<div id="body_dash">
	{%include file="$root/template/common/sidebar.html"%}

	<div id="admin_main">

	  <div class="productLink topspace"><a href="admin_manage.html">管理物料</a>/批量上传/批量上传图片</div>

		<div id="admin_upload">
		  <form  action="/account/admin.php?act=multipics_process" enctype="multipart/form-data"  method="post">
			<input type="file" id="file" name="files[]"  class="custom-file-upload" multiple="multiple"/>
			<input id="multi_pic_submit" type="submit" name="submit" value="提交">
		  </form>
		</div>

        <div id="admin_content">
        
        	<table id="productList">
        	  <tr>
          		<th>图片</th>
                <th>系统编号</th>
                <th>品牌</th>
                <th>编号</th>
                <th>名称</th>
                <th>品类</th>
                <th>材质</th>
                <th>款式</th>
                <th>颜色</th>
                <th>宽高深</th>
                <th>重量</th>
                <th>内容描述</th>
                <th>零售价格</th>
                <th>折扣价格</th>
                <th>折扣比例</th>
                <th>库存</th>
                <th>单位</th>
                <th>文件格式</th>
                <th>文件类型</th>
                <th>文件大小</th>
        	  </tr>
            {%foreach from=$res key=i item=value%}
        	  <tr>
          		<td><img id="product_pic" src=".{%$value['pic_path']|default:''%}"></td>
                <td>{%$value['item_id']|default:''%}</td>
          			<td>{%$value['brand']|default:''%}</td>
                <td>{%$value['project_no']|default:''%}</td>
                <td>{%$value['category']|default:''%}</td>
                <td>Base Carbinet</td>
                <td>Wood</td>
                <td>A7</td>
                <td>白色</td>
                <td>w9 h34-1/2 d24</td>
                <td>37</td>
                <td>{%$value['description']|default:''%}</td>
                <td>${%$value['retail_price']|default:''%}</td>
                <td>$114</td>
                <td>49%</td>
                <td>100</td>
                <td>Pieces</td>
                <td>{%$value['file_format']|default:''%}</td>
                <td>{%$result['file_type']|default:''%}</td>
                <td>{%$value['file_size']|default:''%}</td>
        	  </tr>
            {%/foreach%}

      		</table>
      		<a class="multi_submit_save" href="admin_manage.html">保存</a>
    	</div>
	</div>
</div>
{%include file="$root/template/common/footer.html"%}
</body>
</html>