<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Wow Kitchen & Bath</title>
<link rel="shortcut icon" type="image/x-icon" href="/image/favicon.ico">
<link rel="stylesheet" type="text/css" href="../../../template/common/css/common.css">
<link rel="stylesheet" type="text/css" href="../../account/css/admin.css">
</head>
<body>
{%include file="$root/template/common/navbar.html"%}

<div id="body_dash">
  {%include file="$root/template/common/sidebar.html"%}
    
    <div id="admin_main">
      <div class="productLink topspace">  
        <a href="/account/admin.php?act=index">返回</a>
      </div>
  

    <form  method="post" action="/account/admin.php?act=single_modify">
      <table id="multiupload">
        <tr>
          <th><input id="toggle" type="checkbox"></th>
          <th>图片</th>
          <th>系统编号</th>
          <th>品牌</th>
          <th>编号</th>
          <th>名称</th>
          <th>品类</th>
          <th>材质</th>
          <th>款式</th>
          <th>颜色</th>
          <th>宽高深</th>
          <th>重量</th>
          <th>内容描述</th>
          <th>零售价格</th>
          <th>折扣价格</th>
          <th>折扣比例</th>
          <th>库存</th>
          <th>单位</th>
          <th>文件格式</th>
          <th>文件类型</th>
          <th>文件大小</th>
        </tr>
        
        <tr>
          <td><input id="toggle" type="checkbox"></td>
          <td><img  id="pic_path" class="product_pic" src="{%$res['pic_path']|default:''%}"></td>
          <td>{%$res['item_id']|default:''%}</td>
          <input type="hidden" name="item_id" value="{%$res['item_id']|default:''%}">
          <td><input type="text" name="brand" value="{%$res['brand']|default:''%}"></td>
          <td><input type="text" name="project_no" value="{%$res['project_no']|default:''%}"></td>
          <td>Creme Maple Glazed</td>
          <td>Base Carbinet</td>
          <td>Wood</td>
          <td>A7</td>
          <td>白色</td>
          <td>w9 h34-1/2 d24</td>
          <td>37</td>
          <td><input type="text" name="description" value="{%$res['description']|default:''%}"></td>
          <td><input type="text" name="price" value="{%$res['retail_price']|default:''%}"></td>         
          <td>$114</td>
          <td>49%</td>
          <td>100</td>
          <td>Pieces</td>   
          <td>{%$res['file_format']|default:''%}</td>
          <td>{%$res['file_type']|default:''%}</td>
          <td>{%$res['file_size']|default:''%} M</td>
        </tr> 
      </table>
      <input class="multi_preview_submit" type="submit" name="submit" value="保存"> 
</form>
 </div>


      </div>

  </div>


</div>


  </body>
</html>