<!DOCTYPE html>
<html>
<head>
  <title>Wow Kitchen & Bath</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../../../template/common/css/common.css">
  <link rel="stylesheet" type="text/css" href="/supplier/css/supplier.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

{%include file="$root/template/common/navbar.html"%}


<div id="header">
<div id="supplier_header"></div>

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>
<div id="supplier_header_show">
          <div id="header_show_title">
            Creme Maple Glazed Vanity
          </div>
          <div id="header_show_des">
            Creme Maple Glazed VanityCreme Maple Glazed VanityCreme Maple Glazed Vanity
          </div>
        </div>
    <!-- Wrapper for slides -->
    <div class="carousel-inner header_box" role="listbox">

      <div class="item active">
<!--         <div id="supplier_header_show">
          <div id="header_show_title">
            Creme Maple Glazed Vanity
          </div>
          <div id="header_show_des">
            Creme Maple Glazed VanityCreme Maple Glazed VanityCreme Maple Glazed Vanity
          </div>
        </div> -->
        <a href="#"><img id="hero" src="../../image/header8.jpg" alt="Chania"></a>
      </div>

      <div class="item">
<!--         <div id="supplier_header_show">
          <div id="header_show_title">
            Creme Maple Glazed Vanity
          </div>
          <div id="header_show_des">
            Creme Maple Glazed VanityCreme Maple Glazed VanityCreme Maple Glazed Vanity
          </div>
        </div> -->
        <a href="#"><img id= "hero" src="../../image/header4.jpg" alt="Chania"></a>
      </div>
    
      <div class="item">
<!--         <div id="supplier_header_show">
          <div id="header_show_title">
            Creme Maple Glazed Vanity
          </div>
          <div id="header_show_des">
            Creme Maple Glazed VanityCreme Maple Glazed VanityCreme Maple Glazed Vanity
          </div>
        </div> -->
        <a href="#"><img id= "hero" src="../../image/header8.jpg" alt="Flower"></a>
      </div>

      <div class="item">
   <!--      <div id="supplier_header_show">
          <div id="header_show_title">
            Creme Maple Glazed Vanity
          </div>
          <div id="header_show_des">
            Creme Maple Glazed VanityCreme Maple Glazed VanityCreme Maple Glazed Vanity
          </div>
        </div> -->
        <a href="#"><img id= "hero" src="../../image/header6.jpg" alt="Flower"></a>
      </div>

      <div class="item">
<!--         <div id="supplier_header_show">
          <div id="header_show_title">
            Creme Maple Glazed Vanity
          </div>
          <div id="header_show_des">
            Creme Maple Glazed VanityCreme Maple Glazed VanityCreme Maple Glazed Vanity
          </div>
        </div> -->
        <a href="#"><img id= "hero" src="../../image/header8.jpg" alt="Flower"></a>
      </div>
  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div><!-- header -->
<div class="supplier_menu">
  <div class="supplier_menu_button">简介</div>
  <div class="supplier_menu_button supplier_menu_choose">作品</div>
  <div class="supplier_menu_button">产品</div>
  <div class="supplier_menu_button">服务</div>
  <div class="supplier_menu_button">Showroom</div>
</div>

<div id="body">
    <div id="supplier_main_content_grey">
      <div id="mainarea_topbar">
        <div class="mainarea_topbar_button">好评</div>
        <div class="mainarea_topbar_button">精选</div>
        <div class="mainarea_topbar_button">热门</div>
        <div class="mainarea_topbar_button">关注量</div>
        <div class="mainarea_topbar_button">在线</div>
      </div>

    <div class="mainArea">         
      <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img src="../../image/jk7.png">
          </div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">美式厨房设计</div>
            <div class="admin_collect_designer">设计师：XXX</div>
          </div>
          <div class="designs_icon">
              <img class="subtitle_icon1" src="../../image/see.png">
              <div class="icon_title">234</div>
              <img class="subtitle_icon2" src="../../image/like.png">
              <div class="icon_title">12</div>
            </div>
        </div>
      </a>
       
      <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img src="../../image/jk1.png">
          </div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">美式厨房设计</div>
            <div class="admin_collect_designer">设计师：XXX</div>
          </div>
          <div class="designs_icon">
              <img class="subtitle_icon1" src="../../image/see.png">
              <div class="icon_title">234</div>
              <img class="subtitle_icon2" src="../../image/like.png">
              <div class="icon_title">12</div>
            </div>
        </div>
      </a>

              <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img src="../../image/jk2.png">
          </div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">美式厨房设计</div>
            <div class="admin_collect_designer">设计师：XXX</div>
          </div>
          <div class="designs_icon">
              <img class="subtitle_icon1" src="../../image/see.png">
              <div class="icon_title">234</div>
              <img class="subtitle_icon2" src="../../image/like.png">
              <div class="icon_title">12</div>
            </div>
        </div>
      </a>
   
              <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img src="../../image/jk3.png">
          </div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">美式厨房设计</div>
            <div class="admin_collect_designer">设计师：XXX</div>
          </div>
          <div class="designs_icon">
              <img class="subtitle_icon1" src="../../image/see.png">
              <div class="icon_title">234</div>
              <img class="subtitle_icon2" src="../../image/like.png">
              <div class="icon_title">12</div>
            </div>
        </div>
      </a>
   
              <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img src="../../image/jk4.png">
          </div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">美式厨房设计</div>
            <div class="admin_collect_designer">设计师：XXX</div>
          </div>
          <div class="designs_icon">
              <img class="subtitle_icon1" src="../../image/see.png">
              <div class="icon_title">234</div>
              <img class="subtitle_icon2" src="../../image/like.png">
              <div class="icon_title">12</div>
            </div>
        </div>
      </a>
       
              <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img src="../../image/jk5.png">
          </div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">美式厨房设计</div>
            <div class="admin_collect_designer">设计师：XXX</div>
          </div>
          <div class="designs_icon">
              <img class="subtitle_icon1" src="../../image/see.png">
              <div class="icon_title">234</div>
              <img class="subtitle_icon2" src="../../image/like.png">
              <div class="icon_title">12</div>
            </div>
        </div>
      </a>

              <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img src="../../image/jk6.png">
          </div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">美式厨房设计</div>
            <div class="admin_collect_designer">设计师：XXX</div>
          </div>
          <div class="designs_icon">
              <img class="subtitle_icon1" src="../../image/see.png">
              <div class="icon_title">234</div>
              <img class="subtitle_icon2" src="../../image/like.png">
              <div class="icon_title">12</div>
            </div>
        </div>
      </a>
    
              <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img src="../../image/jk7.png">
          </div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">美式厨房设计</div>
            <div class="admin_collect_designer">设计师：XXX</div>
          </div>
          <div class="designs_icon">
              <img class="subtitle_icon1" src="../../image/see.png">
              <div class="icon_title">234</div>
              <img class="subtitle_icon2" src="../../image/like.png">
              <div class="icon_title">12</div>
            </div>
        </div>
      </a>
      
              
         </div>
   <!--       <div id="show_more">显示更多</div> -->
    </div> <!-- mainContent -->
</div>

<!--   {%include file="$root/template/common/footer.html"%} -->
<div id="bottombar">
    <div class="bottom_content">
      <div class="bottom_link">
        <div class="bottom_link_line">
          <ul class="bottom_list">
            <li>关于我们</li>
            <li>联系我们</li>
            <li>加入我们</li>
          </ul>
        </div>
        <div class="bottom_blank"></div>
        <div class="bottom_link_line">
          <div id="footer_partner">合作伙伴</div>
      <img id="footer_logo" src="../../image/bottom_logo.png">
        </div>
      </div>
    
</div>
<script type="text/javascript">
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
  
</body>
</html>

