<!DOCTYPE html>
<html>
<head>
  <title>Wow Kitchen & Bath</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../common/css/common.css">
  <link rel="stylesheet" type="text/css" href="../../admin/admin.css">
  <script src="../../js/product.js"></script>
</head>
<body>
{%include file="$root/templete/common/navbar.html"%}

<div id="body_dash">
    {%include file="$root/templete/common/sidebar.html"%}

  <div id="admin_main">
      <div id="admin_content">
          <div class="admin_total">总共上传
            <div class="admin_total_num">34095</div>
          </div>
          <div class="admin_history">上传记录
            <div class="admin_history_detail">2017.1.2上传456条
            </div>
          </div>
      </div>
  </div>
</div>


{%include file="$root/templete/common/footer.html"%}

  </body>
</html>