#all{
	padding-top: 61px;
}
#admin_sidebar{
	width:200px;
	border:0px solid red;
	display: inline-block;
	vertical-align: top;
}
#admin_button{
	display: block;
	border:1px solid black;
	height:30px;
	padding-top: 10px;
	text-align: center;
}
#admin_main{
	display: inline-block;
	vertical-align: top;
/*	width: 1000px;*/
	height:300px;
	border: 0px solid grey;
}
#admin_edit_button{
	width:100px;
	height:30px;
	background-color: grey;
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
}
.dropdown {
	width:100px;
	height:30px;
	background-color: grey;
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
  	position: relative;

}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
#multiupload{
	width: 1000px;
}
input{
	width: 20px;
}
#uploadsubmit{
	width: 50px;
	height:20px;
}
#form{
	width: 500px;
	height: 300px;
	border: 0px solid red;
}
#design_row{
	width: 1100px;
	height:300px;
	border: 0px solid red;
}
#design_project{
	width: 300px;
	height:220px;
	border: 0px solid red;
	display: inline-block;
	vertical-align: top;
}
#design_blank{
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: top;
}
