<!DOCTYPE html>
<html>
<head>
	<title>Wow Kitchen & Bath</title>
	<link rel="shortcut icon" type="image/x-icon" href="../../image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../common/css/common.css">
  <link rel="stylesheet" type="text/css" href="../../page/page.css">
</head>
<body>

{%include file="$root/template/common/navbar.html"%}

	<div id="header">		
		<div id="header_title">
			<div id="header_titlet">定制您的梦想家园</div>
			<div id="header_titlep">现在就注册开始您的个人专属假装定制。</div>
			<a href="#"><div id="header_titleb">注册</div></a>
		</div>
		<div id="header_bg">
			<img id="header_img" src="../../image/header.jpg">
		</div>
	</div>

	<div id="introduction">
		<div id="intro_content">
			<div id="intro_t">我们的价值创新</div>
			<div id="intro_p">家装工作是繁琐的，我们正努力让它变得简单，通过与设计师/物料商/服务商分享与协作，来共同打造你的梦想家园。</div>
		</div>
	</div>



<div id="body_white">
	<div id="service_intro">
		<div id="service">
			<div id="service_icon">
				<img id="index_icon1" src="../../image/indexicon1.png">
			</div>
			<div id="serivce_t">即时在线交互设计</div>
			<div id="service_p">您可根据优秀的设计作品在线与专业设计师进行交流与沟通。轻松定制属于您个人的专属设计。
			</div>
		</div>

		<div id="service">
			<div id="service_icon">
				<img id="index_icon2" src="../../image/indexicon2.png">
			</div>
			<div id="serivce_t">家装效果模拟测试</div>
			<div id="service_p">根据您的设计，网站将即时呈现家装的3D和VR效帮助您身临其境的选择您喜欢的家装设计和家电搭配。
			</div>
		</div>

		<div id="service">
			<div id="service_icon">
				<img id="index_icon3" src="../../image/indexicon3.png">
			</div>
			<div id="serivce_t">全网价格对比</div>
			<div id="service_p">全网的价格对比呈现将保证每一位顾客最低的消费价格。
			</div>
		</div>

	</div>


	<div class="design">

		<div id="index_subtitle">
			<div id="subtitle_t">优秀设计</div>
			<div id="subtitle_p">专业的设计，所见即所得</div>
			<a href="#"></a><div id="subtitle_more">更多</div></a>
		</div>

	<a href="#">
		<div class="design_project">
			<img class="project_img" src="../../image/project1.png">
			<div class="project_title">XX美式厨房设计</div>
			<div class="project_designer">设计师：XXX</div>
			<div class="design_main_subtitle">
            	<img class="subtitle_icon1" src="../../image/see.png">
            	<div class="icon_title">234</div>
            	<img class="subtitle_icon2" src="../../image/like.png">
           		<div class="icon_title">12</div>
          	</div>		
		</div>
	</a>

		<div class="design_project">
			<img class="project_img" src="../../image/project2.png">
			<div class="project_title">XX美式厨房设计</div>
			<div class="project_designer">设计师：XXX</div>
			<div class="design_main_subtitle">
            	<img class="subtitle_icon1" src="../../image/see.png">
            	<div class="icon_title">234</div>
            	<img class="subtitle_icon2" src="../../image/like.png">
           		<div class="icon_title">12</div>
          	</div>		
		</div>

	

		<div class="design_project">
			<img class="project_img" src="../../image/project3.png">
			<div class="project_title">XX美式厨房设计</div>
			<div class="project_designer">设计师：XXX</div>
			<div class="design_main_subtitle">
            	<img class="subtitle_icon1" src="../../image/see.png">
            	<div class="icon_title">234</div>
            	<img class="subtitle_icon2" src="../../image/like.png">
           		<div class="icon_title">12</div>
          	</div>		
		</div>

		<div class="design_project">
			<img class="project_img" src="../../image/t1.jpg">
			<div class="project_title">XX美式厨房设计</div>
			<div class="project_designer">设计师：XXX</div>
			<div class="design_main_subtitle">
            	<img class="subtitle_icon1" src="../../image/see.png">
            	<div class="icon_title">234</div>
            	<img class="subtitle_icon2" src="../../image/like.png">
           		<div class="icon_title">12</div>
          	</div>		
		</div>

		<div class="design_project">
			<img class="project_img" src="../../image/t2.jpg">
			<div class="project_title">XX美式厨房设计</div>
			<div class="project_designer">设计师：XXX</div>
			<div class="design_main_subtitle">
            	<img class="subtitle_icon1" src="../../image/see.png">
            	<div class="icon_title">234</div>
            	<img class="subtitle_icon2" src="../../image/like.png">
           		<div class="icon_title">12</div>
          	</div>		
		</div>
	
		<div class="design_project">
			<img class="project_img" src="../../image/t3.jpg">
			<div class="project_title">XX美式厨房设计</div>
			<div class="project_designer">设计师：XXX</div>
			<div class="design_main_subtitle">
            	<img class="subtitle_icon1" src="../../image/see.png">
            	<div class="icon_title">234</div>
            	<img class="subtitle_icon2" src="../../image/like.png">
           		<div class="icon_title">12</div>
          	</div>		
		</div>

	</div>

</div>
	<div id="process_price">
		<div class="blank_100"></div>
		<div id="process">
			<div id="process_title">服务流程</div>
			<div class="blank_60"></div>
			<div id="process_content">
				<div class="process_step">
					<div class="process_icon">
						<img class="process_icon_pic" src="../../image/icon1.png">
					</div>
					<div class="process_descript">免费注册开始您的设计</div>
				</div>
				<div class="process_step">
					<div class="process_icon">
						<img class="process_icon_pic" src="../../image/icon2.png">
					</div>
					<div class="process_descript">找到您喜欢的设计或设计师</div>
				</div>
				<div class="process_step">
					<div class="process_icon">
						<img class="process_icon_pic" src="../../image/icon3.png">
					</div>
					<div class="process_descript">与设计师在线沟通您的定制</div>
				</div>
				<div class="process_step">
					<div class="process_icon">
						<img class="process_icon_pic" src="../../image/icon4.png">
					</div>
					<div class="process_descript">设计师为您打造专属设计</div>
				</div>
			</div>
		</div>

		<div class="blank_100"></div>
	</div>

{%include file="$root/template/common/footer.html"%}

</body>
</html>

