<!DOCTYPE html>
<html>
<head>
  <title>Wow Kitchen & Bath</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../../template/common/css/common.css">
  <link rel="stylesheet" type="text/css" href="../css/supplier.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

{%include file="$root/template/common/navbar.html"%}

<div id="body">
    <div id="supplier_main_content_grey">
      <a href="" class="search_back">返回</a>
      <div class="search_top">
        <img class="search_img" src="../../image/jk/S8 - White Maple-min.jpg">
        <div class="search_img_info">
          <h4>S8 - White Maple</h4>
          <p>By Grand JK</p>
          <p>$20</p>
          </br>
          <p>使用此产品的作品共 XXX 件</p>
        </div>
      </div>

    <div class="mainArea">         
      <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img src="../../image/jk7.png">
          </div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">美式厨房设计</div>
            <div class="admin_collect_designer">设计师：XXX</div>
          </div>
          <div class="designs_icon">
              <img class="subtitle_icon1" src="../../image/see.png">
              <div class="icon_title">234</div>
              <img class="subtitle_icon2" src="../../image/like.png">
              <div class="icon_title">12</div>
            </div>
        </div>
      </a>
       
      <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img src="../../image/jk1.png">
          </div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">美式厨房设计</div>
            <div class="admin_collect_designer">设计师：XXX</div>
          </div>
          <div class="designs_icon">
              <img class="subtitle_icon1" src="../../image/see.png">
              <div class="icon_title">234</div>
              <img class="subtitle_icon2" src="../../image/like.png">
              <div class="icon_title">12</div>
            </div>
        </div>
      </a>

              <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img src="../../image/jk2.png">
          </div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">美式厨房设计</div>
            <div class="admin_collect_designer">设计师：XXX</div>
          </div>
          <div class="designs_icon">
              <img class="subtitle_icon1" src="../../image/see.png">
              <div class="icon_title">234</div>
              <img class="subtitle_icon2" src="../../image/like.png">
              <div class="icon_title">12</div>
            </div>
        </div>
      </a>
   
              <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img src="../../image/jk3.png">
          </div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">美式厨房设计</div>
            <div class="admin_collect_designer">设计师：XXX</div>
          </div>
          <div class="designs_icon">
              <img class="subtitle_icon1" src="../../image/see.png">
              <div class="icon_title">234</div>
              <img class="subtitle_icon2" src="../../image/like.png">
              <div class="icon_title">12</div>
            </div>
        </div>
      </a>
   
              <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img src="../../image/jk4.png">
          </div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">美式厨房设计</div>
            <div class="admin_collect_designer">设计师：XXX</div>
          </div>
          <div class="designs_icon">
              <img class="subtitle_icon1" src="../../image/see.png">
              <div class="icon_title">234</div>
              <img class="subtitle_icon2" src="../../image/like.png">
              <div class="icon_title">12</div>
            </div>
        </div>
      </a>
       
              <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img src="../../image/jk5.png">
          </div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">美式厨房设计</div>
            <div class="admin_collect_designer">设计师：XXX</div>
          </div>
          <div class="designs_icon">
              <img class="subtitle_icon1" src="../../image/see.png">
              <div class="icon_title">234</div>
              <img class="subtitle_icon2" src="../../image/like.png">
              <div class="icon_title">12</div>
            </div>
        </div>
      </a>

              <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img src="../../image/jk6.png">
          </div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">美式厨房设计</div>
            <div class="admin_collect_designer">设计师：XXX</div>
          </div>
          <div class="designs_icon">
              <img class="subtitle_icon1" src="../../image/see.png">
              <div class="icon_title">234</div>
              <img class="subtitle_icon2" src="../../image/like.png">
              <div class="icon_title">12</div>
            </div>
        </div>
      </a>
    
              <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img src="../../image/jk7.png">
          </div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">美式厨房设计</div>
            <div class="admin_collect_designer">设计师：XXX</div>
          </div>
          <div class="designs_icon">
              <img class="subtitle_icon1" src="../../image/see.png">
              <div class="icon_title">234</div>
              <img class="subtitle_icon2" src="../../image/like.png">
              <div class="icon_title">12</div>
            </div>
        </div>
      </a>
      
              
         </div>
   <!--       <div id="show_more">显示更多</div> -->
    </div> <!-- mainContent -->
</div>

  {%include file="$root/template/common/footer.html"%}

<script type="text/javascript">
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
  
</body>
</html>

