<!DOCTYPE html>
<html>
<head>
  <title>Wow Kitchen & Bath</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../../template/common/css/common.css">
  <link rel="stylesheet" type="text/css" href="../css/supplier.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

{%include file="$root/template/common/navbar.html"%}

<div id="header">
<div id="supplier_header"></div>

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>
<div id="supplier_header_show">
          <div id="header_show_title">
            Creme Maple Glazed Vanity
          </div>
          <div id="header_show_des">
            Creme Maple Glazed VanityCreme Maple Glazed VanityCreme Maple Glazed Vanity
          </div>
        </div>
    <!-- Wrapper for slides -->
    <div class="carousel-inner header_box" role="listbox">

      <div class="item active">
<!--         <div id="supplier_header_show">
          <div id="header_show_title">
            Creme Maple Glazed Vanity
          </div>
          <div id="header_show_des">
            Creme Maple Glazed VanityCreme Maple Glazed VanityCreme Maple Glazed Vanity
          </div>
        </div> -->
        <a href="#"><img id="hero" src="../../image/header8.jpg" alt="Chania"></a>
      </div>

      <div class="item">
<!--         <div id="supplier_header_show">
          <div id="header_show_title">
            Creme Maple Glazed Vanity
          </div>
          <div id="header_show_des">
            Creme Maple Glazed VanityCreme Maple Glazed VanityCreme Maple Glazed Vanity
          </div>
        </div> -->
        <a href="#"><img id= "hero" src="../../image/header4.jpg" alt="Chania"></a>
      </div>
    
      <div class="item">
<!--         <div id="supplier_header_show">
          <div id="header_show_title">
            Creme Maple Glazed Vanity
          </div>
          <div id="header_show_des">
            Creme Maple Glazed VanityCreme Maple Glazed VanityCreme Maple Glazed Vanity
          </div>
        </div> -->
        <a href="#"><img id= "hero" src="../../image/header8.jpg" alt="Flower"></a>
      </div>

      <div class="item">
   <!--      <div id="supplier_header_show">
          <div id="header_show_title">
            Creme Maple Glazed Vanity
          </div>
          <div id="header_show_des">
            Creme Maple Glazed VanityCreme Maple Glazed VanityCreme Maple Glazed Vanity
          </div>
        </div> -->
        <a href="#"><img id= "hero" src="../../image/header6.jpg" alt="Flower"></a>
      </div>

      <div class="item">
<!--         <div id="supplier_header_show">
          <div id="header_show_title">
            Creme Maple Glazed Vanity
          </div>
          <div id="header_show_des">
            Creme Maple Glazed VanityCreme Maple Glazed VanityCreme Maple Glazed Vanity
          </div>
        </div> -->
        <a href="#"><img id= "hero" src="../../image/header8.jpg" alt="Flower"></a>
      </div>
  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div><!-- header -->
<div class="supplier_menu">
  <div class="supplier_menu_button">简介</div>
  <div class="supplier_menu_button">作品</div>
  <div class="supplier_menu_button supplier_menu_choose">产品</div>
  <div class="supplier_menu_button">服务</div>
  <div class="supplier_menu_button">Showroom</div>
</div>

<div id="body">
  <div id="supplier_main">

  <div id="supplier_main_content" style="-webkit-tap-highlight-color:rgba(0,0,0,0)" onclick="return true">

  <div id="dropdown_topbar">
    <div class="dropdown-menu">
        <span tabindex="0" onclick="return true">选择类别 &#9662;</span>
        <div tabindex="0" onclick="return true"></div>
        <ul class="dropdown_sub">
          <li><a href="#" onclick="sampleMenu(this)">厨房</a></li>
          <li><a href="#" onclick="sampleMenu(this)">浴室</a></li>
          <li><a href="#" onclick="sampleMenu(this)">卫生间</a></li>
        </ul>
    </div>
    <div class="dropdown-menu">
        <span tabindex="0" onclick="return true">选择规格 &#9662;</span>
        <div tabindex="0" onclick="return true"></div>
        <ul class="dropdown_sub">
          <li><a href="#" onclick="sampleMenu(this)">Item 1</a></li>
          <li><a href="#" onclick="sampleMenu(this)">Item 2</a></li>
          <li><a href="#" onclick="sampleMenu(this)">Last Item</a></li>
        </ul>
    </div>
    <div class="dropdown-menu">
        <span tabindex="0" onclick="return true">选择类别 &#9662;</span>
        <div tabindex="0" onclick="return true"></div>
        <ul class="dropdown_sub">
          <li><a href="#" onclick="sampleMenu(this)">Item 1</a></li>
          <li><a href="#" onclick="sampleMenu(this)">Item 2</a></li>
          <li><a href="#" onclick="sampleMenu(this)">Last Item</a></li>
        </ul>
    </div>
    <div class="dropdown-menu">
        <span tabindex="0" onclick="return true">选择类别 &#9662;</span>
        <div tabindex="0" onclick="return true"></div>
        <ul class="dropdown_sub">
          <li><a href="#" onclick="sampleMenu(this)">Item 1</a></li>
          <li><a href="#" onclick="sampleMenu(this)">Item 2</a></li>
          <li><a href="#" onclick="sampleMenu(this)">Last Item</a></li>
        </ul>
    </div>
  </div>

    <div class="mainArea"> 
      <div class="single">
          <div class="productPic">
              <button id="heart">&#9829;</button>
              <img src="../../image/JK/A7 - Creme Maple Glazed-min.jpg">
          </div>
          <div class="productIntro">
              <div class="product_name">A7 - Creme Maple Glazed</div>
              <div class="product_brand">By JK</div>
          </div>
      </div>
      <div class="single">
          <div class="productPic">
              <button id="heart">&#9829;</button>
              <img src="../../image/JK/CO66 - Cinnamon Maple Glazed-min.jpg">
          </div>
          <div class="productIntro">
              <div class="product_name">CO66 - Cinnamon Maple Glazed</div>
              <div class="product_brand">By JK</div>
          </div>
      </div>
      <div class="single">
          <div class="productPic">
              <button id="heart">&#9829;</button>
              <img src="../../image/JK/K8 - Espresso Maple-min.jpg">
          </div>
          <div class="productIntro">
              <div class="product_name">K8 - Espresso Maple</div>
              <div class="product_brand">By JK</div>
          </div>
      </div>
      <div class="single">
          <div class="productPic">
              <button id="heart">&#9829;</button>
              <img src="../../image/JK/H9 - Pearl Maple Glazed-min.jpg">
          </div>
          <div class="productIntro">
              <div class="product_name">H9 - Pearl Maple Glazed</div>
              <div class="product_brand">By JK</div>
          </div>
      </div>
      <div class="single">
          <div class="productPic">
              <button id="heart">&#9829;</button>
              <img src="../../image/JK/J5 - Mahogany Maple-min.jpg">
          </div>
          <div class="productIntro">
              <div class="product_name">K3 - Greige Maple</div>
              <div class="product_brand">By JK</div>
          </div>
      </div>
      <div class="single">
          <div class="productPic">
              <button id="heart">&#9829;</button>
              <img src="../../image/JK/A7 - Creme Maple Glazed-min.jpg">
          </div>
          <div class="productIntro">
              <div class="product_name">A7 - Creme Maple Glazed</div>
              <div class="product_brand">By JK</div>
          </div>
      </div>
      <div class="single">
          <div class="productPic">
              <button id="heart">&#9829;</button>
              <img src="../../image/JK/S1 - Java Coffee Maple-min.jpg">
          </div>
          <div class="productIntro">
              <div class="product_name">S1 - Java Coffee Maple</div>
              <div class="product_brand">By JK</div>
          </div>
      </div>
      <div class="single">
          <div class="productPic">
              <button id="heart">&#9829;</button>
              <img src="../../image/JK/S2 - Almond Maple-min.jpg">
          </div>
          <div class="productIntro">
              <div class="product_name">S2 - Almond Maple</div>
              <div class="product_brand">By JK</div>
          </div>
      </div>

        
      
              
    </div>
  </div> <!-- supplier_main_Content -->
</div><!-- supplier_main -->
</div>

  {%include file="$root/template/common/footer.html"%}
  
</body>
</html>

