<!DOCTYPE html>
<html>
<head>
  <title>Wow Kitchen & Bath</title>
  <link rel="shortcut icon" type="image/x-icon" href="../../image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../../template/common/css/common.css">
  <link rel="stylesheet" type="text/css" href="../css/supplier.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

{%include file="$root/template/common/navbar.html"%}

<div id="header">
<div id="supplier_header"></div>

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>
<div id="supplier_header_show">
          <div id="header_show_title">
            Creme Maple Glazed Vanity
          </div>
          <div id="header_show_des">
            Creme Maple Glazed VanityCreme Maple Glazed VanityCreme Maple Glazed Vanity
          </div>
        </div>
    <!-- Wrapper for slides -->
    <div class="carousel-inner header_box" role="listbox">

      <div class="item active">
<!--         <div id="supplier_header_show">
          <div id="header_show_title">
            Creme Maple Glazed Vanity
          </div>
          <div id="header_show_des">
            Creme Maple Glazed VanityCreme Maple Glazed VanityCreme Maple Glazed Vanity
          </div>
        </div> -->
        <a href="#"><img id="hero" src="../../image/header8.jpg" alt="Chania"></a>
      </div>

      <div class="item">
<!--         <div id="supplier_header_show">
          <div id="header_show_title">
            Creme Maple Glazed Vanity
          </div>
          <div id="header_show_des">
            Creme Maple Glazed VanityCreme Maple Glazed VanityCreme Maple Glazed Vanity
          </div>
        </div> -->
        <a href="#"><img id= "hero" src="../../image/header4.jpg" alt="Chania"></a>
      </div>
    
      <div class="item">
<!--         <div id="supplier_header_show">
          <div id="header_show_title">
            Creme Maple Glazed Vanity
          </div>
          <div id="header_show_des">
            Creme Maple Glazed VanityCreme Maple Glazed VanityCreme Maple Glazed Vanity
          </div>
        </div> -->
        <a href="#"><img id= "hero" src="../../image/header8.jpg" alt="Flower"></a>
      </div>

      <div class="item">
   <!--      <div id="supplier_header_show">
          <div id="header_show_title">
            Creme Maple Glazed Vanity
          </div>
          <div id="header_show_des">
            Creme Maple Glazed VanityCreme Maple Glazed VanityCreme Maple Glazed Vanity
          </div>
        </div> -->
        <a href="#"><img id= "hero" src="../../image/header6.jpg" alt="Flower"></a>
      </div>

      <div class="item">
<!--         <div id="supplier_header_show">
          <div id="header_show_title">
            Creme Maple Glazed Vanity
          </div>
          <div id="header_show_des">
            Creme Maple Glazed VanityCreme Maple Glazed VanityCreme Maple Glazed Vanity
          </div>
        </div> -->
        <a href="#"><img id= "hero" src="../../image/header8.jpg" alt="Flower"></a>
      </div>
  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div><!-- header -->
<div class="supplier_menu">
  <div class="supplier_menu_button supplier_menu_choose">简介</div>
  <div class="supplier_menu_button">作品</div>
  <div class="supplier_menu_button">产品</div>
  <div class="supplier_menu_button">服务</div>
  <div class="supplier_menu_button">Showroom</div>
</div>

<div id="body">
  <div class="supplier_intro">
    <h3>About Grand J&K Cabinetry</h3>
    <p>
      Grand JK Cabinetry is a quality-stock cabinet wholesaler, distributor in North America. Our products are then sold through a network of retailers, builders, contractors, designers and home centers. Grand JK has been expanding steadily since 2003.
    </p>
    <p>
      Our cabinets come in 3″ increments. Unlike other cabinet companies in the US, we standardized our cabinets to the utmost quality, including all-wood, full overlay door, plywood construction (absolutely no particle board), heavy duty under-mounted soft-close drawer glides, dovetail drawer boxes, hidden hinges and much more. Our cabinets are semi-customize-able and easy to assemble, we also offer an extensive selection of standardized specialty cabinet and accessory items to make every kitchen unique and beautiful.
    </p>
    </br>
    <p>
      30118 EIGENBRODT WAY,</br>
      UNION CITY,</br>
      CA 94587</br>
      Phone: 5103245588</br>
    </p> 
  </div>
  <div class="supplier_logo">
    <img src="../../image/logojk.jpg">
  </div>

  


<div class="index_design">

    <div id="index_subtitle">
      <div id="subtitle_t">最新作品</div>
    </div>

  <a href="#">
    <div class="design_project">
      <img class="project_img" src="../../image/project1.png">
      <div class="project_title">XX美式厨房设计</div>
      <div class="project_designer">设计师：XXX</div>
      <div class="design_main_subtitle">
              <img class="subtitle_icon1" src="../../image/see.png">
              <div class="icon_title">234</div>
              <img class="subtitle_icon2" src="../../image/like.png">
              <div class="icon_title">12</div>
            </div>    
    </div>
  </a>

    <div class="design_project">
      <img class="project_img" src="../../image/project2.png">
      <div class="project_title">XX美式厨房设计</div>
      <div class="project_designer">设计师：XXX</div>
      <div class="design_main_subtitle">
              <img class="subtitle_icon1" src="../../image/see.png">
              <div class="icon_title">234</div>
              <img class="subtitle_icon2" src="../../image/like.png">
              <div class="icon_title">12</div>
            </div>    
    </div>

  

    <div class="design_project">
      <img class="project_img" src="../../image/project3.png">
      <div class="project_title">XX美式厨房设计</div>
      <div class="project_designer">设计师：XXX</div>
      <div class="design_main_subtitle">
              <img class="subtitle_icon1" src="../../image/see.png">
              <div class="icon_title">234</div>
              <img class="subtitle_icon2" src="../../image/like.png">
              <div class="icon_title">12</div>
            </div>    
    </div>

    <div class="design_project">
      <img class="project_img" src="../../image/t1.jpg">
      <div class="project_title">XX美式厨房设计</div>
      <div class="project_designer">设计师：XXX</div>
      <div class="design_main_subtitle">
              <img class="subtitle_icon1" src="../../image/see.png">
              <div class="icon_title">234</div>
              <img class="subtitle_icon2" src="../../image/like.png">
              <div class="icon_title">12</div>
            </div>    
    </div>

    <div class="design_project">
      <img class="project_img" src="../../image/t2.jpg">
      <div class="project_title">XX美式厨房设计</div>
      <div class="project_designer">设计师：XXX</div>
      <div class="design_main_subtitle">
              <img class="subtitle_icon1" src="../../image/see.png">
              <div class="icon_title">234</div>
              <img class="subtitle_icon2" src="../../image/like.png">
              <div class="icon_title">12</div>
            </div>    
    </div>
  
    <div class="design_project">
      <img class="project_img" src="../../image/t3.jpg">
      <div class="project_title">XX美式厨房设计</div>
      <div class="project_designer">设计师：XXX</div>
      <div class="design_main_subtitle">
              <img class="subtitle_icon1" src="../../image/see.png">
              <div class="icon_title">234</div>
              <img class="subtitle_icon2" src="../../image/like.png">
              <div class="icon_title">12</div>
            </div>    
    </div>

    <div class="design_project">
      <img class="project_img" src="../../image/t3.jpg">
      <div class="project_title">XX美式厨房设计</div>
      <div class="project_designer">设计师：XXX</div>
      <div class="design_main_subtitle">
              <img class="subtitle_icon1" src="../../image/see.png">
              <div class="icon_title">234</div>
              <img class="subtitle_icon2" src="../../image/like.png">
              <div class="icon_title">12</div>
            </div>    
    </div>

    <div class="design_project">
      <img class="project_img" src="../../image/t3.jpg">
      <div class="project_title">XX美式厨房设计</div>
      <div class="project_designer">设计师：XXX</div>
      <div class="design_main_subtitle">
              <img class="subtitle_icon1" src="../../image/see.png">
              <div class="icon_title">234</div>
              <img class="subtitle_icon2" src="../../image/like.png">
              <div class="icon_title">12</div>
            </div>    
    </div>

  </div>
  
</div><!-- body white -->

{%include file="$root/template/common/footer.html"%}


</body>
</html>

