<!DOCTYPE html>
<html>
<head>
  <title>Wow Kitchen & Bath</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../common/css/common.css">
  <link rel="stylesheet" type="text/css" href="page.css">
</head>
<body>
  
{%include file="$root/templete/common/navbar.html"%}

<div id="body">
  <div id="container">
      <div id="designs_container">
          <form >
            <input id="designs_search" type="text" name="designname" value="作品名搜索">
          </form>
 

    <div id="admin_content">
      <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img src="../../image/t1.jpg">
          </div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">美式厨房设计</div>
            <div class="admin_collect_designer">设计师：XXX</div>
          </div>
        </div>
      </a>
      <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img src="../../image/t2.jpg">
          </div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">美式厨房设计</div>
            <div class="admin_collect_designer">设计师：XXX</div>
          </div>
        </div>
      </a>
      <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img src="../../image/t2.jpg">
          </div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">美式厨房设计</div>
            <div class="admin_collect_designer">设计师：XXX</div>
          </div>
        </div>
      </a>
      <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img src="../../image/t3.jpg">
          </div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">美式厨房设计</div>
            <div class="admin_collect_designer">设计师：XXX</div>
          </div>
        </div>
      </a>
      <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img src="../../image/t3.jpg">
          </div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">美式厨房设计</div>
            <div class="admin_collect_designer">设计师：XXX</div>
          </div>
        </div>
      </a>
      <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img src="../../image/t2.jpg">
          </div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">美式厨房设计</div>
            <div class="admin_collect_designer">设计师：XXX</div>
          </div>
        </div>
      </a>
      <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img src="../../image/t3.jpg">
          </div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">美式厨房设计</div>
            <div class="admin_collect_designer">设计师：XXX</div>
          </div>
        </div>
      </a>
      <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img src="../../image/t3.jpg">
          </div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">美式厨房设计</div>
            <div class="admin_collect_designer">设计师：XXX</div>
          </div>
        </div>
      </a>
      <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img src="../../image/t2.jpg">
          </div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">美式厨房设计</div>
            <div class="admin_collect_designer">设计师：XXX</div>
          </div>
        </div>
      </a>
    </div>
  </div>
  </div>
</div>

  {%include file="$root/templete/common/footer.html"%}
</body>
</html>

