<!DOCTYPE html>
<html>
<head>
  <title>Wow Kitchen & Bath</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../common/css/common.css">
  <link rel="stylesheet" type="text/css" href="page.css">
</head>
<body>
  {%include file="$root/templete/common/navbar.html"%}
  

<div id="body">
  <div id="container">
    <div id="sidebar">
      <div id="productSearch">
        <form>
          <input type="search" placeholder="Search">
        </form>
      </div>
      
      <div class="sidebar_gapline"></div>
      
      <ul id="selectBy">
        <li class="firstList">按类别选择</li>
        <li class="secondList">全部产品</li>
        <li class="thirdList">厨房</li>
        <li class="thirdList">浴室</li>
        <li class="thirdList">家具</li>
        <li class="thirdList">灯具</li>
        <li class="thirdList">储存</li>
        <li class="thirdList">饰品</li>
      </ul>
      <div class="sidebar_gapline"></div>
      <ul id="selectBy">
        <li class="firstList">按品牌选择</li>
        <li class="secondList">全部品牌</li>
        <li class="thirdList">A Brand</li>
        <li class="thirdList">BC Brand</li>
        <li class="thirdList">D Brand</li>
        <li class="thirdList">EFG Brand</li>
        <li class="thirdList">HI Brand</li>
      </ul>
      <div class="sidebar_gapline"></div>
      <ul id="selectBy">
        <li class="firstList">按价格选择</li>
        <li class="secondList">全部价格</li>
        <li class="thirdList">低于$100</li>
        <li class="thirdList">$100~$200</li>
        <li class="thirdList">$200~$300</li>
        <li class="thirdList">$300~$400</li>
        <li class="thirdList">$400~$500</li>
      </ul>
    </div>
    
    <div id="mainContent">
      <div id="adArea">
        <button id="adButton">现在购买</button>
        <div id="adBox">全网的价格对比呈现将保证每一位顾客最低的消费价格</div>
        <img src="../../image/ad2.png">
      </div>

      <div class="mainArea">
          <div class="row">
              
              <div class="single">
                <div class="productPic">
                  <button id="heart">收藏</button>
                  <a href="product_detail.html">
                  <img src="../../image/p1.png"></a>
                </div>
                <a href="product_detail.html">
                <div class="productIntro">
                  <div class="productName">厨房高脚旋转椅</div>
                  <div class="productBrand">By Create & Barrel</div>
                  <div class="productPrice">$127</div>
                </div></a>
              </div>

              <div class="single_rowgap"></div>
              <div class="single">
                <div class="productPic">
                  <button id="heart">收藏</button>
                  <img src="../../image/p2.png">
                </div>
                <div class="productIntro">
                  <div class="productName">厨房高脚旋转椅</div>
                  <div class="productBrand">By Create & Barrel</div>
                  <div class="productPrice">$127</div>
                </div>
              </div>
              <div class="single_rowgap"></div>
              <div class="single">
                <div class="productPic">
                  <button id="heart">收藏</button>
                  <img src="../../image/p3.png">
                </div>
                <div class="productIntro">
                  <div class="productName">厨房高脚旋转椅</div>
                  <div class="productBrand">By Create & Barrel</div>
                  <div class="productPrice">$127</div>
                </div>
              </div>
          <div>
          <div class="row_gapline"></div>
          <div class="row">
              <div class="single">
                <div class="productPic">
                  <button id="heart">收藏</button>
                  <img src="../../image/p4.png">
                </div>
                <div class="productIntro">
                  <div class="productName">厨房高脚旋转椅</div>
                  <div class="productBrand">By Create & Barrel</div>
                  <div class="productPrice">$127</div>
                </div>
              </div>
              <div class="single_rowgap"></div>
              <div class="single">
                <div class="productPic">
                  <button id="heart">收藏</button>
                  <img src="../../image/p5.png">
                </div>
                <div class="productIntro">
                  <div class="productName">厨房高脚旋转椅</div>
                  <div class="productBrand">By Create & Barrel</div>
                  <div class="productPrice">$127</div>
                </div>
              </div>
              <div class="single_rowgap"></div>
              <div class="single">
                <div class="productPic">
                  <button id="heart">收藏</button>
                  <img src="../../image/p6.png">
                </div>
                <div class="productIntro">
                  <div class="productName">厨房高脚旋转椅</div>
                  <div class="productBrand">By Create & Barrel</div>
                  <div class="productPrice">$127</div>
                </div>
              </div>
          <div>
          <div class="row_gapline"></div>
          <div class="row">
              <div class="single">
                <div class="productPic">
                  <button id="heart">收藏</button>
                  <img src="../../image/p1.png">
                </div>
                <div class="productIntro">
                  <div class="productName">厨房高脚旋转椅</div>
                  <div class="productBrand">By Create & Barrel</div>
                  <div class="productPrice">$127</div>
                </div>
              </div>
              <div class="single_rowgap"></div>
              <div class="single">
                <div class="productPic">
                  <button id="heart">收藏</button>
                  <img src="../../image/p2.png">
                </div>
                <div class="productIntro">
                  <div class="productName">厨房高脚旋转椅</div>
                  <div class="productBrand">By Create & Barrel</div>
                  <div class="productPrice">$127</div>
                </div>
              </div>
              <div class="single_rowgap"></div>
              <div class="single">
                <div class="productPic">
                  <button id="heart">收藏</button>
                  <img src="../../image/p3.png">
                </div>
                <div class="productIntro">
                  <div class="productName">厨房高脚旋转椅</div>
                  <div class="productBrand">By Create & Barrel</div>
                  <div class="productPrice">$127</div>
                </div>
              </div>
          <div>
      </div>
    </div>
  </div>
</div>

  
  {%include file="$root/templete/common/footer.html"%}
  
</body>
</html>

