<!DOCTYPE html>
<html>
<head>
  <title>Wow Kitchen & Bath</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="page.css">
  <link rel="stylesheet" type="text/css" href="../common/css/common.css">
</head>
  {%include file="$root/templete/common/navbar.html"%}

<div id="body">
  <div id="container">

    <div class="design_main">
      <div class="design_main_content">
            <div class="productLink">
              <a href="index.html">主页</a>/
              <a href="products.html">产品</a>/
              厨房高脚旋转椅
            </div>
              <img src="../../image/p1.png">
      </div>
    </div>


      <div class="sidebar_right">
        <div class="design_sub_content">       
          <div class="design_sub_intro">
              <div class="productName_detail">厨房高脚旋转椅</div>
              <div class="productBrand_detail">By Create & Barrel</div>
              
              <div class="productPrice_detail">$127</div>
              <div class="productStock">in stock</div>
          </div>
         <button class="buyButton">加入购物车</button>
         <a id="collect" href="#">加入收藏</a>
         <div class="sub_gapline"></div>
         <div class="sub_download">.psd .jpg .dae</div>
         <button class="downloadButton">下载素材</button>
         <div class="sub_gapline"></div>
         <div class="productIntro_detail">
              产品详情：</br></br>
              具有良好的性能，木质材料，座椅按照人体工程学，十分舒适。适合厨房、吧台使用。</br>
              产品编号: CH1224535
         </div>
      </div>
  </div>
  </div>
</div>

{%include file="$root/templete/common/footer.html"%}

</body>
</html>