<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wow Kitchen & Bath</title>
  <link rel="shortcut icon" type="image/x-icon" href="/image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/template/common/css/common.css">
  <link rel="stylesheet" type="text/css" href="/account/css/account.css">
</head>
<body>
{%include file="$root/template/common/navbar.html"%}

<div id="body_dash">
  {%include file="$root/template/common/sidebar.html"%}

<div id="admin_main">
      
      <div id="admin_content">

      <table id="productList">
        <tr>
          <th>作品图片</th>
          <th>作品名称</th>
          <th>用户姓名</th>
          <th>用户电话</th>
          <th>用户邮箱</th>
        </tr>
        <tr>
          <td><img id="design_pic" src="../../image/t1.jpg"></td>
          <td>欧式橱柜定制</td>
          <td>AAA</td>
          <td>000-000-0000</td>
          <td>xxx@xxx.com</td>
        </tr>
        <tr>
          <td><img id="design_pic" src="../../image/t2.jpg"></td>
          <td>欧式橱柜定制</td>
          <td>AAA</td>
          <td>000-000-0000</td>
          <td>xxx@xxx.com</td>
        </tr>
      </table>
    </div>
  </div>
  </div>

{%include file="$root/template/common/footer.html"%}

  </body>
</html>