<!DOCTYPE html>
<html>
<head>
  <title>Wow Kitchen & Bath</title>
  <link rel="shortcut icon" type="image/x-icon" href="/image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../../../template/common/css/common.css">
  <link rel="stylesheet" type="text/css" href="../../account/css/account.css">
  
</head>
<body>
{%include file="$root/template/common/navbar.html"%}


<div id="body_dash">
  {%include file="$root/template/common/sidebar.html"%}

  <div id="admin_main">
    <div id="admin_label">
      <a id="label_unchoose" href="designer_dashboard.html">正在进行的定制</a>
      <div id="label_blank"></div>
      <a id="label_choose">已完成的定制</a>
    </div>

    <div id="admin_content">
        <div class="admin_project">
          <div class="admin_project_pic">
            <img src="../../image/project1.png">
          </div>
          <div class="admin_project_intro">
            <div class="admin_project_title">美式厨房设计</div>
            <div class="admin_project_designer">用户：XXX</div>
            <div class="admin_project_status">已完成</div>
            <div class="admin_project_update">最后更新：1天前</div>
          </div>
        </div>
        <div class="admin_project">
          <div class="admin_project_pic">
            <img src="../../image/project2.png">
          </div>
          <div class="admin_project_intro">
            <div class="admin_project_title">美式厨房设计</div>
            <div class="admin_project_designer">用户：XXX</div>
            <div class="admin_project_status">已完成</div>
            <div class="admin_project_update">最后更新：1天前</div>
          </div>
        </div>
        <div class="admin_project">
          <div class="admin_project_pic">
            <img src="../../image/project3.png">
          </div>
          <div class="admin_project_intro">
            <div class="admin_project_title">美式厨房设计</div>
            <div class="admin_project_designer">用户：XXX</div>
            <div class="admin_project_status">已完成</div>
            <div class="admin_project_update">最后更新：1天前</div>
          </div>
        </div>
    </div>
  </div>
</div>


{%include file="$root/template/common/footer.html"%}
  </body>
</html>