<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WOWKB</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/template/common/css/common.css">
  <link rel="stylesheet" type="text/css" href="/template/common/css/common_temp.css">
  <link rel="stylesheet" type="text/css" href="/account/css/account.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
{%include file="$root/template/common/navbar_prewowkb.html"%}

<div id="body_dash">
   {%include file="$root/template/common/sidebar.html"%}

  <div id="admin_main">
      
      <div id="admin_content">
        <a class="button_light" href="/account/space.php?act=designer_upload">上传作品</a>
        <!-- <a id="admin_edit_button" href="../page/products.html">搜索物料</a> -->
 
        <!-- <form id="search">
          <input id="admin_search" type="text" name="designname" value="作品名搜索">
        </form> -->

      <table id="productList">
        <tr>
          <th>作品图片</th>
          <th>作品名称</th>
          <th>空间尺寸</th>
          <th>上传时间</th>
          <th></th>
        </tr>
        {%foreach from=$res key=i item=value%}
        <tr>
          <td><a href="/account/space.php?act=zuopin_modify&id={%$value['pk_id']|default:''%}"><img id="design_pic" src="{%$value['pic_path']|default:''%}"></a></td>
          <td>{%$value['name']|default:''%}</td>
          <td>{%$value['size']|default:''%}</td>
          <td>{%$value['created_time']|date_format:"%Y-%m-%d %H:%M:%S"%}</td>
          <td>
            <a id="edit" href="/account/space.php?act=zuopin_modify&id={%$value['pk_id']|default:''%}">修改</a>
            |
            <a id="delete" href="/account/space.php?act=zuopin_delete&id={%$value['pk_id']|default:''%}" >删除</a>
          </td>
        </tr>
       {%/foreach%}
      </table>
    </div>
  </div>
</div>

{%include file="$root/template/common/footer.html"%}
  </body>
</html>