<!DOCTYPE html>
<html>
<head>
  <title>Wow Kitchen & Bath</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../../../template/common/css/common.css">
  <link rel="stylesheet" type="text/css" href="../../account/css/account.css">
</head>
<body>
{%include file="$root/template/common/navbar.html"%}

<div id="body_dash">
    {%include file="$root/template/common/sidebar.html"%}

  <div id="admin_main">
<!--       <div id="admin_label">
          <a id="label_unchoose">收藏的物料</a>
          <div id="label_blank"></div>
          <a id="label_choose" href="designer_collection_designs.html">收藏的设计作品</a>
          <div id="label_blank"></div>
          <a id="label_unchoose" href="designer_collection_products.html">收藏的产品</a>
      </div> -->

    <div id="admin_content">
        <div class="admin_collect">
          <a href="design.html"><div class="admin_collect_pic">
            <img class="admin_collect_pic" src="../../image/t1.jpg">
          </div></a>
          <div class="admin_collect_delete">删除</div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">美式厨房设计</div>
            <div class="admin_collect_designer">设计师：XXX</div>
          </div>

        </div>
        <div class="admin_collect">
          <div class="admin_collect_pic">
            <img class="admin_collect_pic" src="../../image/t2.jpg">
          </div>
          <div class="admin_collect_delete">删除</div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">XXX美式浴室设计</div>
            <div class="admin_collect_designer">设计师：XXX</div>
          </div>
        </div>
        <div class="admin_collect">
          <div class="admin_collect_pic">
            <img class="admin_collect_pic" src="../../image/t2.jpg">
          </div>
          <div class="admin_collect_delete">删除</div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">美式厨房设计</div>
            <div class="admin_collect_designer">设计师：XXX</div>
          </div>
        </div>
        <div class="admin_collect">
          <div class="admin_collect_pic">
            <img class="admin_collect_pic" src="../../image/t3.jpg">
          </div>
          <div class="admin_collect_delete">删除</div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">美式厨房设计</div>
            <div class="admin_collect_designer">设计师：XXX</div>
          </div>
        </div>
        <div class="admin_collect">
          <div class="admin_collect_pic">
            <img class="admin_collect_pic" src="../../image/t3.jpg">
          </div>
          <div class="admin_collect_delete">删除</div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">美式厨房设计</div>
            <div class="admin_collect_designer">设计师：XXX</div>
          </div>
        </div>
        <div class="admin_collect">
          <div class="admin_collect_pic">
            <img class="admin_collect_pic" src="../../image/t2.jpg">
          </div>
          <div class="admin_collect_delete">删除</div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">美式厨房设计</div>
            <div class="admin_collect_designer">设计师：XXX</div>
          </div>
        </div>
    </div>
  </div>
</div>


{%include file="$root/template/common/footer.html"%}
  </body>
</html>
</head>
<body>
{%include file="$root/template/common/navbar.html"%}

<div id="body_dash">
   <!--  {%include file="$root/template/common/sidebar.html"%} -->

    <div id="designer" class="admin_sidebar">
    <div id="userPic">
      <img src="../../image/head.png">
    </div>
    <div id="userName">Sam</div>
    <div id="userTitle">设计师</div>

    <div id="admin_sidebar_gapline"></div>

    <div id="admin_menu">
      <a class="admin_button choose" href="../account/designer_dashboard.html"><div id="sidebar_message">12</div>定制项目</a>
      <a class="admin_button" href="../account/designer_manage.html"><div id="sidebar_message">12</div>系统消息</a>
      <a class="admin_button" href="../account/designer_manage.html">我的作品</a>
      <a class="admin_button" href="../account/designer_manage.html">检索物料</a>
      <a class="admin_button" href="../account/designer_manage.html">我的收藏</a>
    </div>    
</div>

  <div id="admin_main">
<!--       <div id="admin_label">
          <a id="label_unchoose">收藏的物料</a>
          <div id="label_blank"></div>
          <a id="label_choose" href="designer_collection_designs.html">收藏的设计作品</a>
          <div id="label_blank"></div>
          <a id="label_unchoose" href="designer_collection_products.html">收藏的产品</a>
      </div> -->

    <div id="admin_content">
        <div class="admin_collect">
          <a href="design.html"><div class="admin_collect_pic">
            <img class="admin_collect_pic" src="../../image/t1.jpg">
          </div></a>
          <div class="admin_collect_delete">删除</div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">美式厨房设计</div>
            <div class="admin_collect_designer">设计师：XXX</div>
          </div>

        </div>
        <div class="admin_collect">
          <div class="admin_collect_pic">
            <img class="admin_collect_pic" src="../../image/t2.jpg">
          </div>
          <div class="admin_collect_delete">删除</div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">XXX美式浴室设计</div>
            <div class="admin_collect_designer">设计师：XXX</div>
          </div>
        </div>
        <div class="admin_collect">
          <div class="admin_collect_pic">
            <img class="admin_collect_pic" src="../../image/t2.jpg">
          </div>
          <div class="admin_collect_delete">删除</div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">美式厨房设计</div>
            <div class="admin_collect_designer">设计师：XXX</div>
          </div>
        </div>
        <div class="admin_collect">
          <div class="admin_collect_pic">
            <img class="admin_collect_pic" src="../../image/t3.jpg">
          </div>
          <div class="admin_collect_delete">删除</div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">美式厨房设计</div>
            <div class="admin_collect_designer">设计师：XXX</div>
          </div>
        </div>
        <div class="admin_collect">
          <div class="admin_collect_pic">
            <img class="admin_collect_pic" src="../../image/t3.jpg">
          </div>
          <div class="admin_collect_delete">删除</div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">美式厨房设计</div>
            <div class="admin_collect_designer">设计师：XXX</div>
          </div>
        </div>
        <div class="admin_collect">
          <div class="admin_collect_pic">
            <img class="admin_collect_pic" src="../../image/t2.jpg">
          </div>
          <div class="admin_collect_delete">删除</div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">美式厨房设计</div>
            <div class="admin_collect_designer">设计师：XXX</div>
          </div>
        </div>
    </div>
  </div>
</div>


{%include file="$root/template/common/footer.html"%}
  </body>
</html>