<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WOWKB</title>
  <link rel="shortcut icon" type="image/x-icon" href="/image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/template/common/css/common.css">
  <link rel="stylesheet" type="text/css" href="/template/common/css/common_temp.css">
  <link rel="stylesheet" type="text/css" href="/account/css/account.css">
  <link rel="stylesheet" type="text/css" href="/prewowkb/css/prepage.css">
  <script src="https://use.fontawesome.com/99d52acf31.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
    #imgInp {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }
    #imgInp + label {
      height: 30px;
      padding: 0px 5px 5px 5px;
      font-size: 1em;
      font-weight: 700;
      color: white;
      background-color: black;
      display: inline-block;
    }

    #imgInp:focus + label,
    #imgInp + label:hover {
      background-color: red;
    }
    #imgInp + label {
      cursor: pointer; /* "hand" cursor */
    }
    #upload_images {
      width: 80%;
      min-width: 400px;
      max-height: 200px;
      list-style: none;
      padding: 20px;
      overflow: scroll;
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      display: none;
    }
    #upload_images li {
      display: inline-block;
      vertical-align: middle;
      width: 20%;
      margin: 2px;
    }
    #upload_images li span {
      float:right;
      color: red;
      margin: 10px 8px -20px 0px;
    }
    #upload_images li img {
      width: 100%;
    }
  </style>
</head>
<body>
{%include file="$root/template/common/navbar_prewowkb.html"%}


<div id="body_dash">
    {%include file="$root/template/common/sidebar.html"%}
    
<div id="admin_main">
      <form action="/account/space.php?act=designer_upload_process" method="post" enctype="multipart/form-data" name="productForm">

           <table class="upload_form">
              <tr>
                <td>作品名称<span class="required">*</span></td>
                <td><input type="text" class="input-field" name="name" /></td>
              </tr>
              <tr>
                <td>作品类别</td>
                <td>
                  <select name="category" id="mySelect1" onchange="myFunction()">
                    <option value="">请选择</option>
                    <option disabled="disabled">----</option>
                    <option value="furnish">家居设计</option>
                    <option value="space">空间规划</option>
                    <option value="finish">室内装修</option>
                    <option value="landscape">景观</option>
                    <option value="building">建筑</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>设计图片<span class="required">*</span></td>
                <td>
                  <input class="btn" type="file" id="imgInp" name="files[]" accept="image/*" multiple required>
                  <label for="imgInp">Choose a file</label>
                  <div class="type_counter">最多上传10张</div>
                  <div id="upload_images"></div>
                </td>
              </tr>
              <tr>
                <td>设计报价<span class="required">*</span></td>
                <td><input type="number" class="input-field" name="price" value="" type="number" min="1" required="true"/><!-- <a title="popup" onclick="return popup()"><i class="fa fa-calculator icon_style" aria-hidden="true"> 报价计算器</i></a> -->
                <div id="type_counter">只输入数字</div></td>
              </tr>
              <tr>
                <td>作品信息 <span class="required">*</span></td>
                <td><textarea maxlength="250" id="status" name="intro" class="textarea-field supplier_info_textarea" onkeydown='countChar("status","counter");' onkeyup='countChar("status","counter");'></textarea></br><div id="type_counter">可以输入<span id="counter">250</span>字<br/></div></td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="design_upload_title upload_blank">方案详细介绍</div>
                </td>
              </tr>
              <tr>
                <td>作品风格<span class="required">*</span></td>
                <td>
                  <select name="style">
                    <option value="">请选择</option>
                    <option disabled="disabled">----</option>
                    <option value="Mid">Mid-century Modern Style</option>
                    <option value="Modern">Modern Style</option>
                    <option value="Art">Art Deco Style</option>
                    <option value="Minimalism">Minimalism Style</option>
                    <option value="Traditional">Traditional Style</option>
                    <option value="Chinese">Chinese Style</option>
                    <option value="Japanese">Japanese Style</option>
                    <option value="Scandinavian">Scandinavian Design Style</option>
                    <option value="Eclectic">Eclectic Style</option>
                    <option value="Country">Country Style</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>空间面积<span class="required">*</span></td>
                <td>
                  <select name="area">
                    <option value="">请选择</option>
                    <option disabled="disabled">----</option>
                    <option value="1">Smaller: < 70 sq. ft</option>
                    <option value="2">Small: 71 - 100 sq.ft</option>
                    <option value="3">Medium: 101 - 200 sq. ft</option>
                    <option value="4">Large: 201 - 400 sq. ft</option>
                    <option value="5">Larger: > 400 sq. ft</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>形状<span class="required">*</span></td>
                <td>
                  <select name="shape">
                    <option value="">请选择</option>
                    <option disabled="disabled">----</option>
                    <option value="square">正方形－square</option>
                    <option value="rectangle">长方形－rectangle</option>
                    <option value="multiple">多边形－multiple</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>布局<span class="required">*</span></td>
                <td>
                  <select name="layout">
                    <option value="">请选择</option>
                    <option disabled="disabled">----</option>
                    <option value="one">一字型</option>
                    <option value="onem">一字型带中岛</option>
                    <option value="l">L型</option>
                    <option value="lm">L型带中岛</option>
                    <option value="u">U型</option>
                    <option value="um">U型带中岛</option>
                    <option value="g">G型</option>
                    <option value="gallery">步入型</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="design_upload_title upload_blank">产品清单关联</div>
                </td>
              </tr>
              <tbody id="tb1">
              <tr>
                <td>产品<span class="required">*</span></td>
                <td>
                  <div class="type_counter">输入系统编号</div>
                </td>
              </tr>
              <tr>
                <td></td>
                <td id="addmaterial">
                  <input type="text" class="input-field-short" name="" value="" />
                  <a title="popmaterial" onclick="return popmaterial()"><i class="fa fa-cube icon_style" aria-hidden="true"> 物料库搜索</i></a>
                </td>
              </tr>
            </tbody>
            <tr>
              <td></td>
              <td><input type="button" class="addbutton" value="增加" id="addMaterialButton"></td>
            </tr>
            </table>
            <span>&nbsp;</span><input type="submit" value="提交" class="button_orange_input button_left" id="submitButton"/>
          </form>
      </div>
  </div>
<script language="javascript"> 
function countChar(textareaName,spanName) 
{ 
document.getElementById(spanName).innerHTML = 250 - document.getElementById(textareaName).value.length; 
} 
</script>
<script type="text/javascript">
function popup()
{
        window.open("../common/caculator.html", "", "toolbar=no,height=800,width=740");
        return false;
}
function popmaterial()
{
        window.open("/account/space.php?act=search_material", "", "toolbar=no");
        return false;
}
</script>

<script type="text/javascript">
  $("#addMaterialButton").click(function() {
    var trObj = document.createElement("tr");  
    trObj.id = new Date().getTime();  
    trObj.innerHTML = "<td></td><td>
    <input name='' class='input-field-short' type='text'/>&nbsp;
    <input type='button' class='addbutton' value='删除'' onclick='del(this)'>
    </td>";  
    $("#tb1").append(trObj);  
  });
  function del(obj) {  
        var trId = obj.parentNode.parentNode.id;  
        var trObj = document.getElementById(trId);  
        document.getElementById("tb1").removeChild(trObj);  
    }

  $("#addMaterialButton2").click(function() {
    var trObj = document.createElement("tr");  
    trObj.id = new Date().getTime();  
    trObj.innerHTML = "<td></td><td><input name='' class='input-field-short' type='text'/>&nbsp;<input type='button' class='addbutton' value='删除'' onclick='del2(this)'></td>";  
    $("#tb2").append(trObj);  
  });
    function del2(obj) {  
        var trId = obj.parentNode.parentNode.id;  
        var trObj = document.getElementById(trId);  
        document.getElementById("tb2").removeChild(trObj);  
    }
    /*
  $("#productForm").formValidation({
    framework: 'bootstrap',
    icon: {
      valid: 'glyphicon glyphicon-ok',
      invalid: 'glyphicon glyphicon-remove',
      validating: 'glyphicon glyphicon-refresh'
    },
    row: {
      valid: 'field-success',
      invalid: 'field-error'
    },
    fields: {
      work_name: {
        validators: {
          notEmpty: {
            message: '作品名字是必需的'
          },
          stringLength: {
            min: 1,
            max: 50,
            message: 'The username must be more than 1 and less than 30 characters long'
          }
        }
      },
      password: {
        validators: {
          notEmpty: {
            message: 'The password is required'
          }
        }
      }
    }
  });
  */
$('form').submit(function(){
    if(this.files.length>10)
      return false;
  });

  $("#imgInp").change(function(event){
    var files = event.target.files; //FileList object

    var output = document.getElementById("upload_images");
    output.innerHTML = "";

    $("#upload_images").css("display", "block");

    if(this.files.length>10) {
      alert('to many files');
      document.getElementById("imgInp").value = "";
      $("#upload_images").empty();
      $("#upload_images").css("display", "none");
    }
    if(this.files.length==0) {
      $("#upload_images").css("display", "none");
    }

    for(var i = 0; i< files.length; i++)
    {

      var temp = i;
      var file = files[i];
      //Only pics

      console.log(file);
      if(!file.type.match('image'))
        continue;
      var picReader = new FileReader();
      picReader.addEventListener("load",function(event){
        var picFile = event.target;
        var li = document.createElement("li");
        li.innerHTML = "<span class='glyphicon glyphicon-remove' onclick='deleteImg("+temp+")' ></span><img src='" + picFile.result + "'" +
                "title='" + picFile.name + "' />";
        output.insertBefore(li,null);
      });
      //Read the image
      picReader.readAsDataURL(file);
    }
  });

  function deleteImg(id) {
    var files = $("#imgInp")[0].files;
    $("#upload_images").css("display", "none");

    var FileList = {};

    for (var key in files) {
      if (key != id && key !== "item") {
        FileList[key] = files[key];
      }
    }
    //$("#imgInp")[0].files = FileList;

    document.getElementById("imgInp").value = "";
    $("#upload_images").empty();

    console.log($("#imgInp")[0].files);
    console.log(FileList);
    //files.remove(id);
  }
</script>
 
  </body>
</html>