<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WOWKB</title>
  <link rel="shortcut icon" type="image/x-icon" href="/image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/template/common/css/common.css">
  <link rel="stylesheet" type="text/css" href="/account/css/account.css">
  <link rel="stylesheet" type="text/css" href="/prewowkb/css/prepage.css">
  <script src="https://use.fontawesome.com/99d52acf31.js"></script>
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.0.min.js"></script>
</head>
<body>
{%include file="$root/template/common/navbar_prewowkb.html"%}


<div id="body_dash">
    {%include file="$root/template/common/sidebar.html"%}
    
<div id="admin_main">
      <form action="/account/space.php?act=designer_upload_process" method="post" enctype="multipart/form-data">

           <table class="upload_form">
              <tr>
                <td colspan="2">
                  <div class="design_upload_title">作品展示</div>
                </td>
              </tr>
              <tr>
                <td>作品名称<span class="required">*</span></td>
                <td><input type="text" class="input-field" name="name" value/></td>
              </tr>
              <tr>
                <td>作品类别<span class="required">*</span></td>
                <td>
                  <select name="category" id="mySelect1" onchange="myFunction()">
                    <option value="">选择类别</option>
                    <option value="furnish">家居设计</option>
                    <option value="space">空间规划</option>
                    <option value="finish">室内装修</option>
                    <option value="landscape">景观</option>
                    <option value="building">建筑</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>设计图片<span class="required">*</span></td>
                <td><input type="file" name="files">
                  <div id="type_counter"></div>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="design_upload_title upload_blank">项目整体预算</div>
                </td>
              </tr>
              <tr>
                <td>服务报价<span class="required">*</span></td>
                <td><input type="number" class="input-field" name="price" value="" type="number" min="1" required="true"/><!-- <a title="popup" onclick="return popup()"><i class="fa fa-calculator icon_style" aria-hidden="true"> 报价计算器</i></a> -->
                <div id="type_counter">只输入数字</div></td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="design_upload_title upload_blank">作品信息描述</div>
                </td>
              </tr>
              <tr>
                <td>内容简介 <span class="required">*</span></td>
                <td><textarea maxlength="250" id="status" name="intro" class="textarea-field supplier_info_textarea" onkeydown='countChar("status","counter");' onkeyup='countChar("status","counter");'></textarea></br><div id="type_counter">可以输入<span id="counter">250</span>字<br/></div></td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="design_upload_title upload_blank">方案详细介绍</div>
                </td>
              </tr>
              <tr>
                <td>作品风格<span class="required">*</span></td>
                <td>
                  <select name="style">
                    <option value="">请选择</option>
                    <option disabled="disabled">----</option>
                    <option value="Mid">Mid-century Modern Style</option>
                    <option value="Modern">Modern Style</option>
                    <option value="Art">Art Deco Style</option>
                    <option value="Minimalism">Minimalism Style</option>
                    <option value="Traditional">Traditional Style</option>
                    <option value="Chinese">Chinese Style</option>
                    <option value="Japanese">Japanese Style</option>
                    <option value="Scandinavian">Scandinavian Design Style</option>
                    <option value="Eclectic">Eclectic Style</option>
                    <option value="Country">Country Style</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>空间面积<span class="required">*</span></td>
                <td>
                  <select>
                    <option value="">请选择</option>
                    <option disabled="disabled">----</option>
                    <option value="1">Smaller: < 70 sq. ft</option>
                    <option value="2">Small: 71 - 100 sq.ft</option>
                    <option value="3">Medium: 101 - 200 sq. ft</option>
                    <option value="4">Large: 201 - 400 sq. ft</option>
                    <option value="5">Larger: > 400 sq. ft</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>形状<span class="required">*</span></td>
                <td>
                  <select name="shape">
                    <option value="">请选择</option>
                    <option disabled="disabled">----</option>
                    <option value="square">正方形</option>
                    <option value="rectangle">长方形</option>
                    <option value="multiple">多边形</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>布局<span class="required">*</span></td>
                <td>
                  <select name="layout">
                    <option value="">请选择</option>
                    <option disabled="disabled">----</option>
                    <option value="one">一字型</option>
                    <option value="onem">一字型带中岛</option>
                    <option value="l">L型</option>
                    <option value="lm">L型带中岛</option>
                    <option value="u">U型</option>
                    <option value="um">U型带中岛</option>
                    <option value="g">G型</option>
                    <option value="gallery">步入型</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>材质</td>
                <td><input type="text" class="input-field" name="texture" value="" /></td>
              </tr>
              <tr>
                <td>内部处理</td>
                <td><input type="text" class="input-field" name="interior" value="" /></td>
              </tr>
              <tr>
                <td>颜色</td>
                <td><input type="text" class="input-field" name="color" value="" /></td>
              </tr>
              <tr>
                <td>应用</td>
                <td><input type="text" class="input-field" name="application" value="" /></td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="design_upload_title upload_blank">物料清单关联</div>
                </td>
              </tr>
              <tbody id="tb1">
              <tr>
                <td>物料编号<span class="required">*</span></td>
                <td id="addmaterial">
                  <input type="text" class="input-field-short" name="m_ids[]" value="" />
                  <input type="text" class="input-field-short" name="amount[]" value="" />
                  <a title="popmaterial" onclick="return popmaterial()"><i class="fa fa-cube icon_style" aria-hidden="true"> 物料库搜索</i></a>
                  <input type="button" class="addbutton" value="增加" id="addMaterialButton"><br /><div id="type_counter">输入物料编号<span class="right">输入数量</span></div>
                </td>
              </tr>
            </tbody>
            <tr>
                <td colspan="2">
                  <div class="design_upload_title upload_blank">对应物料图关联</div>
                </td>
              </tr>
              <tbody id="tb2">
              <tr>
                <td>物料编号<span class="required">*</span></td>
                <td id="addmaterial">
                  <input type="text" class="input-field-short" name="" value="" required="true" />
                  <input type="button" class="addbutton" value="增加" id="addMaterialButton2"><br /><div class="type_counter">输入物料编号</div>
                </td>
              </tr>
            </tbody>
            </table>
            <span>&nbsp;</span><input type="submit" value="提交" class="submit_button button_left"/>
          </form>
      </div>
  </div>

{%include file="$root/template/common/footer.html"%}
<script language="javascript"> 
function countChar(textareaName,spanName) 
{ 
document.getElementById(spanName).innerHTML = 250 - document.getElementById(textareaName).value.length; 
} 
</script>
<script type="text/javascript">
function popup()
{
        window.open("../common/caculator.html", "", "toolbar=no,height=800,width=740");
        return false;
}
function popmaterial()
{
        window.open("/account/space.php?act=search_material", "", "toolbar=no");
        return false;
}
</script>
<script type="text/javascript">
  $("#addMaterialButton").click(function() {
    var trObj = document.createElement("tr");  
    trObj.id = new Date().getTime();  
    trObj.innerHTML = "<td></td><td><input name='' class='input-field-short' type='text'/><input name='' type='text' class='input-field-short'/>&nbsp;<input type='button' class='addbutton' value='删除'' onclick='del(this)'></td>";  
    $("#tb1").append(trObj);  
  });
  function del(obj) {  
        var trId = obj.parentNode.parentNode.id;  
        var trObj = document.getElementById(trId);  
        document.getElementById("tb1").removeChild(trObj);  
    }
   $("#addMaterialButton2").click(function() {
    var trObj = document.createElement("tr");  
    trObj.id = new Date().getTime();  
    trObj.innerHTML = "<td></td><td><input name='' class='input-field-short' type='text'/>&nbsp;<input type='button' class='addbutton' value='删除'' onclick='del2(this)'></td>";  
    $("#tb2").append(trObj);  
  });
    function del2(obj) {  
        var trId = obj.parentNode.parentNode.id;  
        var trObj = document.getElementById(trId);  
        document.getElementById("tb2").removeChild(trObj);  
    } 
</script>
 
  </body>
</html>