<!DOCTYPE html>
<html>
<head>
  <title>Wow Kitchen & Bath</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../../../template/common/css/common.css">
  <link rel="stylesheet" type="text/css" href="../../account/css/account.css">
</head>
<body>
{%include file="$root/template/common/navbar.html"%}


<div id="body_dash">
    {%include file="$root/template/common/sidebar.html"%}
    
    
    <div id="admin_main">
        <div class="productLink topspace"><a href="designer_manage.html">管理作品</a>/<a href="designer_upload.html">上传设计作品</a>/选择使用物料</div>
        <div id="select_product_title">请选择设计作品中使用到的物料</div>
        <table id="productList">
        <tr>
          <th><input id="toggle" type="checkbox"></th>
          <th>图片</th>
          <th>名称</th>
          <th>品牌</th>
          <th>产品编号</th>
          <th>价格</th>
          <th>内容描述</th>
        </tr>
        <tr>
          <td><input id="toggle" type="checkbox"></td>
          <td><img id="select_product_pic" src="../../image/p1.png"></td>
          <td>椅子</td>
          <td>CHair</td>
          <td>CH3242</td>
          <td>$234</td>
          <td>Made from Germany</td>
        </tr>
        <tr>
          <td><input id="toggle" type="checkbox"></td>
          <td><img id="select_product_pic" src="../../image/p2.png"></td>
          <td>椅子</td>
          <td>CHair</td>
          <td>CH3242</td>
          <td>$234</td>
          <td>Made from Germany</td>
        </tr>
        <tr>
          <td><input id="toggle" type="checkbox"></td>
          <td><img id="select_product_pic" src="../../image/p2.png"></td>
          <td>椅子</td>
          <td>CHair</td>
          <td>CH3242</td>
          <td>$234</td>
          <td>Made from Germany</td>
        </tr>
        <tr>
          <td><input id="toggle" type="checkbox"></td>
          <td><img id="select_product_pic" src="../../image/p2.png"></td>
          <td>椅子</td>
          <td>CHair</td>
          <td>CH3242</td>
          <td>$234</td>
          <td>Made from Germany</td>
        </tr>
        <tr>
          <td><input id="toggle" type="checkbox"></td>
          <td><img id="select_product_pic" src="../../image/p2.png"></td>
          <td>椅子</td>
          <td>CHair</td>
          <td>CH3242</td>
          <td>$234</td>
          <td>Made from Germany</td>
        </tr>
        <tr>
          <td><input id="toggle" type="checkbox"></td>
          <td><img id="select_product_pic" src="../../image/p2.png"></td>
          <td>椅子</td>
          <td>CHair</td>
          <td>CH3242</td>
          <td>$234</td>
          <td>Made from Germany</td>
        </tr>
        <tr>
          <td><input id="toggle" type="checkbox"></td>
          <td><img id="select_product_pic" src="../../image/p2.png"></td>
          <td>椅子</td>
          <td>CHair</td>
          <td>CH3242</td>
          <td>$234</td>
          <td>Made from Germany</td>
        </tr>
        <tr>
          <td><input id="toggle" type="checkbox"></td>
          <td><img id="select_product_pic" src="../../image/p2.png"></td>
          <td>椅子</td>
          <td>CHair</td>
          <td>CH3242</td>
          <td>$234</td>
          <td>Made from Germany</td>
        </tr>
        <tr>
          <td><input id="toggle" type="checkbox"></td>
          <td><img id="select_product_pic" src="../../image/p2.png"></td>
          <td>椅子</td>
          <td>CHair</td>
          <td>CH3242</td>
          <td>$234</td>
          <td>Made from Germany</td>
        </tr>
        <tr>
          <td><input id="toggle" type="checkbox"></td>
          <td><img id="select_product_pic" src="../../image/p2.png"></td>
          <td>椅子</td>
          <td>CHair</td>
          <td>CH3242</td>
          <td>$234</td>
          <td>Made from Germany</td>
        </tr>
        <tr>
          <td><input id="toggle" type="checkbox"></td>
          <td><img id="select_product_pic" src="../../image/p2.png"></td>
          <td>椅子</td>
          <td>CHair</td>
          <td>CH3242</td>
          <td>$234</td>
          <td>Made from Germany</td>
        </tr>
      </table>
      <a href="#"><div id="selected" href="#">提交</div></a>
    </div>
    
  </div>

{%include file="$root/template/common/footer.html"%}

 
  </body>
</html>