<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wow Kitchen & Bath</title>
  <link rel="shortcut icon" type="image/x-icon" href="/image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/template/common/css/common.css">
  <link rel="stylesheet" type="text/css" href="/account/css/account.css">
</head>
<body>
{%include file="$root/template/common/navbar_prewowkb.html"%}

<div id="body_dash">
  {%include file="$root/template/common/sidebar.html"%}

<div id="admin_main">
      
      <div id="admin_content">
      
      
      <table id="productList">
        <tr>
          <th>作品图片</th>
          <th>作品名称</th>
          <th>用户姓名</th>
          <th>用户电话</th>
          <th>用户邮箱</th>
        </tr>
        {%foreach from=$res key=i item=val%}
        <tr>
          <td><img id="design_pic" src="{%$val['pic_path']|default:''%}"></td>
          <td>{%$val['zuopin_name']|default:''%}</td>
          <td>{%$val['customer']|default:''%}</td>
          <td>{%$val['customer_tel']|default:''%}</td>
          <td>{%$val['customer_email']|default:''%}</td>
        </tr>
        {%/foreach%}
      </table>
      
      
    </div>
  </div>
  </div>

{%include file="$root/template/common/footer.html"%}

  </body>
</html>