<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WOWKB</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/template/common/css/common.css">
  <link rel="stylesheet" type="text/css" href="/template/common/css/common_temp.css">
  <link rel="stylesheet" type="text/css" href="/account/css/account.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/99d52acf31.js"></script>
  <script type="text/javascript" src="/account/js/cropper.js"></script>
</head>
<body>
{%include file="$root/template/common/navbar_prewowkb.html"%}

<div id="body_dash">
   {%include file="$root/template/common/sidebar.html"%}

  <div id="admin_main">
 
    <div id="admin_content">
        <div class="personal_profile">
          <form action="/account/space.php?act=designer_profile_process" method="post" enctype="multipart/form-data" role="form">
            <table class="profile_form">
              <tr>
                <td class="profile_left">头像</td>
                <td>
                
                
                <canvas id="testCanvas"   width="240" height="240" style="border: 1px solid #afafaf;" >Your browser does not support canvas.</canvas>
               
              <script>
				      var canvas = document.getElementById('testCanvas');
				      var context = canvas.getContext('2d');
				      var imageObj = new Image();
				
				      imageObj.onload = function() {
				        context.drawImage(imageObj, 69, 50);
				      };
				      imageObj.src = "{%$res_user['pic_path']|default:''%}"; 
    			</script> 
                </td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <input type="file" name="file" id="fileInput" onchange="handleFileSelect()" class="pic_upload"/><label for="fileInput"><span>选择图片</span></label>
                  <input type="button" onclick="cropper.startCropping()" value="裁剪" class="pic_button"/>
                  <input type="button" onclick="cropper.getCroppedImageSrc()" value="确定" class="pic_button"/>
                </td>
              </tr>
              <tr>
                <td><span>姓名</span></td>
                <td><input type="text" class="input-field" name="name" value="{%$res_user_designer['name']|default:''%}" /></td>
              </tr>
              <tr>
                <td><span>电话</span></td>
                <td><input type="text" class="input-field" name="phone" value="{%$res_user_designer['tel']|default:''%}" /></td>
              </tr>
              <tr>
                <td><span>邮箱</span></td>
                <td><input type="text" class="input-field" name="email" value="{%$res_user_designer['email']|default:''%}" /></td>
              </tr>
              <tr>
                <td><span>毕业学校</span></td>
                <td><input type="text" class="input-field" name="school" value="{%$res_user_designer['school']|default:''%}" /></td>
              </tr>
              <tr>
                <td><span>专业</span></td>
                <td><input type="text" class="input-field" name="major" value="{%$res_user_designer['major']|default:''%}" /></td>
              </tr>
              <tr>
                <td><span>使用软件</span></td>
                <td>
              
                <label class="checkbox-inline"><input name="software_list[]" type="checkbox" id="inlineCheckbox1" value="AutoCAD"  {%foreach from=$softwares key=i item=val%}{%if $val eq 'AutoCAD' %}checked {%/if%}{%/foreach%}/>AutoCAD</label> 
                
                
                <label class="checkbox-inline"><input name="software_list[]" type="checkbox" id="inlineCheckbox1" value="REVIT" {%foreach from=$softwares key=i item=val%}{%if $val eq 'REVIT' %}checked {%/if%}{%/foreach%}/>REVIT</label> 
                 
                
                <label class="checkbox-inline"><input name="software_list[]" type="checkbox" id="inlineCheckbox1" value="3DS" {%foreach from=$softwares key=i item=val%}{%if $val eq '3DS' %}checked {%/if%}{%/foreach%}/>3DS MAX</label> 
                 
                
                <label class="checkbox-inline"><input name="software_list[]" type="checkbox" id="inlineCheckbox1" value="2020" {%foreach from=$softwares key=i item=val%} {%if $val eq '2020' %}checked {%/if%}  {%/foreach%}/>2020 Design</label>
                
                
                <label class="checkbox-inline"><input name="software_list[]" type="checkbox" id="inlineCheckbox1" value="SketchUP" {%foreach from=$softwares key=i item=val%} {%if $val eq 'SketchUP' %}checked {%/if%} {%/foreach%}/>SketchUP</label> 
                 
               
                <label class="checkbox-inline"><input name="software_list[]" type="checkbox" id="inlineCheckbox1" value="Photoshop"  {%foreach from=$softwares key=i item=val%} {%if $val eq 'Photoshop' %}checked {%/if%}  {%/foreach%}/>Photoshop</label> 
               
              </td>
              </tr>
              <tr>
                <td></td>
                <td>
                
                <label class="checkbox-inline"><input name="software_list[]" type="checkbox" id="inlineCheckbox1" value="Indesign" {%foreach from=$softwares key=i item=val%} {%if $val eq 'Indesign' %}checked {%/if%}{%/foreach%}/>Indesign</label> 
                 
                
                <label class="checkbox-inline"><input name="software_list[]" type="checkbox" id="inlineCheckbox1" value="Illustrator" {%foreach from=$softwares key=i item=val%} {%if $val eq 'Illustrator' %}checked {%/if%} {%/foreach%}/>Illustrator</label>
                
                
                <label class="checkbox-inline"><input name="software_list[]" type="checkbox" id="inlineCheckbox1" value="VERY" {%foreach from=$softwares key=i item=val%} {%if $val eq 'VERY' %}checked {%/if%}{%/foreach%}/>VERY</label> 
                 
                
                <label class="checkbox-inline"><input name="software_list[]" type="checkbox" id="inlineCheckbox1" value="Redshift"  {%foreach from=$softwares key=i item=val%} {%if $val eq 'Redshift' %}checked {%/if%} {%/foreach%}/>Redshift</label> 
                
                
                <label class="checkbox-inline"><input name="software_list[]" type="checkbox" id="inlineCheckbox1" value="ArchiCAD" {%foreach from=$softwares key=i item=val%} {%if $val eq 'ArchiCAD' %}checked {%/if%} {%/foreach%}/>ArchiCAD</label> 
                 
                
                <label class="checkbox-inline"><input name="software_list[]" type="checkbox" id="inlineCheckbox1" value="Vectorworks"  {%foreach from=$softwares key=i item=val%} {%if $val eq 'Vectorworks' %}checked {%/if%} {%/foreach%}/>Vectorworks</label>
                 
                
                <label class="checkbox-inline"><input name="software_list[]" type="checkbox" id="inlineCheckbox1" value="other" {%foreach from=$softwares key=i item=val%} {%if $val eq 'other' %}checked {%/if%} {%/foreach%}/>其他</label>
                 
                </td>
              </tr>
              <tr>
                <td><span>服务范围</span></td>
                <td>
                  <input type="text" class="input-field" name="service" value="{%$res_user_designer['service']|default:''%}" />
              </td>
              </tr>  
              <tr>
                <td><span>个人简介</span></td>
                <td><textarea maxlength="250" name="description" class="textarea-field supplier_info_textarea" onkeydown='countChar("status","counter");' onkeyup='countChar("status","counter");' required="true">{%$res_user_designer['intro']|default:''%}</textarea></br><div class="type_counter">可以输入<span id="counter">250</span>字<br/></div></td>
              </tr>              
            </table>
            
            <input type="submit" class="button_orange_input button_left" value="保存">
           
          </form>
        </div>
    </div>
  </div>
</div>
<script type="text/javascript">
      cropper.start(document.getElementById("testCanvas"), 1); // initialize cropper by providing it with a target canvas and a XY ratio (height = width * ratio)
            
      function handleFileSelect() {
        // this function will be called when the file input below is changed
        var file = document.getElementById("fileInput").files[0];  // get a reference to the selected file
        
        var reader = new FileReader(); // create a file reader
        // set an onload function to show the image in cropper once it has been loaded
        reader.onload = function(event) {
          var data = event.target.result; // the "data url" of the image
          cropper.showImage(data); // hand this to cropper, it will be displayed
        };
        
        reader.readAsDataURL(file); // this loads the file as a data url calling the function above once done
      }
      
</script>
<script language="javascript">
  function countChar(textareaName,spanName)
  {
    document.getElementById(spanName).innerHTML = 250 - document.getElementById(textareaName).value.length;
  }
</script>
</body>
</html>