<!DOCTYPE html>
<html>
<head>
  <title>Wow Kitchen & Bath</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../../../template/common/css/common.css">
  <link rel="stylesheet" type="text/css" href="../../account/css/account.css">
</head>
<body>
{%include file="$root/template/common/navbar.html"%}

<div id="body_dash">
   {%include file="$root/template/common/sidebar.html"%}

  <div id="admin_main">
      
      <div id="admin_content">
        <a id="admin_edit_button" href="/account/space.php?act=designer_upload">上传作品</a>
        <a id="admin_edit_button" href="../page/products.html">搜索物料</a>
 
        <form id="search">
          <input id="admin_search" type="text" name="designname" value="作品名搜索">
        </form>

      <table id="productList">
        <tr>
          <th><input id="toggle" type="checkbox"></th>
          <th>图片</th>
          <th>系统编号</th>
          <th>名称</th>
          <th>空间尺寸</th>
          <th>预估报价</th>
          <th></th>
        </tr>
        {%foreach from=$res key=i item=value%}
        <tr>
          <td><input id="toggle" type="checkbox"></td>
          <td><a href="/account/space.php?act=zuopin_modify&id={%$value['pk_id']|default:''%}"><img id="design_pic" src="{%$value['pic_path']|default:''%}"></a></td>
          <td>{%$value['pk_id']|default:''%}</td>
          <td>{%$value['name']|default:''%}</td>
          <td>{%$value['size']|default:''%}</td>
          <td>{%$value['price']|default:''%}</td>
          <td>
            <a id="edit" href="/account/space.php?act=zuopin_modify&id={%$value['pk_id']|default:''%}">修改</a>
            |
            <a id="delete" href="/account/space.php?act=zuopin_delete&id={%$value['pk_id']|default:''%}" >删除</a>
          </td>
        </tr>
       {%/foreach%}
      </table>
    </div>
  </div>
</div>

{%include file="$root/template/common/footer.html"%}
  </body>
</html>