<!DOCTYPE html>
<html>
<head>
  <title>Wow Kitchen & Bath</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../../../template/common/css/common.css">
  <link rel="stylesheet" type="text/css" href="../../account/css/account.css">
</head>
<body>
{%include file="$root/template/common/navbar.html"%}


<div id="body_dash">
    {%include file="$root/template/common/sidebar.html"%}
    
    
    <div id="admin_main">
        <div class="productLink topspace"><a href="designer_manage.html">管理作品</a>/<a href="designer_upload.html">上传设计作品</a>/选择使用物料</div>
        <div id="select_product_title">请填写设计作品中使用到的物料</div>

        <div id="select_design_product">      
          <img id="select_design_product" src="../../image/t2.jpg"/>
        </div>

        <table id="productList">
        <tr>
          <th>编号</th>
          <th>产品编号</th>
          <th>图片</th>
          <th>名称</th>
          <th>品牌</th>
          <th>品类</th> 
          <th>款式</th>     
          <th>价格</th>
          <th>编辑</th>
        </tr>
        <tr>
          <td>1</td>
          <td><input></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>添加</br>删除</td>
        </tr>
        <tr>
          <td>2</td>
          <td>CH3242</td>
          <td><img id="select_product_pic" src="/image/p1.png"></td>
          <td>椅子</td>
          <td>CHair</td>
          <td>B-09R</td>
          <td>A7</td>
          <td>$234</td>
          <td>添加</br>删除</td>
        </tr>
        <tr>
          <td>3</td>
          <td>CH3242</td>
          <td><img id="select_product_pic" src="/image/p2.png"></td>
          <td>椅子</td>
          <td>CHair</td>
          <td>B-09R</td>
          <td>A7</td>
          <td>$234</td>
          <td>添加</br>删除</td>
        </tr>
        <tr>
          <td>4</td>
          <td>CH3242</td>
          <td><img id="select_product_pic" src="/image/p2.png"></td>
          <td>椅子</td>
          <td>CHair</td>
          <td>B-09R</td>
          <td>A7</td>
          <td>$234</td>
          <td>添加</br>删除</td>
        </tr>
        <tr>
          <td>5</td>
          <td>CH3242</td>
          <td><img id="select_product_pic" src="/image/p2.png"></td>
          <td>椅子</td>
          <td>CHair</td>
          <td>B-09R</td>
          <td>A7</td>
          <td>$234</td>
          <td>添加</br>删除</td>
        </tr>
        <tr>
          <td>6</td>
          <td>CH3242</td>
          <td><img id="select_product_pic" src="/image/p2.png"></td>
          <td>椅子</td>
          <td>CHair</td>
          <td>B-09R</td>
          <td>A7</td>
          <td>$234</td>
          <td>添加</br>删除</td>
        </tr>
      </table>
      <a href="#"><div id="selected" href="#">提交</div></a>
    </div>
    
  </div>

{%include file="$root/template/common/footer.html"%}

 
  </body>
</html>