
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WOWKB</title>
  <link rel="shortcut icon" type="image/x-icon" href="/image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/template/common/css/common.css">
  <link rel="stylesheet" type="text/css" href="/account/css/account.css">
</head>
<body>
{%include file="$root/template/common/navbar.html"%}

<div id="body_dash">


  <div class="search_main_content">
      
      <div id="admin_content">
 

      <div class="select_box">
      <div class="select_top_link">
        <ul>
          <li class="upper"><a href="/account/space.php?act=search_material">返回</a></li>
        </ul>
      </div>
      </div><!-- select_box -->
      <div class="search_main">
        <div class="left_main_material">
          <img src="{%$res['pic_path']|default:''%}">
        </div>
        <div class="right_side">
          <div class="right_info">
          <h3>{%$res['name']|default:''%}</h3>
          编号：{%$res['project_no']|default:''%}</br>
          品类：{%$res['category']|default:''%}</br>
          品牌：{%$res['brand']|default:''%}</br>
          材质：{%$res['texture']|default:''%}</br>
          颜色：{%$res['colour']|default:''%}</br>
          款式：{%$res['style']|default:''%}</br>       
          宽：{%$res['w']|default:''%}</br>
          高：{%$res['h']|default:''%}</br>
          深：{%$res['d']|default:''%}</br>
          描述：{%$res['description']|default:''%}
        </div>
      </div>


      
    </div>
</div>

{%include file="$root/template/common/footer.html"%}
  </body>
</html>