<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WOWKB</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/template/common/css/common.css">
  <link rel="stylesheet" type="text/css" href="/account/css/account.css">
  <script src="https://use.fontawesome.com/99d52acf31.js"></script>
</head>
<body>
{%include file="$root/template/common/navbar.html"%}

<div id="body_dash">


  <div class="search_main_content">
      
      <div id="admin_content">
 
	<form action="/account/space.php?act=search_material" method="post">
      <div class="select_box">
<!--       <label class="dropdown">
        <select>
                <option selected>按品牌选择</option>
                <option>Blue</option>
                <option >Red</option>
                <option>Green</option>
                <option>Yellow</option>
                <option>Brown</option>
        </select>
        </label> -->
        <label class="dropdown">
        <select  name="style">
                <option value="" selected>按款式选择</option>
                <option value="A7">A7</option>
                <option value="S9">S9</option>
                <option value="H1">H1</option>
                <option value="S8">S8</option>
                <option value="K3">K3</option>
                <option value="K8">K8</option>
                <option value="K10">K10</option>
                <option value="S2">S2</option>
                <option value="CO66">CO66</option>
                <option value="J5">J5</option>
                <option value="M01">M01</option>
        </select>
        </label>
        <label class="dropdown">
        <select name="colour">
                <option value="" selected>按颜色选择</option>
                <option value="White">白色 - White</option>
                <option value="Black">黑色 - Black</option>
                <option value="Light">浅色 - Light</option>
                <option value="Dark">深色 - Dark</option>
                <option value="Brown">棕色 - Brown</option>
                <option value="Grey">灰色 - Grey</option>
                <option value="Off- white">奶白色 - Off- white</option>
                <option value="Orange">橘色- Orange</option>
                <option value="Blue">蓝色 - Blue</option>
                <option value="Red">红色 - Red</option>
                <option value="Green">绿色 - Green</option>
        </select>
        </label>
<!--         <label class="dropdown">
        <select>
                <option selected>按颜色选择</option>
                <option>Blue</option>
                <option >Red</option>
                <option>Green</option>
                <option>Yellow</option>
                <option>Brown</option>
        </select>
      </label> -->
      </div><!-- select_box -->
      <label class="">
      <input type="submit" name="submit" value="submit">
      </label>
      </form>
      
      <div class="search_main">
      {%if !empty($res)%}
      {%foreach from=$res key=i item=val%}
        <div class="each_material">
          <div class="each_materil_pic">
            <a href="/account/space.php?act=material_detail&id={%$val['item_id']|default:''%}"><img class="material_pic" src="{%$val['pic_path']|default:''%}"></a>
          </div>        
          <div class="material_info">
            <div class="info_1">{%$val['name']|default:''%}</div>
          </div>
        </div>
		{%/foreach%}
		
		{%/if%}
      </div>

     
    </div>

</div>

{%include file="$root/template/common/footer.html"%}

  </body>
</html>