<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WOWKB</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/template/common/css/common.css">
  <link rel="stylesheet" type="text/css" href="/account/css/account.css">
  <script src="https://use.fontawesome.com/99d52acf31.js"></script>
</head>
<body>
{%include file="$root/template/common/navbar.html"%}

<div id="body_dash">


  <div class="search_main_content">
      
      <div id="admin_content">
 

      <div class="select_box">
<!--       <label class="dropdown">
        <select>
                <option selected>按品牌选择</option>
                <option>Blue</option>
                <option >Red</option>
                <option>Green</option>
                <option>Yellow</option>
                <option>Brown</option>
        </select>
        </label> -->
        <label class="dropdown">
        <select>
                <option selected>按款式选择</option>
                <option>A7</option>
                <option>S9</option>
                <option>H1</option>
                <option>S8</option>
                <option>K3</option>
                <option>K8</option>
                <option>K10</option>
                <option>S2</option>
                <option>CO66</option>
                <option>J5</option>
                <option>M01</option>
        </select>
        </label>
        <label class="dropdown">
        <select>
                <option selected>按颜色选择</option>
                <option>白色 - White</option>
                <option>黑色 - Black</option>
                <option>浅色 - Light</option>
                <option>深色 - Dark</option>
                <option>棕色 - Brown</option>
                <option>灰色 - Grey</option>
                <option>奶白色 - Off- white</option>
                <option>橘色- Orange</option>
                <option>蓝色 - Blue</option>
                <option>红色 - Red</option>
                <option>绿色 - Green</option>
        </select>
        </label>
<!--         <label class="dropdown">
        <select>
                <option selected>按颜色选择</option>
                <option>Blue</option>
                <option >Red</option>
                <option>Green</option>
                <option>Yellow</option>
                <option>Brown</option>
        </select>
      </label> -->
      </div><!-- select_box -->
      <div class="search_main">
        <div class="each_material">
          <div class="each_materil_pic">
            <img class="material_pic" src="../../image/customize/A7/material.jpg">
          </div>        
          <div class="material_info">
            <div class="info_1">Creme Maple Glazed</div>
          </div>
        </div>

        <div class="each_material">
          <div class="each_materil_pic">
            <img class="material_pic" src="../../image/customize/CO66/material.jpg">
          </div>      
          <div class="material_info">
            <div class="info_1">Coffee Maple Glazed</div>
          </div>
        </div>

        <div class="each_material">
          <div class="each_materil_pic">
            <img class="material_pic" src="../../image/customize/J5/material.jpg">
          </div>
          <div class="material_info">
            <div class="info_1">Maple Glazed</div>
          </div>
        </div>

        <div class="each_material">
          <div class="each_materil_pic">
            <img class="material_pic" src="../../image/customize/K10/material.jpg">
          </div>
          <div class="material_info">
            <div class="info_1">Maple Glazed</div>
          </div>
        </div>

        <div class="each_material">
          <div class="each_materil_pic">
            <img class="material_pic" src="../../image/customize/K3/material.jpg">
          </div>
          <div class="material_info">
            <div class="info_1">Maple Glazed</div>
          </div>
        </div>

        <div class="each_material">
          <div class="each_materil_pic">
            <img class="material_pic" src="../../image/customize/K8/material.jpg">
          </div>
          <div class="material_info">
            <div class="info_1">Maple Glazed</div>
          </div>
        </div>

        <div class="each_material">
          <div class="each_materil_pic">
            <img class="material_pic" src="../../image/customize/M01/material.jpg">
          </div>
          <div class="material_info">
            <div class="info_1">Maple Glazed</div>
          </div>
        </div>

        <div class="each_material">
          <div class="each_materil_pic">
            <img class="material_pic" src="../../image/customize/A7/B33.png">
          </div>
          <div class="material_info">
            <div class="info_1">Maple Glazed</div>
          </div>
        </div>

      </div>

      
    </div>

</div>

{%include file="$root/template/common/footer.html"%}

  </body>
</html>