<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WOWKB</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/template/common/css/common.css">
  <link rel="stylesheet" type="text/css" href="/template/common/css/common_temp.css">
  <link rel="stylesheet" type="text/css" href="/account/css/account.css">
  <script src="https://use.fontawesome.com/99d52acf31.js"></script>
</head>
<body>
{%include file="$root/template/common/navbar_prewowkb.html"%}

<div id="body">


  <div class="search_main_content">
      
      <div id="admin_content">
 
  <form action="/account/space.php?act=search_material" method="post">
      <div class="select_box">
        <label class="dropdown">
        <select  name="category">
                <option value="" selected>按品类选择</option>
                <option value="Base Cabinet" >Base Cabinet</option>
                <option value="Wall Cabinet" >Wall Cabinet</option>
                <option value="Tall /cabinet" >Tall /cabinet</option>
                <option value="Pantry Cabinet" >Pantry Cabinet</option>
                <option value="Vanity Cabinet" >Vanity Cabinet</option>
                <option value="Specialty Units" >Specialty Units</option>
        </select>
        </label>
        <label class="dropdown">
        <select  name="style">
                <option value="" selected>按款式选择</option>
                <option value="A7">A7</option>
                <option value="S9">S9</option>
                <option value="H1">H1</option>
                <option value="S8">S8</option>
                <option value="K3">K3</option>
                <option value="K8">K8</option>
                <option value="K10">K10</option>
                <option value="S2">S2</option>
                <option value="CO66">CO66</option>
                <option value="J5">J5</option>
                <option value="M01">M01</option>
        </select>
        </label>
        <label class="dropdown">
        <select name="colour">
                <option value="" selected>按颜色选择</option>
                <option value="White">白色 - White</option>
                <option value="Black">黑色 - Black</option>
                <option value="Light">浅色 - Light</option>
                <option value="Dark">深色 - Dark</option>
                <option value="Brown">棕色 - Brown</option>
                <option value="Grey">灰色 - Grey</option>
                <option value="Off- white">奶白色 - Off- white</option>
                <option value="Orange">橘色- Orange</option>
                <option value="Blue">蓝色 - Blue</option>
                <option value="Red">红色 - Red</option>
                <option value="Green">绿色 - Green</option>
        </select>
        </label>
      </div><!-- select_box -->
      <label class="">
      <input type="submit" class="button_light_input" name="submit" value="submit">
      </label>
      <input class="button_orange_input" value="提交选择产品">
      </label>
      </form>
      
      <div class="search_main">
      {%if !empty($res)%}
      {%foreach from=$res key=i item=val%}
        <div class="each_material">
          <div class="each_materil_pic">
            <a href="/account/space.php?act=material_detail&id={%$val['item_id']|default:''%}"><img class="material_pic" src="{%$val['pic_path']|default:''%}"></a>
          </div>        
          <div class="material_info">
            <div class="info_1"><input type="checkbox"> {%$val['name']|default:''%}
            </br><span class="sys_catogory">Base Cabinet</span>
              </br><span class="sys_num">1314432141041043</span>
            </div>
          </div>
        </div>
    {%/foreach%}
    
    {%/if%}
    
      </div>     
    </div>
</div>
</body>
</html>