<!DOCTYPE html>
<html>
<head>
  <title>Wow Kitchen & Bath</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../../../template/common/css/common.css">
  <link rel="stylesheet" type="text/css" href="../../account/css/account.css">
</head>
<body>
{%include file="$root/template/common/navbar.html"%}

<div id="body_dash">
    {%include file="$root/template/common/sidebar.html"%}


  <div id="admin_main">    
    <div id="admin_content">
      <table id="orderList">
        <tr>
          <th class="order_td">
            <div id="order_status_num">订单编号：J14144089797986961</br>
              下单时间: 2017.03.09</div>
          </th>
          <th></th>
          <th></th>
          <th class="order_tdtd">
            <div id="order_status">订单状态：已付款
            <div id="order_button">
              <div class="order_status_button1">取消订单</div>
              <div class="order_status_button2">付款</div>
            </div>
          </div>
          </th>
        </tr> 
        <tr>
          <td class="order_td"><img id="order_product_pic" src="../../image/p2.png"><div id="order_box">
            <div id="order_product_name">Creme Maple Glazed</div>
            <div id="order_product_detail">编号：B-09R 款式：A7 颜色：白色</div>
          </div></td>
          <td>JK</td>
          <td>$99</td>
          <td>1</td>
        </tr>
        <tr>
          <td class="order_td"><img id="order_product_pic" src="../../image/p1.png"><div id="order_box">
            <div id="order_product_name">Creme Maple Glazed</div>
            <div id="order_product_detail">编号：B-09R 款式：A7 颜色：白色</div>
          </div></td>
          <td>J&K</td>
          <td>$99</td>
          <td>2</td>
        </tr>
        <tr>
          <td class="order_td"><img id="order_product_pic" src="../../image/p3.png"><div id="order_box">
            <div id="order_product_name">Creme Maple Glazed</div>
            <div id="order_product_detail">编号：B-09R 款式：A7 颜色：白色</div>
          </div></td>
          <td>J&K</td>
          <td>$99</td>
          <td>3</td>
        </tr>
        <tr>
          <td class="order_td"><img id="order_product_pic" src="../../image/p5.png"><div id="order_box">
            <div id="order_product_name">Creme Maple Glazed</div>
            <div id="order_product_detail">编号：B-09R 款式：A7 颜色：白色</div>
          </div></td>
          <td>J&K</td>
          <td>$99</td>
          <td>4</td>
        </tr>
      
     </table>
    </div>
  </div>
</div>

{%include file="$root/template/common/footer.html"%}

  </body>
</html>