<!DOCTYPE html>
<html>
<head>
  <title>Wow Kitchen & Bath</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../../../template/common/css/common.css">
  <link rel="stylesheet" type="text/css" href="../../account/css/account.css">
</head>
<body>
{%include file="$root/template/common/navbar.html"%}

<div id="body_dash">
    {%include file="$root/template/common/sidebar.html"%}

  <div id="admin_main">
<!--     <div id="admin_label">
      <a id="label_choose">收藏的设计作品</a>
      <div id="label_blank"></div>
      <a id="label_unchoose" href="user_collection_products.html">收藏的产品</a>
    </div> -->

    <div id="admin_content">
        <div class="admin_collect">
          <a href="design.html"><div class="admin_collect_pic">
            <img class="admin_collect_pic" src="../../image/t1.jpg">
          </div></a>
          <div class="admin_collect_delete">删除</div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">美式厨房设计</div>
            <div class="admin_collect_designer">设计师：XXX</div>
          </div>

        </div>
        <div class="admin_collect">
          <div class="admin_collect_pic">
            <img class="admin_collect_pic" src="../../image/t2.jpg">
          </div>
          <div class="admin_collect_delete">删除</div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">美式厨房设计</div>
            <div class="admin_collect_designer">设计师：XXX</div>
          </div>
        </div>
        <div class="admin_collect">
          <div class="admin_collect_pic">
            <img class="admin_collect_pic" src="../../image/t2.jpg">
          </div>
          <div class="admin_collect_delete">删除</div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">美式厨房设计</div>
            <div class="admin_collect_designer">设计师：XXX</div>
          </div>
        </div>
        <div class="admin_collect">
          <div class="admin_collect_pic">
            <img class="admin_collect_pic" src="../../image/t3.jpg">
          </div>
          <div class="admin_collect_delete">删除</div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">美式厨房设计</div>
            <div class="admin_collect_designer">设计师：XXX</div>
          </div>
        </div>
        <div class="admin_collect">
          <div class="admin_collect_pic">
            <img class="admin_collect_pic" src="../../image/t3.jpg">
          </div>
          <div class="admin_collect_delete">删除</div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">美式厨房设计</div>
            <div class="admin_collect_designer">设计师：XXX</div>
          </div>
        </div>
        <div class="admin_collect">
          <div class="admin_collect_pic">
            <img class="admin_collect_pic" src="../../image/t2.jpg">
          </div>
          <div class="admin_collect_delete">删除</div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">美式厨房设计</div>
            <div class="admin_collect_designer">设计师：XXX</div>
          </div>
        </div>
    </div>
  </div>
</div>


{%include file="$root/template/common/footer.html"%}
  </body>
</html>