<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>WOWKB</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/template/common/css/common.css">
  <link rel="stylesheet" type="text/css" href="/account/css/account.css">
  <link rel="stylesheet" type="text/css" href="/prewowkb/css/prewowkb.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <style>
    #imgInp {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }
    #imgInp + label {
      height: 30px;
      padding: 0px 5px 5px 5px;
      font-size: 1em;
      font-weight: 700;
      color: white;
      background-color: black;
      display: inline-block;
    }

    #imgInp:focus + label,
    #imgInp + label:hover {
      background-color: red;
    }
    #imgInp + label {
      cursor: pointer; /* "hand" cursor */
    }
    #upload_images, #uploaded_images {
      width: 80%;
      min-width: 300px;
      max-width: 600px;
      max-height: 180px;
      list-style: none;
      padding: 0px 20px;
      overflow: scroll;
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      display: none;
      border: black solid 1px;
    }
    #uploaded_images {
      padding: 0px 20px;
      display: block;
    }
    #upload_images li, #uploaded_images li {
      display: inline-block;
      vertical-align: middle;
      width: 140px;
      margin: 2px;
    }
    #upload_images li span, #uploaded_images li span {
      float:right;
      color: red;
      margin: 10px 8px -20px 0px;
    }
    #upload_images li img, #uploaded_images li img {
      width: 100%;
    }
  </style>
</head>
<body>
{%include file="$root/template/common/navbar_prewowkb.html"%}


<div id="body_dash">
 {%include file="$root/template/common/sidebar.html"%}
    
<div id="admin_main">
          <form action="/account/space.php?act=zuopin_modify_process" method="post" enctype="multipart/form-data">
            <table class="upload_form">
              <tr>
                <td>作品名称<span class="required">*</span></td>
                <td><input type="text" class="input-field" name="name" value="{%$res['name']|default:''%}" /></td>
              </tr>
              <input type="hidden" name="pk_id" value="{%$res['pk_id']|default:''%}">
              <tr>
                <td>作品类别<span class="required">*</span></td>
                <td>
                  <select name="category" id="mySelect1" >
                    <option value="家居产品定制" {%if $res['category'] eq "家居产品定制"%} selected {%/if%}>家居设计</option>
                    <option value="室内翻新改造" {%if $res['category'] eq "室内翻新改造"%} selected {%/if%}>空间规划</option>
                    <option value="房屋加建改建" {%if $res['category'] eq "房屋加建改建"%} selected {%/if%}>室内装修</option>
                    <option value="">景观</option>
                    <option value="">建筑</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>作品图片<span class="required">*</span></td>
                <td>
                  <input class="btn" type="file" id="imgInp" name="files[]" accept="image/*" multiple required>
                  <label for="imgInp">Choose a file</label>
                  <div class="type_counter">最多上传10张</div>
                  <div>
                    <div id="uploaded_images">
                      <h6>已上传作品图片</h6>
                      {%foreach from=$pics key=i item=val%}
                      <li>
                        <span class="glyphicon glyphicon-remove"></span>
                        <img src="{%$val['pic_path']|default:''%}" title="undefined">
                      </li>
                      {%/foreach%}
                    </div>
                    <div id="upload_images">
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>设计报价<span class="required">*</span></td>
                <td><input type="text" class="input-field" name="price" value="{%$res['price']|default:''%}" /></td>
              </tr>
              <tr>
                <td>作品信息<span class="required">*</span></td>
                <td><textarea name="intro" class="textarea-field">{%$res['intro']|default:''%}</textarea></td>
              </tr>
        <tr>
          <td>作品风格<span class="required">*</span></td>
          <td>
            <select name="style" id="mySelect2" required>
              <option value="">请选择</option>
              <option disabled="disabled">----</option>
              <option value="Mid" {%if $res['style'] eq "Mid"%} selected {%/if%}>Mid-century Modern Style</option>
              <option value="Modern" {%if $res['style'] eq "Modern"%} selected {%/if%}>Modern Style</option>
              <option value="Art" {%if $res['style'] eq "Art"%} selected {%/if%}>Art Deco Style</option>
              <option value="Minimalism" {%if $res['style'] eq "Minimalism"%} selected {%/if%}>Minimalism Style</option>
              <option value="Traditional" {%if $res['style'] eq "Traditional"%} selected {%/if%}>Traditional Style</option>
              <option value="Chinese" {%if $res['style'] eq "Chinese"%} selected {%/if%}>Chinese Style</option>
              <option value="Japanese" {%if $res['style'] eq "Japanese"%} selected {%/if%}>Japanese Style</option>
              <option value="Scandinavian" {%if $res['style'] eq "Scandinavian"%} selected {%/if%}>Scandinavian Design Style</option>
              <option value="Eclectic" {%if $res['style'] eq "Eclectic"%} selected {%/if%}>Eclectic Style</option>
              <option value="Country" {%if $res['style'] eq "Country"%} selected {%/if%}>Country Style</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>空间面积<span class="required">*</span></td>
          <td>
            <select name="area" id="mySelect3" required>
              <option value="">请选择</option>
              <option disabled="disabled">----</option>
              <option value="1" {%if $res['area'] eq 1 %} selected {%/if%}>Smaller: < 70 sq. ft</option>
              <option value="2" {%if $res['area'] eq 2 %} selected {%/if%}>Small: 71 - 100 sq.ft</option>
              <option value="3" {%if $res['area'] eq 3 %} selected {%/if%}>Medium: 101 - 200 sq. ft</option>
              <option value="4" {%if $res['area'] eq 4 %} selected {%/if%}>Large: 201 - 400 sq. ft</option>
              <option value="5" {%if $res['area'] eq 5 %} selected {%/if%}>Larger: > 400 sq. ft</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>形状<span class="required">*</span></td>
          <td>
            <select name="shape" id="mySelect4" onchange="myFunction()" required>
              <option value="">请选择</option>
              <option disabled="disabled">----</option>
              <option value="square" {%if $res['shape'] eq "square" %} selected {%/if%}>正方形</option>
              <option value="rectangle" {%if $res['shape'] eq "rectangle" %} selected {%/if%}>长方形</option>
              <option value="multiple" {%if $res['shape'] eq "multiple" %} selected {%/if%}>多边形</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>布局<span class="required">*</span></td>
          <td>
            <select name="layout" id="mySelect5" onchange="myFunction()" required>
              <option value="">请选择</option>
              <option disabled="disabled">----</option>
              <option value="one" {%if $res['layout'] eq "one" %} selected {%/if%}>一字型</option>
              <option value="onem" {%if $res['layout'] eq "onem" %} selected {%/if%}>一字型带中岛</option>
              <option value="l" {%if $res['layout'] eq "l" %} selected {%/if%}>L型</option>
              <option value="lm" {%if $res['layout'] eq "lm" %} selected {%/if%}>L型带中岛</option>
              <option value="u" {%if $res['layout'] eq "u" %} selected {%/if%}>U型</option>
              <option value="um" {%if $res['layout'] eq "um" %} selected {%/if%}>U型带中岛</option>
              <option value="g" {%if $res['layout'] eq "g" %} selected {%/if%}>G型</option>
              <option value="gm" {%if $res['layout'] eq "gm" %} selected {%/if%}>步入型</option>
            </select>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="design_upload_title upload_blank">产品清单关联</div>
          </td>
        </tr>
        <tbody id="tb1">
        <tr>
          <td>产品编号<span class="required">*</span></td>
          {%foreach from=$wuliaos key=i item=val%}
          <td id="addmaterial">
            <input type="text" class="input-field-short" name="m_names[]" value="{%$val['name']|default:''%}" required="true" />
            <input type="text" class="input-field-short" name="m_colors[]" value="{%$val['color']|default:''%}" required="true" />
            <input type="text" class="input-field-short" name="m_textures[]" value="{%$val['texture']|default:''%}" required="true" />
            <input type="text" class="input-field-short" name="m_amounts[]" value="{%$val['amount']|default:''%}" required="true" />
           <br />
           <div class="type_counter">输入产品名称</div>
           <div class="type_counter">输入产品材质</div>
           <div class="type_counter">输入产品颜色</div>
           <div class="type_counter">输入产品数量</div>
          </td>
          {%/foreach%}
        </tr>
        </tbody>
        <tr>
          <td></td>
          <td><input type="button" class="addbutton" value="增加" id="addMaterialButton"></td>
        </tr>
      </table>
      <input type="submit" class="button_orange_input button_left" value="修改"/>
    </form>
</div>
</div>


<script language="javascript">
  function countChar(textareaName,spanName)
  {
    document.getElementById(spanName).innerHTML = 250 - document.getElementById(textareaName).value.length;
  }
</script>

<script type="text/javascript">
  $("#addMaterialButton").click(function() {
    var trObj = document.createElement("tr");  
    trObj.id = new Date().getTime();  
    trObj.innerHTML = "<td></td><td><input name='m_names[]' class='input-field-short' type='text'/><input name='m_colors[]' type='text' class='input-field-short'/><input name='m_textures[]' type='text' class='input-field-short'/><input name='m_amounts[]' type='text' class='input-field-short'/>&nbsp;<input type='button' class='addbutton' value='删除'' onclick='del(this)'></td>";
    $("#tb1").append(trObj);
  });
  function del(obj) {
    var trId = obj.parentNode.parentNode.id;
    var trObj = document.getElementById(trId);
    document.getElementById("tb1").removeChild(trObj);
  }

  $('form').submit(function(){
    if(this.files.length>10)
      return false;
  });

  $("#upload_images").css("display", "none");

  $("#imgInp").change(function(event){
    var files = event.target.files; //FileList object

    var output = document.getElementById("upload_images");
    output.innerHTML = "";

    $("#upload_images").css("display", "block");

    //$("#uploaded_images").css("width", "38%");
    //$("#upload_images").css("width", "38%");

    if(this.files.length>10) {
      alert('to many files');
      document.getElementById("imgInp").value = "";
      $("#upload_images").empty();
      $("#upload_images").css("display", "none");
      //$("#uploaded_images").css("width", "80%");
    }
    if(this.files.length==0) {
      $("#upload_images").css("display", "none");
      //$("#uploaded_images").css("width", "80%");
    }

    for(var i = 0; i< files.length; i++)
    {

      var temp = i;
      var file = files[i];
      //Only pics

      console.log(file);
      if(!file.type.match('image'))
        continue;
      var picReader = new FileReader();
      picReader.addEventListener("load",function(event){
        var picFile = event.target;
        var li = document.createElement("li");
        li.innerHTML = "<span class='glyphicon glyphicon-remove' onclick='deleteImg("+temp+")' ></span><img src='" + picFile.result + "'" +
                "title='" + picFile.name + "' />";
        output.insertBefore(li,null);
      });
      //Read the image
      picReader.readAsDataURL(file);
    }
  });

  function deleteImg(id) {
    var files = $("#imgInp")[0].files;
    $("#upload_images").css("display", "none");

    var FileList = {};

    for (var key in files) {
      if (key != id && key !== "item") {
        FileList[key] = files[key];
      }
    }
    //$("#imgInp")[0].files = FileList;

    document.getElementById("imgInp").value = "";
    $("#upload_images").empty();

    //$("#uploaded_images").css("width", "80%");

    console.log($("#imgInp")[0].files);
    console.log(FileList);
    //files.remove(id);
  }

</script> 
</body>
</html>