<!DOCTYPE html>
<html>
<head>
  <title>Wow Kitchen & Bath</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/template/common/css/common.css">
  <link rel="stylesheet" type="text/css" href="/account/css/account.css">
</head>
<body>
{%include file="$root/template/common/navbar.html"%}


<div id="body_dash">
    {%include file="$root/template/common/sidebar.html"%}
    
<div id="admin_main">
    <div class="productLink topspace"><a href="">管理作品</a>/上传设计作品/第一步：填写作品信息</div>
        <div class="form-style-2">
          <form action="/account/space.php?act=zuopin_modify_process" method="post" enctype="multipart/form-data">
            <label for="field1">
              <span>作品名称<span class="required">*</span></span><input type="text" class="input-field" name="name" value="{%$res['name']|default:''%}" />
            </label>
            <input type="hidden" name="pk_id" value="{%$res['pk_id']|default:''%}">
            <label for="field1">
              <span>作品类别<span class="required">*</span></span>
            <select name="category" id="mySelect1" >
                <option value="家居产品定制" {%if $res['category'] eq "家居产品定制"%} selected {%/if%}>家居产品定制</option>
                <option value="室内翻新改造" {%if $res['category'] eq "室内翻新改造"%} selected {%/if%}>室内翻新改造</option>
                <option value="房屋加建改建" {%if $res['category'] eq "房屋加建改建"%} selected {%/if%}>房屋加建改建</option>
            </select>
            </label>
            <label for="field2">
              <span>作品报价<span class="required">*</span></span><input type="text" class="input-field" name="price" value="{%$res['price']|default:''%}" />
            </label>
            <label for="field2">
              <span>空间尺寸<span class="required">*</span></span><input type="text" class="input-field" name="size" value="{%$res['size']|default:''%}" />
            </label>
            <label for="field2">
              <span>材质<span class="required">*</span></span><input type="text" class="input-field" name="texture" value="{%$res['texture']|default:''%}" />
            </label>
            <label for="field2">
              <span>内部处理<span class="required">*</span></span><input type="text" class="input-field" name="interior" value="{%$res['interior']|default:''%}" />
            </label>
            <label for="field2">
              <span>颜色<span class="required">*</span></span><input type="text" class="input-field" name="color" value="{%$res['color']|default:''%}" />
            </label>
            <label for="field2">
              <span>应用<span class="required">*</span></span><input type="text" class="input-field" name="application" value="{%$res['application']|default:''%}" />
            </label>
            <!-- <label for="field2">
              <span>作品标签<span class="required">*</span></span><input type="text" class="input-field design_label" name="tags" value="标签之间逗号分隔，比如：橱柜，台面，地板..." />
            </label> -->
            <!-- <label>
              <span>设计图片<span class="required">*</span></span><input type="file" name="file">
            </label> -->
            <label for="field5">
              <span>内容简介 <span class="required">*</span></span><textarea name="intro" class="textarea-field">{%$res['intro']|default:''%}</textarea>
            </label>          
            <!-- <label>
              <span>使用物料</span><input type="file" name="">
            </label> -->
            <label>
              <span>&nbsp;</span><input type="submit" value="修改"/>
            </label>
          </form>
        </div>
      </div>
  </div>

{%include file="$root/template/common/footer.html"%}

 
  </body>
</html>