<!DOCTYPE html>
<html>
<head>
  <title>Wow Kitchen & Bath</title>
  <link rel="shortcut icon" type="image/x-icon" href="/image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../../../template/common/css/common.css">
  <link rel="stylesheet" type="text/css" href="../../account/css/account.css">
  
</head>
<body>
{%include file="$root/template/common/navbar.html"%}

<div id="body_dash">
    {%include file="$root/template/common/sidebar.html"%}
    
    <div id="admin_main">
        <div class="productLink topspace"><a href="designer_manage.html">管理作品</a>/上传设计作品</div>
        <div class="form-style-2">
          <form action="/account/space.php?act=zuopin_modify" method="post" enctype="multipart/form-data">
          <input type='hidden' name="pk_id" value="{%$id%}">
            <label for="field1"><span>作品名称<span class="required">*</span></span><input type="text" class="input-field" name="title" value="{%$res['title']|default:''%}" /></label>
            <label for="field2"><span>空间尺寸<span class="required">*</span></span><input type="text" class="input-field" name="size" value="{%$res['size']|default:''%}" /></label>
            <label for="field2"><span>设计师<span class="required">*</span></span><input type="text" class="input-field" name="designer" value="{%$res['designer']|default:''%}" /></label>
            <label for="field2"><span>估价<span class="required">*</span></span><input type="text" class="input-field" name="final_sum" value="{%$res['final_sum']|default:''%}" /></label>
            <label for="field5"><span>内容简介 <span class="required">*</span></span><textarea name="description" class="textarea-field">{%$res['description']|default:''%}</textarea></label>
        
 	<label for="field5">图片 <img src="{%$res['pic_path']|default:''%}" /> </label>
  	<label><span>&nbsp;</span><input type="submit" value="修改"/></label>
          </form>
        </div>
      </div>
  </div>

{%include file="$root/template/common/footer.html"%}
 
  </body>
</html>