/*用户*/

#dashboard_message{
	background-color: #e20909;
	color: #fff;
	width: 20px;
	height: 12px;
	border-radius: 50px;
	position: absolute;
	margin-left: 428px;
	margin-top: -10px;
	z-index: 90;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 8px;
	font-size: 12px;
}
#admin_label{
	margin-top: 50px;
	min-width: 960px;
	border-bottom: 1px solid #d3d3d3;
	padding-bottom: 16px;
	font-size: 14px;
}
#label_blank{
	width:60px;
	display: inline-block;
	vertical-align: top;
}
.label_top{
	color: #9b9b9d;
	font-size: 14px;
}
.label_top:hover{
	border-bottom: 4px solid #f8a041;
	padding-bottom: 16px;
}
.label_choose{
	border-bottom: 4px solid #f8a041;
	padding-bottom: 16px;
	font-size: 14px;
	color:#383838;
}
#label_choose{
	border-bottom: 4px solid #f8a041;
	padding-bottom: 16px;
	font-size: 14px;
	color:#383838;
}
#label_unchoose{
	color: #9b9b9d;
	font-size: 14px;
}
#label_unchoose:hover{
	border-bottom: 4px solid #f8a041;
	padding-bottom: 16px;
}
.admin_project{
	width:440px;
	height:180px;
	border:0px solid green;
	float: left;
	margin-right: 30px;
	margin-bottom: 30px;
	background-color: #fff;
	border-right: 1px solid #d3d3d3;
	border-bottom:1px solid #d3d3d3;
}
.admin_project_pic{
	width: 260px;
	height:180px;
	border: 0px solid red;
	display: inline-block;
	vertical-align: top;
}
.admin_project_intro{
	width: 130px;
	height:200px;
	border: 0px solid red;
	display: inline-block;
	vertical-align: top;
	margin-left: 20px;
}
.admin_project_title{
	font-size: 16px;
	margin-top: 20px;
	font-weight: bold;
	color: #383838;
}
.admin_project_designer{
	font-size: 13px;
	margin-top: 6px;
	color: #383838;
}
.admin_project_status{
	font-size: 14px;
	color: #f8a041;
	margin-top: 20px;
}
.admin_project_update{
	font-size: 12px;
	color: grey;
	margin-top: 32px;
}
.admin_add{
	width:180px;
	height:180px;
	border:0px solid green;
	display: inline-block;
	vertical-align: top;
	margin-right: 40px;
	background-color: #fff;
	border-right: 1px solid #d3d3d3;
	border-bottom:1px solid #d3d3d3;
}
.admin_add_icon{
	font-size: 30px;
	border-radius: 40px;
	border: 2px solid #d3d3d3;
	color: #d3d3d3;
	width:50px;
	height:40px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	padding-top: 4px;
	padding-bottom: 6px;
	text-align: center;
}
.admin_add_icon:hover{
	border: 2px solid #f8a041;
	color: #f8a041;
}
.admin_add_intro{
	text-align: center;
	font-size: 14px;
	margin-top: 20px;
	color: grey;
	line-height: 1.5;
}
.admin_collect_intro{
	width: 130px;
	height:200px;
	border: 0px solid red;
	display: inline-block;
	vertical-align: top;
	margin-left: 20px;
}
.admin_collect_title{
	font-size: 14px;
	margin-top: 12px;
	color: #383838;
}
.admin_collect_designer{
	font-size: 12px;
	margin-top: 8px;
	color: #9b9b9d;
}

/*收藏*/

.admin_collect{
	width:240px;
	height:230px;
	border:0px solid green;
	display: inline-block;
	vertical-align: top;
	margin-right: 30px;
	margin-bottom: 30px;
	background-color: #fff;
	border-right: 1px solid #d3d3d3;
	border-bottom:1px solid #d3d3d3;
}
.admin_collect_pic{
	width: 240px;
	height:160px;
	border: 0px solid red;
	display: inline-block;
	vertical-align: top;
}

.admin_collect_delete{
   position: absolute;
   z-index: 2;
   width: 48px;
   height: 20px;
   margin-left: 180px;
   margin-top: 30px;
   border:1px solid #f8a041;
   background:none;
   color: #f8a041;
   border-radius: 4px;
   text-align: center;
   padding-top: 2px;
   font-size: 13px;
}
.admin_collect_delete:hover{
   background-color: #f8a041;
   color: #fff;
}

/*设计师*/

#admin_edit_button{
	width:100px;
	height:28px;
	background-color: #959a9e;
	color: #fff;
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
	padding-top: 14px;
	text-align: center;
	font-size: 14px;
}
#admin_edit_button:hover{
	background-color: #f8a041;
}
#admin_search{
   background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
   outline:medium;
   background-color: #fff;
   border: none;
   border-bottom: solid 0px grey;
   padding: 9px 10px 9px 32px;
   height: 40px;
   width: 300px;
}
#search{
	display: inline-block;
	margin-left: 20px;
	vertical-align: top;
	margin-top: -8px;
}
#productList{
	margin-top: 20px;
	background-color: #fff;
}
#select_product_pic{
	width: 60px;
	height: 60px;
	margin-left: auto;
	margin-right: auto;
}
#design_pic{
	width:160px;
	height: 120px;
	margin-right: auto;
	margin-left: auto;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th{
	background-color: #959a9e;
	color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 13px;
}
td{
    text-align: left;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 14px;
	padding-bottom: 14px;
	font-size: 13px;
	color:#383838;
	background-color: #fff;
	border-bottom: 1px solid #dddddd;
	text-align: center;
}
tr:nth-child(even) {
    background-color: #fff;
    border-bottom: 1px solid #dddddd;
}

/*上传设计作品*/

.productLink{
   font-size: 14px;
   color: #343434;
   margin-bottom: 10px;
}
.topspace{
	margin-top: 40px;
}
.form-style-2{
	margin-top: 20px;
    max-width: 600px;
    padding: 20px 12px 10px 20px;
    font-size: 14px;
    color: grey;
}
.form-style-2 label{
    display: block;
    margin: 0px 0px 15px 0px;
}
.form-style-2 label > span{
    width: 100px;
    font-weight: bold;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}
.form-style-2 span.required{
    color:red;
}
.form-style-2 .tel-number-field{
    width: 100px;
    text-align: center;
}
.form-style-2 input.input-field{
    width: 55%;  
}
.form-style-2 input.input-field, 
.form-style-2 .tel-number-field, 
.form-style-2 .textarea-field, 
 .form-style-2 .select-field{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    padding: 7px;
    outline: none;
}
.form-style-2 .input-field:focus, 
.form-style-2 .tel-number-field:focus, 
.form-style-2 .textarea-field:focus,  
.form-style-2 .select-field:focus{
    border: 1px solid #0C0;
}
.form-style-2 .textarea-field{
    height:100px;
    width: 55%;
}
.form-style-2 input[type=submit],
.form-style-2 input[type=button]{
	cursor: pointer;
	margin-top: 20px;
	width: 160px;
	height:50px;
    border: none;
    padding: 8px 15px 8px 15px;
    background: #f8a041;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
}
.form-style-2 input[type=submit]:hover,
.form-style-2 input[type=button]:hover{
    background: #EA7B00;
    color: #fff;
}
.textarea-field{
	resize: none;
}
#select_product_title{
	margin-top: 20px;
	margin-bottom: 20px;
	color: orange;
}
#selected{
	width: 120px;
	padding: 16px;
	background-color: orange;
	margin-top: 60px;
	color: #fff;
	text-align: center;
}
#product_pic{
	width: 80px;
	height: 80px;
	margin-left: auto;
	margin-right: auto;
}
#description{
	width: 220px;
}
#pic_upload{
	margin-top: 70px;
}
#select_design_product{
	border: 0px solid red;
	width: 720px;
	height: 540px;
}
#select_design_product_menu{
	height: 36px;
	width: 720px;
	background-color: #000;
	opacity: 0.5;
	position: absolute;
}
#select_design_product_button{
	position: absolute;
	z-index: 1;
	margin-left: 640px;
	margin-top: 8px;
	color: #fff;
	font-size: 14px;
}
#select_design_product_button:hover{
	color: orange;
}
#add_material_list{
	margin-left: auto;
	margin-right: auto;
	background-color: #ea5b02;
	color: #fff;
	border-radius: 20px;
	height: 30px;
	width: 30px;
	font-size: 20px;
}
#add_material_list:hover{
	background-color: #ff741e;
}
#cancel_save{
	display: inline-block;
	vertical-align: top;
	color: #383838 !important;
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
	margin-top: 35px;
	font-size: 14px;
}
#save_window{
	width: 540px;
	height: 250px;
	background-color: #fff;
	position: absolute;
	z-index: 19;
	left: 0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
	top: 20%;
	display: none;
	border-radius: 4px;
	-webkit-box-shadow: 6px 10px 20px 5px rgba(102,102,102,0.2);
	-moz-box-shadow: 6px 10px 20px 5px rgba(102,102,102,0.2);
	box-shadow: 6px 10px 20px 5px rgba(102,102,102,0.2);
}
.save_title{
	margin-left: 40px;
	color: orange;
	margin-bottom: 20px;
}
.save_input_name{
	margin-left: 40px;
	height: 30px;
}
#save_bottom{
	margin-top: 20px;
	margin-left: 40px;
}
.profile_form .pic_button{
	outline: none;
	border: 0px solid red;
	height: 32px;
	color: #fff;
	display: inline-block;
	vertical-align: top;
	width: 72px;
	background-color: #afafaf;
}
.profile_form .pic_upload{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.pic_upload + label {
    font-size: 12px;
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    height: 30px;
    background-color: #afafaf;
    display: inline-block;
}

.pic_upload:focus + label,
.pic_upload + label:hover {
    background-color: #777777;
}
.profile_form td{
	text-align: left;
	background-color: #ebebeb;
	border: 0px solid red;
}
.profile_form tr:nth-child(even) {
    background-color: #ebebeb;
    border-bottom: 0px solid #dddddd;
}
.profile_form .input-field{
	width: 240px;
	height: 28px;
	border: 1px solid #d5d5d5;
}
.profile_form .input_address{
	width: 236px;
	height: 28px;
	border: 1px solid #d5d5d5;
}
.profile_form .short_input{
	width: 76px;
	height:28px;
	margin-left: 6px;
	border: 1px solid #d5d5d5;
}
.profile_form .short_input[value="zip code"] { 
	color: #b5b5b5; 
	padding-left: 6px;
	font-style: oblique;
}
.profile_form .short_input[value="city"] { 
	color: #b5b5b5; 
	padding-left: 6px;
	font-style: oblique;
}
.profile_form .input-field[value="address#1"] { 
	color: #b5b5b5; 
	padding-left: 6px;
	font-style: oblique;
}
.profile_form .input-field[value="address#2"] { 
	color: #b5b5b5; 
	padding-left: 6px;
	font-style: oblique;
}
.profile_form .input-field:focus{
	box-shadow: none;
	border: 1px solid #999999;
}
.profile_form .short_input:focus{
	box-shadow: none;
	border: 1px solid #999999;
}
.profile_submit{
	width: 120px;
	height: 48px;
	background-color: orange;
	border: none;
	color: #fff;
	margin-top: 30px;
}
.profile_pic{
	display: block;
	width: 200px;
	height: 200px;
	border: 1px dashed #999999;
}
.profile_form .supplier_info_textarea{
	width: 240px;
	resize: none;
	border: 1px solid #d5d5d5;
	height: 100px;
}
#designer_info_pay{
	display: none;
}
#designer_info_media{
	display: none;
}

/*订单

#order_box{
	border: 0px solid red;
}
#orderList #product_pic{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
#order_product_name{
	font-size: 15px;
}
#order_product_detail{
	font-size: 13px;
	margin-top: 10px;
	color: #afafaf;
}
#orderList table {
    border-collapse: collapse;
    width: 100%;
}
#orderList th{
	background-color: #bcbcbc;
	color: #383838;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 13px;
}
#orderList td{
/*    padding-left: 8px;
    padding-right: 8px;*/
  /*  padding-top: 14px;
	padding-bottom: 14px;
	font-size: 13px;
	color:#383838;
	background-color: #fff;
	border-bottom: 1px solid #dddddd;*/
/*}*/
#orderList tr:nth-child(even) {
    background-color: #fff;
    border-bottom: 1px solid #dddddd;

}
#order_status{
	text-align: right;
	margin-left: 20px;
	line-height: 2.4rem;
	margin-right: 40px;
	border: px solid red;
}
#order_button{
	border: 0px solid green;
}
#order_status_num{
	border: 0px solid red;
	text-align: left;
	margin-left: 40px;
	line-height: 2.4rem;
}
.order_status_button1{
	display: inline-block;
	height: 20px;
	color: #e07f00;
	margin-right: 20px;
}
.order_status_button2{
	background-color: #e07f00;
	color: #fff;
	display: inline-block;
	width: 90px;
	text-align: center;
}
#order_product_pic{
	display: inline-block;
	vertical-align: top;
	width: 60px;
	height: 60px;
}
#order_box{
	display: inline-block;
	vertical-align: top;
	text-align: left;
	margin-left: 20px;
}
#orderList .order_td{
	width: 400px;
}
#orderList .order_tdtd{
	width: 230px;
}
