
.temp_mainArea{
   width: auto;
   height:auto;
   margin-left: auto;
   margin-right: auto;
   margin-top: 40px;
   border: 0px solid red;
   text-align: center;
   padding-bottom: 60px;
}
.designs_project{
  width:290px;
  height: 296px;
  border: 1px solid #d5d5d5;
  background-color: #fff;
  display: inline-block;
  vertical-align: top;
  margin: 10px;
}
.designs_project_pic{
  width: 289px;
  height:206px;
}
.project_labels{
	border: 0px solid red;
	width: 270px;
	margin-left: -6px;
	line-height: 1.5
}
.design_project_price{
	border: 0px solid red;
	position: absolute;
	z-index: 1;
	margin-top: -30px;
	width: 289px;
	text-align: right;
	background-color: rgba(0,0,0,0.7);
	color: #fff;
	height: 30px;
	line-height: 30px;
	padding-right: 10px;
}
.admin_collect_intro{
	border: 0px solid red;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	width: 240px;
}
.admin_collect_title{
	font-size: 14px;
	margin-top: 12px;
	color: #383838;
}
.designs_project_label{
	color: orange;
	border: 1px solid orange;
	border-radius: 14px;
	text-align: center;
	display: inline-block;
	margin-top: 5px;
	padding-left: 8px;
	padding-right: 8px;
	font-size: 12px;
	margin-left: 5px;
	margin-right: 5px;
}
.admin_collect_designer{
	font-size: 16px;
	margin-top: 6px;
	color: orange;
/*	font-family: 'PingFang ExtraLight'*/
}
#showArea{
   width: 100%;
   background-color: grey;
   margin-top: 52px;
}
#showArea_pic{
  width: 100%;
}
#subpage_header{
	width: 100%;
	height: 180px;
}
#search_slogan{
  position: absolute;
  z-index: 9;
  color: #fff;
  font-size: 5rem;
  right: 0;
  left: 0;
  text-align: center;
  margin-top: 110px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  font-family: 'Hanyi';
}
#show{
  background-size:cover;
  position:relative;
  height:100vh;
  width: 100%;
}
#show_header{
  height: 100vh;
  border: 0px solid blue;
}
#supplier_header_show{
  width: 360px;
  height: 200px;
  background-color: rgba(0,0,0,0.88);
  position: absolute;
  z-index: 99;
  left: 6%;
  top: 64%;
  padding: 30px;
}
#header_show_title{
  font-size: 22px;
  color: #fff;
  font-family: 'PingFang ExtraLight'
}
#header_show_des{
  font-size: 16px;
  color: #afafaf;
  margin-top: 10px;
}
#header_show_down{
	margin-top: 50px;
	border: 0px solid red;
	margin-left: -5px;
}
.header_show_label{
  font-size: 12px;
  color: orange;
  margin-top: 10px;
  border: 1px solid orange;
  border-radius: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 2px;
  margin-bottom:2px;
}
.section_title{
	text-align: center;
	padding-top: 100px;

}
.section_title h4{
	color: #fff;
/*	font-family: 'PingFang ExtraLight'*/
}
.section_title p{
	color: #afafaf;
	font-family: 'PingFang ExtraLight'
}
.step_section{
	background-color: #393c3d;
	padding-bottom: 200px;
}
.design_steps{
	border: 0px solid green;
	font-size: 0;
	padding-top: 100px;
}
.step_left{
	width: 50%;
	height: 600px;
	border: 0px solid red;
	display: inline-block;
	vertical-align: top;
	background-color: #393c3d;
	margin:0;
}
.step_center{
	width: 8%;
	height: 600px;
	border: 0px solid green;
	background-color: #393c3d;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}
.step_right{
	width: 50%;
	height: 800px;
	border: 0px solid red;
	display: inline-block;
	vertical-align: top;
	background-color: #393c3d;
}
.step_line{
	height: 780px;
	width:1px;
	background-color: #d5d5d5;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}
.each_step{
	width: 80%;
	height: 150px;
	border: 0px solid red;
	margin-left: auto;
	margin-right: auto;
	font-size: 14px;
	padding: 10px;
}
.step_blank{
	height: 150px;
}
#step_icon{
	width: 30px;
	height: 30px;
	margin-bottom: 20px;
	border-radius: 30px;
	border: 1px solid orange;
	color: orange;
	text-align: center;
	height:30px;   
  	line-height:30px;   
  	overflow:hidden;   
}
.line_dot{
	border: 1px solid orange;
	border-radius: 20px;
	width: 36px;
	height: 36px;
	background-color: #393c3d;
	position: absolute;
	z-index: 9;
	color: orange;
	left: 0;
	right: 0;
	text-align: center;
	line-height: 36px;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
}
.dot_margin1{
	margin-top: 160px;
}
.dot_margin2{
	margin-top: 310px;
}
.dot_margin3{
	margin-top: 460px;
}
.dot_margin4{
	margin-top: 610px;
}
.step_inside_right{
	float: right;
	width: 60%;
}
.step_inside_left{
	float: left;
	width: 60%;
}
@media screen and (max-width: 720px) {
    .step_inside_right {
        width: 100%;
    }
    .step_inside_left {
        width: 100%;
    }
}
.each_step h4{
	color: #ebebeb;
}
.each_step p{
	color: #afafaf;
	font-family: 'Hiragino Sans GB w3';
}
.line_button{
	width: 120px;
	height: 40px;
	background-color:orange;
	color: #fff;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	line-height: 40px;
}
.supplier_title{
  width: 100%;
  min-height: 200px;
  text-align: center;
}
.index_logo{
	margin: 0;
	padding: 0;
	list-style: none;
}
.index_logo p{
	color: #777777;
	border: 0px solid red;
	margin-top: 16px;
}
.index_logo li{
  display: inline-block;
  vertical-align: top;
  margin:20px;
  background-color: #fff;
  border: 1px solid #d5d5d5;
  width: 220px;
  padding-top: 20px;
  padding-bottom: 16px;
}
.index_logo li div{
  display:table-cell; 
  width:100px; 
  height:100px; 
  text-align:center; 
  vertical-align:middle;
}
.index_logo li div img{
  vertical-align:middle;
}
.supplier_catogory{
	margin-top: 100px;
	margin-bottom: 50px;
}
.catogory_line{
	width: 88%;
	height: 1px;
	background-color: #d5d5d5;
	margin-left: auto;
	margin-right: auto;
}
.catogory_line_word{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: #ebebeb;
	width: 100px;
	position: absolute;
	left: 0;
	right: 0;
	margin-top: -10px;
	color: #383838;
}
.supplier_catogory_menu{
	width: 100%;
	height: 60px;
	line-height: 60px;
	text-align: center;
	border: 0px solid red;
	background-color: #666666;
	position: absolute;
}
.catogory_button{
	display: inline-block;
	vertical-align: top;
	color: #ebebeb;
	margin-left: 40px;
	margin-right: 40px;
}
.catogory_button:hover{
	color: orange;
}
.button_center_line{
	display: inline-block;
	vertical-align: top;
	width: 1px;
	height: 20px;
	margin-top: 20px;
	background-color:#afafaf;
}
.bottom_space{
	height: 100px;
}
.back_top{
	background-color: orange;
	color: #fff;
	position: fixed;
	z-index: 99;
	bottom: 20px;
	right: 20px;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 20px;
}
.back_top:visited{
	color: #fff;
}
.supplier_title{
  width: 100%;
  min-height: 200px;
  text-align: center;
}
.construct_logo{
	margin: 0;
	padding: 0;
	list-style: none;
}
.construct_logo p{
	color: #777777;
	border: 0px solid red;
	font-size: 14px;
}
.construct_logo .logo_location{
	color: #bfbfbf;
	font-size: 12px;
	margin-top: -10px;
}
.construct_logo li{
  display: inline-block;
  vertical-align: top;
  margin:10px;
  background-color: #fff;
  border: 1px solid #d5d5d5;
  width: 420px;
  padding-top: 20px;
  padding-bottom: 16px;
}
.construct_logo li .construct_detail_logo{
  display:table-cell; 
  width:100px; 
  height:100px; 
  text-align:center; 
  vertical-align:middle;
  border: 0px solid green;
}
.construct_logo li .construct_detail_logo img{
  vertical-align:middle;
}
.construct_logo .construct_logo_intro{
	display: inline-block;
	vertical-align: top;
	width: 200px;
	margin-left: 20px;
	border: 0px solid red;
	text-align: left;
}
.construct_logo .construct_detail_title{
	border: 0px solid red;
	width: 240px;
	height: 56px;
}
.page_intro{
	border: 0px solid red;
	margin-top: 52px;
	height: 240px;
	width: 100%;
}
.page_intro_up{
	border: 0px solid green;
	font-size: 20px;
	position: absolute;
	z-index: 2;
	color: #fff;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	margin-top: 70px;
	width: 72%;
	line-height: 1.6;
}
.page_intro_main{
	border: 0px solid green;
	font-size: 16px;
	position: absolute;
	z-index: 2;
	color: #383838;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	margin-top: 40px;
	width: 72%;
	line-height: 1.6;

}
.page_intro_down{
	width: 100%;
	font-size: 14px;
	position: absolute;
	z-index: 1;
	background-color: #383838;
	text-align: center;
	line-height: 40px;
	height: 40px;
	color: #d5d5d5;
}
.down_join{
	width: 100%;
	font-size: 14px;
	margin-top:-36px;
	position: absolute;
	z-index: 1;
	background-color: #383838;
	text-align: center;
	line-height: 40px;
	color: #d5d5d5;
}
.construct_price_button{
	width: 120px;
	height: 40px;
	background-color: orange;
	text-align: center;
	line-height: 40px;
	color: #fff;
	margin-top: 36px;
	margin-left: auto;
	margin-right: auto;
	font-size: 14px;
	cursor: pointer;
}
.construct_price_button:hover{
	background-color: #ea8a04;
}
.pageheader{
	width: 100%;
	height: 240px;
	margin-top: 20px;
}
.pageheader_bg{
	width: 100%;
	height: 240px;
	position: absolute;
	z-index: 1;
	background-color: #383838;
	opacity: 0.75
}
.down_button{
	width: 100px;
	height: 30px;
	line-height: 30px;
	margin-left: 20px;
	border: 1px solid orange;
	display: inline-block;
	color: orange;
	border-radius: 20px;
	text-align: center;
	cursor: pointer;
}
.down_button:hover{
	background-color: orange;
	color: #fff;
}
.designer_box{
	width: 280px;
	height: 480px;
	border: 1px solid #d5d5d5;
	background-color: #fff;
	display: inline-block;
	vertical-align: top;
	margin: 20px;
}
.designer_content{
	margin-top: 20px;
	border: 0px solid red;
	text-align: center;
}
.designer_intro{
	padding: 10px;
	text-align: left;
	height: 170px;
	border: 0px solid red;
	line-height: 1;
}
.designer_intro .price{
	color: #878787;
}
.designer_show{
	color: orange;
	border: 0px solid red;
	position: absolute;
	cursor: pointer;
	margin-left: 10px;
}
.customize_intro{
	width: 100%;
	height: 480px;
	border: 0px solid red;
	font-size: 0;
}
#top_blank{
	height: 52px;
}
.customize_intro_pic{
	width: 100%;
	height: 100%;

}
.customize_intro_left{
	width: 60%;
	height: 480px;
	display: inline-block;
	vertical-align: top;
	border: 0px solid blue;
}
.customize_intro_right{
	width: 40%;
	height: 480px;
	display: inline-block;
	vertical-align: top;
	border: 0px solid green;
	background-color:#63696b;
	font-size: 14px;
	padding: 50px;
	color: #fff;
}
.customize_intro_right h4{
	margin-top: 40px;
	font-family:'PingFang ExtraLight';
	line-height: 2;
}
.customize_button{
	width: 120px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: orange;
	border: 1px solid orange;
	margin-top: 60px;
}

.service_button{
	margin-top: 40px;
	width: 150px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: orange;
	color: #fff;
	font-size: 14px;
	border-radius: 20px;
	margin-left: auto;
	margin-right: auto;
}
.customize_service{

}
.customize_service h4{
	text-align: center;
	margin-top: 60px;
	margin-bottom: 30px;
}
.price_content{
	width: 88%;
	border: 0px solid red;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.price_box{
	width: 300px;
	padding-bottom: 60px;
	border: 0px solid red;
	display: inline-block;
	vertical-align: top;
	margin-left: 15px;
	margin-right: 15px;
	background-color: #fff;
}
.price_box ul{
	list-style: none;
	margin:0; 
	padding:0;
	line-height:3.2;
	color: #5d5d5d;
}
.price_box li{
	margin-right: auto;
	margin-left: auto;
	width: 200px;
	border-bottom: 1px solid #d5d5d5;
}
.price_box_title{
	border:0px solid red;
	text-align: center;
	margin-top: 40px;
	font-size: 14px;
	color: orange;
}
.price_box_des{
	border:0px solid red;
	text-align: center;
	font-size: 14px;
	color: #afafaf;
	margin-bottom: 20px;
}
.price_box_price{
	font-size: 42px;
	font-family: 'PingFang ExtraLight';
/*	margin-bottom: 20px;*/
}
.price_box_price span{
	color: #5d5d5d;
}
.lefttop{
	font-size: 14px;
	border: 0px solid red;
	margin-top:8px;
	margin-left: -10px;
	position: absolute; 
}
.rightbottom{
	font-size: 14px;
	border: 0px solid red;
	margin-top:24px;
	margin-left: 4px;
	position: absolute; 
}
.price_box_intro{
	font-size: 14px;
	color: #afafaf;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	border: 0px solid red;
	height: 40px;
}
.content_form{
	width: 600px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	border: 0px solid red;
	margin-top: 100px;
}
.design_project_designer{
	width: 100%;
	height: 80px;
	border: 0px solid red;
}
#design_project_designer_head{
	width: 40px;
	display: inline-block;
	vertical-align: top;
	margin-top: 20px;
	margin-left: 20px;
}
.design_project_designer_intro{
	display: inline-block;
	vertical-align: top;
	border-left: 1px solid #d5d5d5;
	width: 220px;
	margin-top: 20px;
	margin-left: 16px;
	padding-left: 16px;
}
.form_title{
	font-size: 18px;
	margin-bottom: 40px;
	text-align: center;
}
#customize{
    border-collapse: collapse;
    width: 100%;
}
#customize th{
	background-color: #959a9e;
	color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 14px;
}
#customize td{
    text-align: left;
    padding-top: 14px;
	padding-bottom: 14px;
	font-size: 13px;
	color:#383838;
	border: 0px solid red;
	min-width: 100px;
}
#customize tr:nth-child(even) {
}
#customize tr td a{
	color: orange;
	border: 0px solid red;
	position: absolute;
	margin-left: -320px;
	margin-top: 12px;
}
#customize label{
	border: 0px solid red;
	min-width: 60px;
	height: 30px;
	margin-top: 20px;
	padding-left: 20px;
}
#customize label input{
	border: 0px solid red;
	width: 100px;
	position: absolute;
	margin-top: -9px;
	margin-left: -20px;
}
#customize label input{
 
}
#customize input{
	width: 360px;
	height: 36px;
}
#customize textarea{
	width: 360px;
	height: 100px;
	resize:none;
	border: 1px solid #c4c4c4;
}
#customize .short_input{
	width: 82px;
	height: 30px;
	margin-right: 10px;
	margin-left: 10px;
	color: #aaaaaa;
	font-style: oblique;
	padding-left: 10px;
}
#customize .input_address{
	color: #aaaaaa;
	font-style: oblique;
	padding-left: 8px;
	width: 354px;
}
.submit_button{
	width: 100px;
	height: 40px;
	line-height: 40px;
	margin-top: 40px;
	margin-left: 42%;
	background-color:orange;
	outline: none;
	border:none;
	color: #fff;
	margin-bottom: 60px;
}
.overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 300ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
.aboutus_intro,.contact_info{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	line-height: 1.8;
}
.aboutus_gapline{
	width: 80%;
	height: 1px;
	background-color: #d5d5d5;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}
#map { 
	height: 500px; 
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border:0px solid red;
}
.contact_info{
	margin-top: 40px;
}
.index_project_title{
	border-bottom:1px solid #d5d5d5;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	font-size: 16px;
	padding-bottom: 10px;
}
.dropdown {
    position: relative;
    display: inline-block;
    border-bottom: 1px dashed orange;
    height: 34px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 240px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    line-height: 1.5;
    text-align: left;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.bottom_content{
	width: 100%;
	height: 200px;
	border: 1px solid red;
}
.project_detail_labels{
	margin-left: 10px;
	border: 0px solid red;
	width: 320px;
}
.design_project_title{
  display: inline-block;
  vertical-align: top;
  border:0px solid red;
  font-size: 20px;
  margin-bottom: 14px;
}
.project_intro_detail{
   margin-top: 14px;
   font-size: 14px;
   margin-bottom: 50px;
}
.page_intro_top{
	border: 0px solid red;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 40px;
	font-size: 16px;
	line-height: 1.6;
/*	background-color: #fff;*/
}
.page_intro_content{
	width: 80%;
	background-color: #d5d5d5;
	margin-right: auto;
	margin-left: auto;
	padding: 40px;
	text-align: center;
	font-size: 16px;
	margin-top: 20px;
	line-height: 2;

}
#sidebar_material_pic{
	width: 150px;
	margin-left: auto;
	margin-right: auto;
}