<div id="chatbox">
  <div id="chat_nav">
    <div id="chat_title">聊天（2）</div>
    <a href="#"><div id="chat_original">&#8593</div></a>
    <a href="#"><div id="chat_compact">&#8211</div></a>
    <a href="#"><div id="chat_close">&#10005</div></a> 
  </div>

  <div id="chat_main">
<!-- 左边的聊天内容 -->
    <div class="chat_chat chat_left">
      <!-- 头像 -->
      <div class="chat_pic">
        <img src="../../image/head.png">
      </div>

      <div class="chat_content content_left">
        <!-- 聊天框及内容 -->
        <div class="chat_content_message">
          <i class="arrow-left"></i>
          <!-- 聊天发送的图片 -->
          <div class="chat_content_pic">
            <img src="../../image/t1.jpg">
          </div>
          <!-- 聊天发送的文字 -->
          <div class="chat_content_word">Hello!!!heloo worldf sfsfbsdkjfbskjb sfsfbsdkjfbskjb sfsfbsdkjfbskjb
          </div>     
        </div>
        <!-- 用户名及时间 -->
        <div class="chat_info info_left">XXX at 03/15/2017 12:09pm</div>
      </div>     
    </div><!-- chat_left -->


<!-- 右边的聊天内容 -->
    <div class="chat_chat chat_right">

      <div class="chat_content content_right">
        <!-- 聊天框及内容 -->
        <div class="chat_content_message message_right">
          <i class="arrow-right"></i>
          <!-- 聊天发送的图片 -->
          <div class="chat_content_pic">
            <img src="../../image/t1.jpg">
          </div>
          <!-- 聊天发送的文字 -->
          <div class="chat_content_word">
            ddd
          </div>     
        </div>
        <!-- 用户名及时间 -->
        <div class="chat_info info_right">XXX at 03/15/2017 12:09pm</div>
      </div>

      <div class="chat_pic">
        <img src="../../image/head.png">
      </div>
    </div><!-- chat_right -->

  </div><!-- chat_main -->

  <div class="chat_footer">
    <textarea class="chat_textarea" placeholder="Type a message..." rows="1" cols="42" name="message"></textarea>
    <div id="chat_button">
      <a href=""><div class="chat_add_pic">添加图片</div></a>
      <div id="chat_key">Ctrl+Enter</div>
      <a href=""><div id="chat_send">发送</div></a>
    </div>
  </div>
</div>