<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/template/common/css/common.css">
</head>
<div id="bottombar">
    <div class="bottom_content">
      <div class="bottom_link">
        <div class="bottom_link_line">
          <ul class="bottom_list">
            <li><a href="/prewowkb/account.php?act=about"><strong>ABOUT US</strong></a></li>
            <li><a href="/prewowkb/account/Tpl/account/about_service.html">Services</a></li>
            <li><a href="/prewowkb/account/Tpl/account/about_hire.html">Career</a></li>
            <li><a href="/prewowkb/account/Tpl/account/terms.html">Terms</a></li>
            <li><a href="/prewowkb/account/Tpl/account/privacy.html">Privacy</a></li>
            <li><a href="/prewowkb/account/Tpl/account/copyright.html">Copyright</a></li>
          </ul>
        </div>
        <div class="bottom_blank"></div>
        <div class="bottom_link_line">
          <ul class="bottom_list">          
            <li><strong>PARTNERSHIP</strong></li>
            <li><a href="/prewowkb/account.php?act=designer">Designer</a></li>
            <li><a href="/prewowkb/account.php?act=productsupplier">Product</a></li>
            <li><a href="/prewowkb/account.php?act=service">Service</a></li>            
          </ul>
        </div>
        <div class="bottom_blank"></div>
        <div class="bottom_link_line">
          <ul class="bottom_list">          
            <li><strong>CONTACT US</strong></li>
            <li>customerservice@wowkb.com</li>
            <li>Office Hour: 10:00a.m. - 7:00p.m.</li>
            <li>97 E Brokaw Rd, #310, San Jose, CA 95112</li>
          </ul>
        </div>
        <div class="bottom_blank"></div>
        <div class="bottom_link_line">
 <!--          <ul class="bottom_list">
            <li><i class="fa fa-facebook fa-lg icon_bottom" aria-hidden="true"></i><i class="fa fa-instagram fa-lg icon_bottom" aria-hidden="true"></i><i class="fa fa-twitter fa-lg icon_bottom" aria-hidden="true"></i><i class="fa fa-linkedin fa-lg icon_bottom" aria-hidden="true"></i>
            </li>
          </ul> -->
          <ul class="bottom_list">
            <li><a href="#"><div id="chinese">中文</div></a></li>
                <li><a href="#"><div id="english">English</div></a></li>
          </ul>
        </div>
      </div>
    </div>
</div>