<div id="bottombar">
    <div class="bottom_content">
      <div class="bottom_link">
        <div class="bottom_link_line">
          <ul class="bottom_list">
            <li>关于我们</li>
            <li>联系我们</li>
            <li>加入我们</li>
          </ul>
        </div>
        <div class="bottom_blank"></div>
        <div class="bottom_link_line">
          <div id="footer_partner">合作伙伴</div>
      <img id="footer_logo" src="../../image/bottom_logo.png">
        </div>
      </div>
    </div>
</div>