<div id="navbar">
  <div id="nav_logo">
      <a href="/"><img id="nav_logo_pic" src="../../image/logo.png"></a>
  </div>
  
  <div id="nav_link1">
      <a href="/page/listing.php?act=designs"><div class="nav">优秀设计</div></a>
      <a href="/account/space.php?act=designer_upload"><div class="nav">作品录入</div></a>
      <a href="/account/admin.php?act=admin_manage"><div class="nav">物料录入</div></a>
      <a href="/page/listing.php?act=products"><div class="nav choose">购买产品</div></a>
     <a href="/account/account.php?act=register"><div class="nav">注册</div></a>
      <a href="/account/account.php?act=login"><div id="nav_signup">登录</div></a> 
  </div>

<!--   登陆后显示的导航栏 -->
<!--   <div id="nav_link2">
      <a href="designs.html"><div class="nav">优秀设计</div></a>
      <a href="#"><div class="nav choose">购买产品</div></a>
      <a href="#"><div id="nav_account">
        <img src="image/head.png"></div></a>

      <a href="#"><div id="accountName">Sarah</div></a>
      <a href="#"><div class="nav">退出</div></a>
    </div> -->
</div>

