<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/template/common/css/common.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/99d52acf31.js"></script>
</head>
<nav id="navtop" role="navigation" class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-header">
      <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a  id="nav_logo" href="designs.html" class="navbar-brand">
          <img id="nav_logo_pic" src="/image/logo4.png">
      </a>
  </div>

  <div id="navbarCollapse" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
          <li><a href="/prewowkb/Tpl/account/tobedesigner.html" class="nav_sign_signin"><div >TO BE OUR DESIGNER</div></a></li>

          {%if empty($userid)%}
          <!-- <li><a href="/account/account.php?act=register"><div class="nav_option">Register</div></a></li> -->
          <li><a href="/account/account.php?act=login" id="nav_option"><i class="fa fa-user" aria-hidden="true"></i></a></li>
          {%else%}
          <li><a href="/account/admin.php?act=admin_manage" class="nav_sign_signin">物料录入</a></li>
          {%if $user_type == 'designer'%}
          <li><a href="/account/space.php?act=designer_upload" class="nav_sign_signin">作品录入</a></li>
          {%/if%}
          <li><a href="/account/space.php?act=user_dashboard" class="nav_sign_signin">我的后台账户</a></li>
          <li><a href="/account/account.php?act=logout" class="nav_sign_signin">登出</a></li>
          {%/if%}
      </ul>
  </div>
</nav>