{%if $user_type == 'user'%}
<!-- 用户后台sidebar -->

<div id="user" class="admin_sidebar">
    <div id="userPic">
      <img src="/image/head.png">
    </div>
    <div id="userName">Sarah</div>
    <div id="userTitle">用户</div>

    <div id="admin_sidebar_gapline"></div>

    <div id="admin_menu">
      <a class="admin_button choose" href="../account/user_dashboard.html">定制项目</a>
      <a class="admin_button" href="#">我的订单</a>
      <a class="admin_button" href="../account/user_collection.html">我的收藏</a>
    </div>    
</div>
{%elseif $user_type == 'designer'%}
<!-- 设计师后台sidebar -->
<div id="designer" class="admin_sidebar">
    <div id="userPic">
      <img src="../../image/head.png">
    </div>
    <div id="userName">Sam</div>
    <div id="userTitle">设计师</div>

    <div id="admin_sidebar_gapline"></div>

    <div id="admin_menu">
      <a class="admin_button choose" href="../account/designer_dashboard.html">定制项目</a>
      <a class="admin_button" href="../account/designer_manage.html">我的作品</a>
    </div>    
</div>
{%elseif $user_type == 'admin'%}
<!-- 管理员后台sidebar -->
<div id="admin" class="admin_sidebar">
    <div id="userPic">
      <img src="../../image/head.png">
    </div>
    <div id="userName">Sarah</div>
    <div id="userTitle">管理员</div>

    <div id="admin_sidebar_gapline"></div>

    <div id="admin_menu">
      <a class="admin_button choose" href="../admin/admin_dashboard.html">物料状态</a>
      <a class="admin_button" href="../admin/admin_manage.html">管理物料</a>
    </div>    
</div>
{%/if%}