<!DOCTYPE html>
<html>
<head>
  <title>Wow Kitchen & Bath</title>
  <link rel="shortcut icon" type="image/x-icon" href="/image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="css/common.css">
</head>
<body>
{%include file="$root/template/common/navbar.html"%}


<div id="body_dash">
  {%include file="$root/template/common/sidebar.html"%}


  <div id="admin_main">  

    <div id="admin_content">

    <div id ="message_gapline"></div>
    <div id="message_gapline_title">未读消息</div>

    <a href="">
      <div id="system_message">
        <div id="message_pic">
          <img src="../../image/t1.jpg">
        </div>
        <div id="message_main">
          <div id="message_time">2017/03/02 Monday 11:32a.m.</div>
          <div id="message_content">用户XXX在您的作品XXX发起咨询</div>
        </div>
      </div></a>

    <a href="">
      <div id="system_message">
        <div id="message_pic">
          <img src="../../image/t1.jpg">
        </div>
        <div id="message_main">
          <div id="message_time">2017/03/02 Monday 11:32a.m.</div>
          <div id="message_content">用户XXX在您的作品XXX发起咨询</div>
        </div>
      </div></a>

  <div id ="message_gapline"></div>
    <div id="message_gapline_title">已读消息</div>

    <a href="">
      <div id="system_message">
        <div id="message_pic">
          <img src="../../image/t1.jpg">
        </div>
        <div id="message_main">
          <div id="message_time">2017/03/02 Monday 11:32a.m.</div>
          <div id="message_content">用户XXX开始定制您的作品XXX并支付预付款</div>
        </div>
      </div></a>

    <a href="">
      <div id="system_message">
        <div id="message_pic">
          <img src="../../image/t1.jpg">
        </div>
        <div id="message_main">
          <div id="message_time">2017/03/02 Monday 11:32a.m.</div>
          <div id="message_content">用户XXX完成了作品XXX的全部付款</div>
        </div>
      </div></a>


      </div>
    </div>
  </div>

{%include file="$root/template/common/footer.html"%}

  </body>
</html>