<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WOWKB</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/template/common/css/common_temp.css">
  <link rel="stylesheet" type="text/css" href="/prewowkb/css/prepage.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
{%include file="$root/template/common/navbar_prewowkb.html"%}

<a class="back_top" href="#">&#8679;</a>

<div id="page_intro">
  <div class="page_intro_up">
    <h2>ABOUT US</h2>
  </div>
  <div class="pageheader_bg"></div>
    <img class="pageheader" class="pageheader" src="/image/pageheader.png">   
</div>

<div class="supplier_catogory_menu">
    <a class="catogory_button" href="/prewowkb/account.php?act=about">Company</a>
    <div class="button_center_line"></div>
    <a class="catogory_button catogory_button_choose" href="/prewowkb/account.php?act=about_service">Service</a>
    <div class="button_center_line"></div>
    <a class="catogory_button" href="/prewowkb/account.php?act=about_hire">Career</a>
  </div>

<div id="body">

<div class="step_section">
  <div class="section_title">
    <h4>Service Process</h4>
    <p>Four steps to solve the kitchen decoration custom service. It is simple, relaxed and pleasant.</p>
  </div>

  <div class="design_steps">
    <div class="each_step">
      <img src="/image/service_icon1.png">
      <div class="step_icon">1</div>
      <div class="step_intro">Select Design</br></br>
      <span class="step_intro_des">Find your favorite design style, view the design details, choose your favorite design.</span>
      </div>
    </div>
    <div class="each_step">
      <img src="/image/service_icon2.png">
      <div class="step_icon">2</div>
      <div class="step_intro">Contact Designer</br></br>
      <span class="step_intro_des">Contact our designer after choosing your favorite design, our designers will contact you at the first time.</span>
      </div>
    </div>
    <div class="each_step">
      <img src="/image/service_icon3.png">
      <div class="step_icon">3</div>
      <div class="step_intro">Communication & Collaboration</br></br>
      <span class="step_intro_des">Our designers will communicate with you to fully understand your needs and customize the design by your request.</span>
      </div>
    </div>
    <div class="each_step">
      <img src="/image/service_icon4.png">
      <div class="step_icon">4</div>
      <div class="step_intro">Complete the Design</br></br>
      <span class="step_intro_des">Our designer will design a complete customization piece to ensure that your solution is fully be implemented.</span>
      </div>
    </div>

  </div>
</div>

<div class="bottom_space"></div>
</div>
{%include file="$root/template/common/footer.html"%}
</body>
</html>

