<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WOWKB</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/template/common/css/common_temp.css">
  <link rel="stylesheet" type="text/css" href="/prewowkb/css/prepage.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
{%include file="$root/template/common/navbar_prewowkb.html"%}

<a class="back_top" href="#">&#8679;</a>

<div id="page_intro">
  <div class="page_intro_up">
    <h2>ABOUT US</h2>
  </div>
  <div class="pageheader_bg"></div>
    <img class="pageheader" class="pageheader" src="/image/pageheader.png">   
</div>

<div class="supplier_catogory_menu">
    <a class="catogory_button" href="/prewowkb/account.php?act=about">Company</a>
    <div class="button_center_line"></div>
    <a class="catogory_button" href="/prewowkb/account.php?act=about_service">Service</a>
    <div class="button_center_line"></div>
    <a class="catogory_button catogory_button_choose" href="/prewowkb/account.php?act=about_hire">Career</a>
  </div>

<div id="body">


  <div class="hire_info">
    <h4>Join Us</h4>
  </div>
  <div class="hire_email">Please contact: hr@wowkb.com</div>

<div class="hire_content">
<div id="php">
  <h5>PHP Software Developer</h5>
Job Responsibilities:</br>
      1. Work with PMs, US Client, Backend Developers, team members to analyze requirements, define the tasks, estimate, Spec, write documents, unit test, code review</br>
      2. Develop Web Applications that have APIs.</br>
      3. Can work independently or with team</br>
      4. Collaborate with other departments or end-users to support their needs</br></br>
</div>
<div id="frontend">
<h5>Front-end Software Engineer</h5>
Job Responsibilities:</br>
      1. Collaborate with product management, marketing, designers, and technology and architecture teams</br>
      2. Work in a rapid pace environment with ability to juggle multiple projects</br>
      3. Enjoy learning about our customers and our businesses</br>
      4. Proven ability to work in an iterative/Agile environment</br>
      5. Proficiency in XHTML / HTML5, CSS3, Sass, Scss, and Bootstrap frameworks</br>
      6. Experience with Object Oriented JavaScript and modern JavaScript libraries (e.g., AngularJS); at least 2 years of JavaScript experience required</br>
      7. Experience with incorporating accessibility into prototypes preferred</br></br>
</div>
<div id="uiux">
<h5>UI/UX Designer</h5>
Job Responsibilities:</br>
      1. Demonstrated success conceiving and conducting user research, surveys and interviews</br>
      2. Demonstrated experience creating designs and interfaces in line with current UI best practices</br>
      3. Strong visual design, rapid wireframing and prototyping skills</br>
      4. Experience creating interactive prototypes and ability to communicate design concepts/ decisions in a convincing and clear way</br>
      5. Excellent know-how of UX and accessibility best practices including user journeys, usability tests and user research</br>
      6. Understanding of the web development process for modern user interface production (HTML5, CSS3, JavaScript)</br>
      7. Experience collaborating with product specialists, software developers and stakeholders</br>
      8. Experience working with Agile methods based on fast iteration and validation cycles</br>
      9. Good communication skills and be a team player</br></br>
</div>
</div>

<div class="bottom_space"></div>
</div>
{%include file="$root/template/common/footer.html"%}
</body>
</html>

