<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WOWKB</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/template/common/css/common_temp.css">
  <link rel="stylesheet" type="text/css" href="/prewowkb/css/prepage.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
{%include file="$root/template/common/navbar_prewowkb.html"%}

<a class="back_top" href="#">&#8679;</a>

<div id="page_intro">
  <div class="page_intro_up">
    <h2>关于我们</h2>
  </div>
  <div class="pageheader_bg"></div>
    <img class="pageheader" class="pageheader" src="/image/pageheader.png">   
</div>

<div class="supplier_catogory_menu">
    <a class="catogory_button" href="/prewowkb/Tpl/account/about.html">公司简介</a>
    <div class="button_center_line"></div>
    <a class="catogory_button catogory_button_choose" href="/prewowkb/Tpl/account/about_service.html">服务流程</a>
    <div class="button_center_line"></div>
    <a class="catogory_button" href="/prewowkb/Tpl/account/about_hire.html">职位招聘</a>
  </div>

<div id="body">

<div class="step_section">
  <div class="section_title">
    <h4>服务流程</h4>
    <p>四步解决装修定制服务；它是简单、轻松和愉快的</p>
  </div>

  <div class="design_steps">
    <div class="each_step">
      <img src="/image/service_icon1.png">
      <div class="step_icon">1</div>
      <div class="step_intro">选择作品</br></br>
      <span class="step_intro_des">找到您喜欢的设计风格，查看完整的作品信息, 选择您喜欢的作品。</span>
      </div>
    </div>
    <div class="each_step">
      <img src="/image/service_icon2.png">
      <div class="step_icon">2</div>
      <div class="step_intro">联系设计师</br></br>
      <span class="step_intro_des">找到您喜欢的作品后联系设计师, 我们的设计师将会第一时间与您联系。</span>
      </div>
    </div>
    <div class="each_step">
      <img src="/image/service_icon3.png">
      <div class="step_icon">3</div>
      <div class="step_intro">交流协作</br></br>
      <span class="step_intro_des">与设计师取得联系后, 我们的设计师将会与您交流作品与定制内容。</span>
      </div>
    </div>
    <div class="each_step">
      <img src="/image/service_icon4.png">
      <div class="step_icon">4</div>
      <div class="step_intro">完成定制方案</br></br>
      <span class="step_intro_des">设计师将为您设计制作完整的定制方案, 确保您的方案得到实现。</span>
      </div>
    </div>

  </div>
</div>

<div class="bottom_space"></div>
</div>
{%include file="$root/template/common/footer.html"%}
</body>
</html>

