<!DOCTYPE html>
<html>
<head>
  <title>Wow Kitchen & Bath</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/page/css/page.css">
  <link rel="stylesheet" type="text/css" href="/template/common/css/common_temp.css">
  <link rel="stylesheet" type="text/css" href="/prewowkb/css/prepage.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
{%include file="$root/template/common/navbar_prewowkb.html"%}



<div id="body_design">
  <div id="container">
    <div id="design_left">
    <div class="design_main">
      <div class="design_main_content">
            <div class="design_project_title">{%$res['name']|default:''%}</div>
              <img id="design_main_pic_img" src="{%$res['pic_path']|default:''%}">
              <div class="project_intro_detail">
                {%$res['intro']|default:''%}
                <div class="project_intro_parameter">
                  <span class="parameter_title">材質：</span>{%$res['texture']|default:''%}</br><span class="parameter_title">内部處理：</span>{%$res['interior']|default:''%}</br><span class="parameter_title">顔色：</span>{%$res['color']|default:''%}</br><span class="parameter_title">應用：</span>{%$res['application']|default:''%}
                </div>
              </div>

              <!-- <img id="design_main_pic_img" src="../../image/t1.jpg">
              <div class="project_intro_detail">
                采用高端木质材料，外观简洁大方，美式风格.采用高端木质材料，外观简洁大方，美式风格
                采用高端木质材料，外观简洁大方，美式风格.采用高端木质材料，外观简洁大方，美式风格
                采用高端木质材料，外观简洁大方，美式风格
              </div> -->
      </div>
    </div>

    <div id="design_related">
      <div id="related_name">相关设计作品</div>
      <div id="related_content">
        {%foreach from=$other_relative_zuopins key=i item=value %}
        <div class="related_content_project">
        <a href="/prewowkb/account.php?act=design_detail&id={%$value['pk_id']|default:''%}">
          <img id="related_pic" src="{%$value['pic_path']|default:''%}">
          <div id="related_title">{%$value['name']|default:''%}</div>
          <div id="related_price">XXX设计师</div>
          </a>
        </div>
        {%/foreach%}
     
      </div>
    </div>

  </div><!-- design_left -->



  <div id="side_right">
      <div class="sidebar_right">
        <div class="design_project_designer">
          <img id="design_project_designer_head" src="/image/head.png">
          <div class="design_project_designer_intro">
            <h5>Sarah XXX</h5>
            <div class="designer_catogory">家居设计 ｜ 空间规划 ｜ 室内装修</div>
            <div class="design_project_designer_des">擅长厨房与卫生间家居设计。擅长传统风格并融入中国传统元素。</div>
          </div>
        </div>
        <div class="design_sidebar_gapline"></div>  
        <div class="design_project_detail_price"><span class="price_title">项目成本</span><span class="price_number"><div class="dropdown">${%$res['price']|default:''%}<div class="dropdown-content"><p>包括：</br>设计费用，购买材料，施工服务，其他</p></div></div></span></div>   
        <a href="/prewowkb/account.php?act=form_customize&msg={%$res['category']|default:''%}"><button class="buyButton">开始定制</button></a>
      
      </div><!-- sidebar_right -->

      <div id="sidebar_use_product">
        <div id="sidebar_use_title">设计使用到的物料</div>
  <div id="sidebar_use_content">

  <div id="myCarousel" class="carousel slide" >

    <!-- Wrapper for slides -->
    <div class="carousel-inner use_product" role="listbox">
     
     {%foreach from=$pics key=i item=value%}
      <div class="item">
          <div id="sidebar_material_pic">
            <img src="{%$value['pic_path']|default:''%}" alt="material">
          </div>
          <div id="sidebar_use_name">奶油色枫木</div>
          <!-- <div id="sidebar_use_num">1/5</div> -->
      </div>
      {%/foreach %}

      <!-- <div class="item">
        <div id="sidebar_use_pic">
            <img src="/image/p2.png" alt="chair">
          </div>
          <div id="sidebar_use_name">XX白色橱柜</div>
          <div id="sidebar_use_num">2/5</div>
      </div>
    
      <div class="item">
        <div id="sidebar_use_pic">
            <img src="/image/p3.png" alt="chair">
          </div>
          <div id="sidebar_use_name">XX白色橱柜</div>
          <div id="sidebar_use_num">3/5</div>
      </div>

      <div class="item">
        <div id="sidebar_use_pic">
            <img src="/image/p4.png" alt="chair">
          </div>
          <div id="sidebar_use_name">XX白色橱柜</div>
          <div id="sidebar_use_num">4/5</div>
      </div>

      <div class="item">
        <div id="sidebar_use_pic">
            <img src="/image/p5.png" alt="chair">
          </div>
          <div id="sidebar_use_name">XX白色橱柜</div>
          <div id="sidebar_use_num">5/5</div>
      </div> -->
  
    </div>

    <!-- Left and right controls -->
<!--     <a class="left use_product_control_left" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right use_product_control_right" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a> -->
  </div>
      </div><!-- sidebar_use_content -->
  </div>

<!--       <div class="sidebar_related">

          <div id="related_name_side">相关物料</div>

          <div id="related_content_side">
            
            <div id="related_project_side">
              <img id="related_project_pic" src="../../image/p1.png">
              <div class="related_project_name">XX白色橱柜</div>
              <div class="related_project_brand">By wowkb</div>
              <div class="related_project_designer">$2999</div>
            </div>
            <div id="related_project_side">
              <img id="related_project_pic" src="../../image/p2.png">
              <div class="related_project_name">xXX美式水槽</div>
              <div class="related_project_brand">By wowkb</div>
              <div class="related_project_designer">$3999</div>
            </div>
          
          <div id="related_project_side">
              <img id="related_project_pic" src="../../image/p3.png">
              <div class="related_project_name">XXX美式冰箱</div>
              <div class="related_project_brand">By wowkb</div>
              <div class="related_project_designer">$4999</div>
            </div>
            <div id="related_project_side">
              <img id="related_project_pic" src="../../image/p4.png">
              <div class="related_project_name">XXX餐桌</div>
              <div class="related_project_brand">By wowkb</div>
              <div class="related_project_designer">$5999</div>
            </div>
          </div>
      </div> -->
    </div><!-- side_right -->
  </div><!-- container -->
</div><!-- body -->
</body>
</html>