<!DOCTYPE html>
<html>
<head>
  <title>Wow Kitchen & Bath</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/template/common/css/common_temp.css">
  <link rel="stylesheet" type="text/css" href="/prewowkb/css/prepage.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
{%include file="$root/template/common/navbar_prewowkb.html"%}

<a class="back_top" href="#">&#8679;</a>

<div id="body_design">
  <div id="sidebar">      
      <div id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel">
              <div class="panel-heading" role="tab" id="headingOne">
                  <div class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">BY STYLE
                      </a>
                  </div>
              </div>
              <div id="collapseOne" {%if $category eq 1%} class="panel-collapse collapse in" {%else%}class="panel-collapse collapse" {%/if%}  role="tabpanel" aria-labelledby="headingOne">
                  <ul id="catogory_list">
                      <a href="/prewowkb/account.php?act=designs&category=1&q=0" {%if $category eq 1 && $q eq 0 %}class="secondList" {%/if%}><li >All Styles</li></a>
                      <a href="/prewowkb/account.php?act=designs&category=1&q=Mid" {%if $category eq 1 && $q eq 'Mid' %}class="secondList" {%/if%}><li>Mid-century Modern Style</li></a>
                      <a href="/prewowkb/account.php?act=designs&category=1&q=Modern" {%if $category eq 1 && $q eq 'Modern' %}class="secondList" {%/if%}><li>Modern Style</li></a>
                      <a href="/prewowkb/account.php?act=designs&category=1&q=Art" {%if $category eq 1 && $q eq 'Art' %}class="secondList" {%/if%}><li>Art Deco Style</li></a>
                      <a href="/prewowkb/account.php?act=designs&category=1&q=Minimalism" {%if $category eq 1 && $q eq 'Minimalism' %}class="secondList" {%/if%}><li>Minimalism Style</li></a>
                      <a href="/prewowkb/account.php?act=designs&category=1&q=Traditional" {%if $category eq 1 && $q eq 'Traditional' %}class="secondList" {%/if%}><li>Traditional Style</li></a>
                      <a href="/prewowkb/account.php?act=designs&category=1&q=Chinese" {%if $category eq 1 && $q eq 'Chinese' %}class="secondList" {%/if%}><li>Chinese Style</li></a>
                      <a href="/prewowkb/account.php?act=designs&category=1&q=Japanese" {%if $category eq 1 && $q eq 'Japanese' %}class="secondList" {%/if%}><li>Japanese Style</li></a>
                      <a href="/prewowkb/account.php?act=designs&category=1&q=Scandinavian" {%if $category eq 1 && $q eq 'Scandinavian' %}class="secondList" {%/if%}><li>Scandinavian Design Style</li></a>
                      
                      <a href="/prewowkb/account.php?act=designs&category=1&q=Eclectic" {%if $category eq 1 && $q eq 'Eclectic' %}class="secondList" {%/if%}><li>Eclectic Style</li></a>
                      <a href="/prewowkb/account.php?act=designs&category=1&q=Country" {%if $category eq 1 && $q eq 'Country' %}class="secondList" {%/if%}><li>Country Style</li></a>
                  </ul>
              </div>
          </div>
          <div class="panel">
              <div class="panel-heading" role="tab" id="headingTwo">
                  <div class="panel-title">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">BY SIZE RANGE
                      </a>
                  </div>
              </div>
              <div id="collapseTwo" {%if $category eq 2%} class="panel-collapse collapse in" {%else%}class="panel-collapse collapse" {%/if%}  role="tabpanel" aria-labelledby="headingTwo">
                  <ul id="catogory_list">
                      <a href="/prewowkb/account.php?act=designs&category=2&q-0" {%if $category eq 2 && $q eq 0 %}class="secondList" {%/if%}><li >All Size Ranges</li></a>
                      <a href="/prewowkb/account.php?act=designs&category=2&q=1" {%if $category eq 2 && $q eq 1 %}class="secondList" {%/if%}><li>Smaller<span class="comment">< 70 sq. ft</span></li></a>
                      <a href="/prewowkb/account.php?act=designs&category=2&q=2" {%if $category eq 2 && $q eq 2 %}class="secondList" {%/if%}><li>Small<span class="comment">71 - 100 sq.ft</span></li></a>
                      <a href="/prewowkb/account.php?act=designs&category=2&q=3" {%if $category eq 2 && $q eq 3 %}class="secondList" {%/if%}><li>Medium<span class="comment">101 - 200 sq. ft</span></li></a>
                      <a href="/prewowkb/account.php?act=designs&category=2&q=4" {%if $category eq 2 && $q eq 4 %}class="secondList" {%/if%}><li>Large<span class="comment">201 - 400 sq. ft</span></li></a>
                      <a href="/prewowkb/account.php?act=designs&category=2&q=5"  {%if $category eq 2 && $q eq 5 %}class="secondList" {%/if%}><li>Larger<span class="comment">> 400 sq. ft</span></li></a>
                  </ul>
              </div>
          </div>
          <div class="panel">
              <div class="panel-heading" role="tab" id="headingThree">
                  <div class="panel-title">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">BY SPACE SAHPE
                      </a>
                  </div>
              </div>
          <div id="collapseThree" {%if $category eq 3%} class="panel-collapse collapse in" {%else%}class="panel-collapse collapse" {%/if%}  role="tabpanel" aria-labelledby="headingThree">
              <ul id="catogory_list">
                   <a href="/prewowkb/account.php?act=designs&category=3&q=0"   {%if $category eq 3 && $q eq 0 %}class="secondList" {%/if%}><li >All Space Shapes</li></a>
                  <a href="/prewowkb/account.php?act=designs&category=3&q=square" {%if $category eq 3 && $q eq 'square'%}class="secondList" {%/if%}><li>Square</li></a>
                   <a href="/prewowkb/account.php?act=designs&category=3&q=rectangle" {%if $category eq 3 && $q eq 'rectangle'%}class="secondList" {%/if%}><li>Rectangle</li></a>
                  <a href="/prewowkb/account.php?act=designs&category=3&q=multiple" {%if $category eq 3 && $q eq 'multiple'%}class="secondList" {%/if%}><li>Multiple pattern</li></a>
              </ul>
          </div>
          </div>
          
         
          <div class="panel ">
              <div class="panel-heading" role="tab" id="headingFour">
                  <div class="panel-title">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">BY LAYOUT
                      </a>
                  </div>
              </div>
          <div id="collapseFour" {%if $category eq 4%} class="panel-collapse collapse in" {%else%}class="panel-collapse collapse" {%/if%}  role="tabpanel" aria-labelledby="headingFour">
              <ul id="catogory_list">
                  <a href="/prewowkb/account.php?act=designs&category=4&q=0" {%if $category eq 4 && $q eq 0 %}class="secondList" {%/if%}><li >All Kitchen Layouts</li></a>
                  <a href="/prewowkb/account.php?act=designs&category=4&q=one" {%if $category eq 4 && $q eq 'one'%}class="secondList" {%/if%}><li>One-Wall Kitchen</li></a>
                  <a href="/prewowkb/account.php?act=designs&category=4&q=onem" {%if $category eq 4 && $q eq 'onem'%}class="secondList" {%/if%}><li>One-Wall with Island</li></a>
                  <a href="/prewowkb/account.php?act=designs&category=4&q=l" {%if $category eq 4 && $q eq 'l'%}class="secondList" {%/if%}><li>L- Shape Kitchen</li></a>
                   <a href="/prewowkb/account.php?act=designs&category=4&q=lm" {%if $category eq 4 && $q eq 'lm'%}class="secondList" {%/if%}><li>L-Shaped with Island</li></a>
                   <a href="/prewowkb/account.php?act=designs&category=4&q=u" {%if $category eq 4 && $q eq 'u'%}class="secondList" {%/if%}><li>U- Shape Kitchen</li></a>
                   <a href="/prewowkb/account.php?act=designs&category=4&q=um" {%if $category eq 4 && $q eq 'um'%}class="secondList" {%/if%}><li>U-Shaped with Island</li></a>
                   <a href="/prewowkb/account.php?act=designs&category=4&q=g" {%if $category eq 4 && $q eq 'g'%}class="secondList" {%/if%}><li>G- Shape Kitchen</li></a>
                   <a href="/prewowkb/account.php?act=designs&category=4&q=gallery" {%if $category eq 4 && $q eq 'gallery'%}class="secondList" {%/if%}><li>Galley Kitchen</li></a>
              </ul>
          </div>
          </div>
      </div>
    </div><!-- sidebar -->

  
  <div class="right_mainarea">  
{%foreach from=$res key=i item=val%}
      <a href="/prewowkb/account.php?act=design_detail&id={%$val['pk_id']|default:''%}">
        <div class="search_designs_project">
          <div class="designs_project_pic">
            <img class="designs_project_pic" src="{%$val['pic_path']|default:''%}">
          </div>
          <div class="project_collect_intro">
            <div class="admin_collect_title">{%$val['name']|default:''%}</br></div>
          </div>
        </div>
      </a>
 {%/foreach%}     
     
    </div>

</div><!-- body --> 
</body>
</html>

