<!DOCTYPE html>
<html>
<head>
  <title>Wow Kitchen & Bath</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/template/common/css/common_temp.css">
  <link rel="stylesheet" type="text/css" href="/prewowkb/css/prepage.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
{%include file="$root/template/common/navbar_prewowkb.html"%}

<a class="back_top" href="#">&#8679;</a>

<div id="body_design">
  <div id="sidebar">      
      <div id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                  <div class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">BY STYLE
                      </a>
                  </div>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                  <ul id="catogory_list">
                      <a href="/prewowkb/account.php?act=designs"><li class="secondList">All Styles</li></a>
                      <a href="/prewowkb/account.php?act=designs&category=1&q=Mid"><li>Mid-century Modern Style</li></a>
                      <a href="/prewowkb/account.php?act=designs&category=1&q=Modern"><li>Modern Style</li></a>
                      <a href="/prewowkb/account.php?act=designs&category=1&q=Art"><li>Art Deco Style</li></a>
                      <a href="/prewowkb/account.php?act=designs&category=1&q=Minimalism"><li>Minimalism Style</li></a>
                      <a href="/prewowkb/account.php?act=designs&category=1&q=Traditional"><li>Traditional Style</li></a>
                      <a href="/prewowkb/account.php?act=designs&category=1&q=Chinese"><li>Chinese Style</li></a>
                      <a href="/prewowkb/account.php?act=designs&category=1&q=Japanese"><li>Japanese Style</li></a>
                      <a href="/prewowkb/account.php?act=designs&category=1&q=Scandinavian"><li>Scandinavian Design Style</li></a>
                      
                      <a href="/prewowkb/account.php?act=designs&category=1&q=Eclectic"><li>Eclectic Style</li></a>
                      <a href="/prewowkb/account.php?act=designs&category=1&q=Country"><li>Country Style</li></a>
                  </ul>
              </div>
          </div>
          <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo">
                  <div class="panel-title">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">BY SIZE RANGE
                      </a>
                  </div>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <ul id="catogory_list">
                      <a href="/prewowkb/account.php?act=designs"><li class="secondList">All Size Ranges</li></a>
                      <a href="/prewowkb/account.php?act=designs&category=2&q=1"><li>Smaller<span class="comment">< 70 sq. ft</span></li></a>
                      <a href="/prewowkb/account.php?act=designs&category=2&q=2"><li>Small<span class="comment">71 - 100 sq.ft</span></li></a>
                      <a href="/prewowkb/account.php?act=designs&category=2&q=3"><li>Medium<span class="comment">101 - 200 sq. ft</span></li></a>
                      <a href="/prewowkb/account.php?act=designs&category=2&q=4"><li>Large<span class="comment">201 - 400 sq. ft</span></li></a>
                      <a href="/prewowkb/account.php?act=designs&category=2&q=5"><li>Larger<span class="comment">> 400 sq. ft</span></li></a>
                  </ul>
              </div>
          </div>
          <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingThree">
                  <div class="panel-title">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">BY SPACE SAHPE
                      </a>
                  </div>
              </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <ul id="catogory_list">
                   <a href="/prewowkb/account.php?act=designs"><li class="secondList">All Space Shapes</li></a>
                  <a href="/prewowkb/account.php?act=designs&category=3&q=square"><li>Square</li></a>
                   <a href="/prewowkb/account.php?act=designs&category=3&q=rectangle"><li>Rectangle</li></a>
                  <a href="/prewowkb/account.php?act=designs&category=3&q=multiple"><li>Multiple pattern</li></a>
              </ul>
          </div>
          </div>
          <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingFour">
                  <div class="panel-title">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">BY LAYOUT
                      </a>
                  </div>
              </div>
          <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
              <ul id="catogory_list">
                  <a href="/prewowkb/account.php?act=designs"><li class="secondList">All Kitchen Layouts</li></a>
                  <a href="/prewowkb/account.php?act=designs&category=4&q=one"><li>One-Wall Kitchen</li></a>
                  <a href="/prewowkb/account.php?act=designs&category=4&q=onem"><li>One-Wall with Island</li></a>
                  <a href="/prewowkb/account.php?act=designs&category=4&q=l"><li>L- Shape Kitchen</li></a>
                   <a href="/prewowkb/account.php?act=designs&category=4&q=lm"><li>L-Shaped with Island</li></a>
                   <a href="/prewowkb/account.php?act=designs&category=4&q=u"><li>U- Shape Kitchen</li></a>
                   <a href="/prewowkb/account.php?act=designs&category=4&q=um"><li>U-Shaped with Island</li></a>
                   <a href="/prewowkb/account.php?act=designs&category=4&q=g"><li>G- Shape Kitchen</li></a>
                   <a href="/prewowkb/account.php?act=designs&category=4&q=gallery"><li>Galley Kitchen</li></a>
              </ul>
          </div>
          </div>
      </div>
    </div><!-- sidebar -->

  
  <div class="right_mainarea">  
{%foreach from=$res key=i item=val%}
      <a href="/prewowkb/account.php?act=design_detail&id={%$val['pk_id']|default:''%}">
        <div class="search_designs_project">
          <div class="designs_project_pic">
            <img class="designs_project_pic" src="{%$val['pic_path']|default:''%}">
          </div>
          <div class="project_collect_intro">
            <div class="admin_collect_title">{%$val['intro']|default:''%}</br></div>
          </div>
        </div>
      </a>
 {%/foreach%}     
     
    </div>

</div><!-- body --> 
</body>
</html>

