<!DOCTYPE html>
<html>
<head>
  <title>Wow Kitchen & Bath</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/page/css/page.css">
  <link rel="stylesheet" type="text/css" href="/template/common/css/common_temp.css">
  <link rel="stylesheet" type="text/css" href="/prewowkb/css/prepage.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div id="navbar">
  <div id="nav_logo">
      <img id="nav_logo_pic" src="/image/logo4.png">
  </div>
  
  <div id="nav_link1">
      <a href="/"><div class="nav">主页</div></a>
      <a href="/prewowkb/account.php?act=designer"><div class="nav">设计</div></a>
      <a href="/prewowkb/account.php?act=productsupplier"><div class="nav">产品</div></a>
      <a href="/prewowkb/account.php?act=service"><div class="nav">服务</div></a>
      <a href="/prewowkb/account.php?act=about"><div class="nav">关于我们</div></a>
      <a href="/prewowkb/account.php?act=begincustomize"><div class="nav">开始定制</div></a>
      {%if empty($userid)%}
      <a href="/account/account.php?act=register"><div class="nav">注册</div></a>
      <a href="/account/account.php?act=login"><div id="nav_sign_signin">登陆</div></a>
      {%else%}
      <a href="/account/space.php?act=user_dashboard"><div class="nav">我的后台账户</div></a>
      {%/if%}
      <a href="/account/account.php?act=login"><div id="nav_sign_signin">登陆</div></a>
  </div>
  <div id="nav_bg"></div>
</div>


<div id="body_design">
  <div id="container">
    <div id="design_left">
    <div class="design_main">
      <div class="design_main_content">
            <div class="design_project_title">{%$res['name']|default:''%}</div>
              <img id="design_main_pic_img" src="{%$res['pic_path']|default:''%}">
              <div class="project_intro_detail">
                {%$res['intro']|default:''%}
              </div>
      </div>
    </div>

    <div id="design_related">
      <div id="related_name">相关设计作品</div>
      <div id="related_content">
      {%foreach from=$other_relative_zuopins key=i item=value %}
        <div class="related_content_project">
        <a href="/prewowkb/account.php?act=design_detail&id={%$value['pk_id']|default:''%}">
          <div id="related_pic"><img src="{%$value['pic_path']|default:''%}"></div>
          <div id="related_title">{%$value['name']|default:''%}</div>
          <div id="related_price">XXX设计师</div>
         </a>
        </div>
       {%/foreach%}    
      </div>
    </div>

  </div><!-- design_left -->



  <div id="side_right">
      <div class="sidebar_right">
        <div class="design_project_designer">
          <img id="design_project_designer_head" src="/image/head.png">
          <div class="design_project_designer_intro">
            <h5>设计师AAA</h5>
          </div>
        </div>
        <div class="project_detail_labels"><span class="designs_project_label">橱柜</span><span class="designs_project_label">台面</span><span class="designs_project_label">地板</span><span class="designs_project_label">墙砖</span></div>
        <div class="sidebar_gapline"></div>
        <div id="sidebar_right_price">预算：${%$res['price']|default:''%}</div>   
        <a href="/prewowkb/account.php?act=begincustomize"><button class="buyButton">开始定制</button></a>
      
      </div><!-- sidebar_right -->

      <div id="sidebar_use_product">
        <div id="sidebar_use_title">设计使用到的物料</div>
  <div id="sidebar_use_content">

  <div id="myCarousel" class="carousel slide" >

    <!-- Wrapper for slides -->
    <div class="carousel-inner use_product" role="listbox">

      <div class="item active">
          <a href="#"><div id="sidebar_material_pic">
            <img src="/image/customize/A7/material.jpg" alt="chair">
          </div></a>
          <a href="#"><div id="sidebar_use_name">XX白色橱柜</div></a>
          <!-- <div id="sidebar_use_num">1/5</div> -->
      </div>
	{%foreach from=$pics key=i item=value%}
      <div class="item">
        <div id="sidebar_use_pic">
            <img src="{%$value['pic_path']|default:''%}" alt="chair">
          </div>
          <!-- <div id="sidebar_use_name">XX白色橱柜</div> -->
        <!--   <div id="sidebar_use_num">2/5</div> -->
      </div>
  	{%/foreach %}
    </div>

    <!-- Left and right controls -->
    <a class="left use_product_control_left" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right use_product_control_right" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
      </div><!-- sidebar_use_content -->
  </div>

<!--       <div class="sidebar_related">

          <div id="related_name_side">相关物料</div>

          <div id="related_content_side">
            
            <div id="related_project_side">
              <img id="related_project_pic" src="../../image/p1.png">
              <div class="related_project_name">XX白色橱柜</div>
              <div class="related_project_brand">By wowkb</div>
              <div class="related_project_designer">$2999</div>
            </div>
            <div id="related_project_side">
              <img id="related_project_pic" src="../../image/p2.png">
              <div class="related_project_name">xXX美式水槽</div>
              <div class="related_project_brand">By wowkb</div>
              <div class="related_project_designer">$3999</div>
            </div>
          
          <div id="related_project_side">
              <img id="related_project_pic" src="../../image/p3.png">
              <div class="related_project_name">XXX美式冰箱</div>
              <div class="related_project_brand">By wowkb</div>
              <div class="related_project_designer">$4999</div>
            </div>
            <div id="related_project_side">
              <img id="related_project_pic" src="../../image/p4.png">
              <div class="related_project_name">XXX餐桌</div>
              <div class="related_project_brand">By wowkb</div>
              <div class="related_project_designer">$5999</div>
            </div>
          </div>
      </div> -->
    </div><!-- side_right -->
  </div><!-- container -->
</div><!-- body -->
</body>
</html>