<!DOCTYPE html>
<html>
<head>
  <title>Wow Kitchen & Bath</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/template/common/css/common_temp.css">
  <link rel="stylesheet" type="text/css" href="/prewowkb/css/prepage.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
{%include file="$root/template/common/navbar_prewowkb.html"%}

<div id="showArea">
  <div id="search_slogan">定制您梦想的厨房</div>
  <div class="showArea_bg"></div>
  <img id="showArea_pic" src="/image/title.png">
</div>

<div id="body">
  
  <div class="temp_mainArea">
  <div class="index_project_title">
    家居设计
    <a href="/prewowkb/account.php?act=designs#jiaju" class="more_design">更多</a>
  </div> 
  {%foreach from=$res  key=i  item=value %}  
      <a href="/prewowkb/account.php?act=design_detail&id={%$value['pk_id']|default:''%}">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img class="designs_project_pic" src="{%$value['pic_path']|default:''%}">
          </div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">{%$value['name']|default:''%}</div>
          </div>
        </div>
      </a>
  {%/foreach%} 

  <div class="index_project_title project_title_blank">
  空间规划
  <a href="/prewowkb/account.php?act=designs#kongjian" class="more_design">更多</a>
  </div>

      <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img class="designs_project_pic" src="/image/customize/K8/design.jpg">
          </div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">奶油色枫木橱柜定制</br></div>
          </div>
        </div>
      </a>

  <div class="index_project_title project_title_blank">
  室内装修
  <a href="/prewowkb/account.php?act=designs#shinei" class="more_design">更多</a>
  </div>

      <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img class="designs_project_pic" src="/image/customize/S2/design.jpg">
          </div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">奶油色枫木橱柜定制</br></div>
          </div>
        </div>
      </a>  

</div><!-- temp_mainArea -->
</div><!-- body -->
</body>
</html>

