<!DOCTYPE html>
<html>
<head>
  <title>Wow Kitchen & Bath</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/template/common/css/common_temp.css">
  <link rel="stylesheet" type="text/css" href="/prewowkb/css/prepage.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
{%include file="$root/template/common/navbar_prewowkb.html"%}


<!-- <a class="back_top" href="#">&#8679;</a> -->

<div id="page_intro">
  <div class="page_intro_up">
    <h2>WOWKB PRODUCTS SUPPLIER</h2>
  </div>
  <div class="pageheader_bg"></div>
    <img id="pageheader" class="pageheader" src="../../image/pageheader.png"> 
</div>


<div id="body">
  <div class="page_intro_top">
    Welcome to WOWKB. We are changing the home decoration industry, we believe that home decoration service should be simple, easy and pleasant, we hope to improve the shopping experience through online design and collaboration.</br>
    <a href="/prewowkb/account.php?act=form_apply_supplier" class="button_orange construct_price_button">APPLY</a>
  </div>

  <div id="cabinet"></div>
  <div class="supplier_catogory">
<!--     <div class="catogory_line_word">橱柜</div> -->
    <div class="catogory_line"></div>
  </div>
  <div class="supplier_logo">
    <div class="each_logo">
      <div class="logo_img">
        <img src="/image/grandjk.jpg" />
        Grand J&K
      </div>
      <div class="logo_description">Grand JK Cabinetry is a quality-stock cabinet wholesaler, distributor in North America. Our products are then sold through a network of retailers, builders, contractors, designers and home centers. Grand JK has been expanding steadily since 2003. </br>
        <a class="button_dark readmore" href="http://www.grandjk.com/">Read More</a>
      </div>
    </div>

    <div class="each_logo">
      <div class="logo_img haus">
        <img src="/image/supplier_logo/cabinet/haus_logo_black.png" />
        Hausglobal
      </div>
      <div class="logo_description">Hausglobal manufactures high quality materials around the world, and assemble and customize in the US. We have a 100,000-square-foot assembly shop in San Francisco, California, with custom assembly capacity of over 10,000 cabinets. We create value by tailor-made furniture for our customers. 
        </br>
        <a class="button_dark readmore" href="https://www.hausglobal.com/">Read More</a>
      </div>
    </div>
  </div>
  
<div class="bottom_space"></div>
</div>
{%include file="$root/template/common/footer.html"%}
</body>
</html>

