<!DOCTYPE html>
<html>
<head>
  <title>Wow Kitchen & Bath</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/template/common/css/common.css">
  <link rel="stylesheet" type="text/css" href="/template/common/css/common_temp.css">
  <link rel="stylesheet" type="text/css" href="/prewowkb/css/prepage.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
{%include file="$root/template/common/navbar_prewowkb.html"%}


<div class="page_intro">
  <div class="page_intro_up">
    <h2>WOWKB SERVICE</h2>
  </div>
  <div class="pageheader_bg"></div>
  <img class="pageheader" src="/image/pageheader.png">
  <div class="page_intro_down">
    Join WOWKB, we will provide website design, marketing, order and construction management software and other services.
<!--     <a href="/prewowkb/account.php?act=form_apply_constructor"><div class="down_button">APPLY</div></a> -->
  </div>   
</div>

<div id="body">
  <div class="body_content">
    <!-- <div id="map"></div> -->
    <div class="constructor_list">
      <ul>
        <li>
          <div class="each_constru">
            <span class="title_e">Leadton Floors Inc.</span><span class="title_c">Leadton地板公司</span></br>
            <span class="constru_service">Cabinetry \ Countertop \ Flooring \ Paint \ Water & Electricity</span></br>
            <span class="service_area"><span class="glyphicon glyphicon-map-marker"></span> BAY AREA</span>
          </div>
        </li>
        <li>
          <div class="each_constru">
            <span class="title_e">Sunshine Handyman Service Inc</span><span class="title_c">阳光装修公司</span></br>
            <span class="constru_service">Cabinetry \ Countertop \ Flooring \ Paint \ Water & Electricity</span></br>
            <span class="service_area"><span class="glyphicon glyphicon-map-marker"></span> UNION CITY, BAY AREA</span>
          </div>
        </li>
        <li>
          <div class="each_constru">
            <span class="title_e">YUANLONG CONSTRUCTION INC</span><span class="title_c">元隆建筑公司</span></br>
            <span class="constru_service">Cabinetry \ Countertop \ Flooring \ Paint \ Water & Electricity</span></br>
            <span class="service_area"><span class="glyphicon glyphicon-map-marker"></span> CAMPBELL, FREMONT, UNION CITY, SOUTH BAY</span>
          </div>
        </li>
        <li>
          <div class="each_constru">
            <span class="title_e">Integrity In&Exterior Construction Inc</span><span class="title_c">诚信室内外建筑装修</span></br>
            <span class="constru_service">Cabinetry \ Countertop \ Flooring \ Paint \ Water & Electricity</span></br>
            <span class="service_area"><span class="glyphicon glyphicon-map-marker"></span> FREMONT</span>
          </div>
        </li>
        <li>
          <div class="each_constru">
            <span class="title_e">信誉第一建筑装修</span><span class="title_c"></span></br>
            <span class="constru_service">Cabinetry \ Countertop \ Flooring \ Paint \ Water & Electricity</span></br>
            <span class="service_area"><span class="glyphicon glyphicon-map-marker"></span> MILPITAS</span>
          </div>
        </li>
        <li>
          <div class="each_constru">
            <span class="title_e">刘师傅</span><span class="title_c"></span></br>
            <span class="constru_service">Cabinetry \ Countertop \ Flooring \ Paint \ Water & Electricity</span></br>
            <span class="service_area"><span class="glyphicon glyphicon-map-marker"></span> BAY AREA</span>
          </div>
        </li>
        <li>
          <div class="each_constru">
            <span class="title_e">信誉装修工程公司</span><span class="title_c"></span></br>
            <span class="constru_service">Cabinetry \ Countertop \ Flooring \ Paint \ Water & Electricity</span></br>
            <span class="service_area"><span class="glyphicon glyphicon-map-marker"></span> SUNNYVALE</span>
          </div>
        </li>
        <li>
          <div class="each_constru">
            <span class="title_e">JXYZ Integrity Construction</span><span class="title_c">豪艺建筑</span></br>
            <span class="constru_service">Cabinetry \ Countertop \ Flooring \ Paint \ Water & Electricity</span></br>
            <span class="service_area"><span class="glyphicon glyphicon-map-marker"></span> BAY AREA</span>
          </div>
        </li>
        <li>
          <div class="each_constru">
            <span class="title_e">Palladium Construction Inc</span><span class="title_c">豪苑建筑</span></br>
            <span class="constru_service">Cabinetry \ Countertop \ Flooring \ Paint \ Water & Electricity</span></br>
            <span class="service_area"><span class="glyphicon glyphicon-map-marker"></span> BAY AREA</span>
          </div>
        </li>
        <li>
          <div class="each_constru">
            <span class="title_e">耿师傅装修</span><span class="title_c"></span></br>
            <span class="constru_service">Cabinetry \ Countertop \ Flooring \ Paint \ Water & Electricity</span></br>
            <span class="service_area"><span class="glyphicon glyphicon-map-marker"></span> BAY AREA</span>
          </div>
        </li>
        <li>
          <div class="each_constru">
            <span class="title_e">First quality flooring</span><span class="title_c">一流地板装修</span></br>
            <span class="constru_service">Cabinetry \ Countertop \ Flooring \ Paint \ Water & Electricity</span></br>
            <span class="service_area"><span class="glyphicon glyphicon-map-marker"></span> FREMONT, EAST BAY </span>
          </div>
        </li>
        <li>
          <div class="each_constru">
            <span class="title_e">冯师傅</span><span class="title_c"></span></br>
            <span class="constru_service">Cabinetry \ Countertop \ Flooring \ Paint \ Water & Electricity</span></br>
            <span class="service_area"><span class="glyphicon glyphicon-map-marker"></span> SAN JOSE, BAY AREA</span>
          </div>
        </li>
        <li>
          <div class="each_constru">
            <span class="title_e">精细竹木地板装修</span><span class="title_c"></span></br>
            <span class="constru_service">Cabinetry \ Countertop \ Flooring \ Paint \ Water & Electricity</span></br>
            <span class="service_area"><span class="glyphicon glyphicon-map-marker"></span> SAN JOSE</span>
          </div>
        </li>
        <li>
          <div class="each_constru">
            <span class="title_e">Hua an</span><span class="title_c">华安装修</span></br>
            <span class="constru_service">Cabinetry \ Countertop \ Flooring \ Paint \ Water & Electricity</span></br>
            <span class="service_area"><span class="glyphicon glyphicon-map-marker"></span> SAN JOSE, SOUTH SF, UNION CITY</span>
          </div>
        </li>
        <li>
          <div class="each_constru">
            <span class="title_e">Raymond Construction</span><span class="title_c">山水装修</span></br>
            <span class="constru_service">Cabinetry \ Countertop \ Flooring \ Paint \ Water & Electricity</span></br>
            <span class="service_area"><span class="glyphicon glyphicon-map-marker"></span> FREMONT, SAN JOSE</span>
          </div>
        </li>
        <li>
          <div class="each_constru">
            <span class="title_e">Yingli Construction</span><span class="title_c">英利 Construction</span></br>
            <span class="constru_service">Cabinetry \ Countertop \ Flooring \ Paint \ Water & Electricity</span></br>
            <span class="service_area"><span class="glyphicon glyphicon-map-marker"></span> BAY AREA, BERKELEY</span>
          </div>
        </li>
        <li>
          <div class="each_constru">
            <span class="title_e">Integrity California Construction Inc.</span><span class="title_c">诚信第一加州建筑装修公司</span></br>
            <span class="constru_service">Cabinetry \ Countertop \ Flooring \ Paint \ Water & Electricity</span></br>
            <span class="service_area"><span class="glyphicon glyphicon-map-marker"></span> SAN JOSE</span>
          </div>
        </li>
        <li>
          <div class="each_constru">
            <span class="title_e">房屋装修实惠</span><span class="title_c"></span></br>
            <span class="constru_service">Cabinetry \ Countertop \ Flooring \ Paint \ Water & Electricity</span></br>
            <span class="service_area"><span class="glyphicon glyphicon-map-marker"></span> BAY AREA</span>
          </div>
        </li>
        <li>
          <div class="each_constru">
            <span class="title_e">Allied Teamwork Construction Inc</span><span class="title_c">华兴建筑工程公司</span></br>
            <span class="constru_service">Cabinetry \ Countertop \ Flooring \ Paint \ Water & Electricity</span></br>
            <span class="service_area"><span class="glyphicon glyphicon-map-marker"></span> SAN FRANSISCO, MIDDLE BAY, SOUTH BAY</span>
          </div>
        </li>
        <li>
          <div class="each_constru">
            <span class="title_e">RedApp Inc</span><span class="title_c">宏程建筑</span></br>
            <span class="constru_service">Cabinetry \ Countertop \ Flooring \ Paint \ Water & Electricity</span></br>
            <span class="service_area"><span class="glyphicon glyphicon-map-marker"></span> SAN FRANSICO, SAN JOSE</span>
          </div>
        </li>
        <li>
          <div class="each_constru">
            <span class="title_e">辉达建筑</span><span class="title_c"></span></br>
            <span class="constru_service">Cabinetry \ Countertop \ Flooring \ Paint \ Water & Electricity</span></br>
            <span class="service_area"><span class="glyphicon glyphicon-map-marker"></span> BAY AREA</span>
          </div>
        </li>
        <li>
          <div class="each_constru">
            <span class="title_e">CSD California Design and Construction</span><span class="title_c">CSD加州建筑室内设计与工程</span></br>
            <span class="constru_service">Cabinetry \ Countertop \ Flooring \ Paint \ Water & Electricity</span></br>
            <span class="service_area"><span class="glyphicon glyphicon-map-marker"></span> BAY AREA</span>
          </div>
        </li>
        <li>
          <div class="each_constru">
            <span class="title_e">Gobless Home Improvement Inc.</span><span class="title_c">陈师傅装修</span></br>
            <span class="constru_service">Cabinetry \ Countertop \ Flooring \ Paint \ Water & Electricity</span></br>
            <span class="service_area"><span class="glyphicon glyphicon-map-marker"></span> BAY AREA, CAMPBELL</span>
          </div>
        </li>
        <li>
          <div class="each_constru">
            <span class="title_e">方知装修</span><span class="title_c"></span></br>
            <span class="constru_service">Cabinetry \ Countertop \ Flooring \ Paint \ Water & Electricity</span></br>
            <span class="service_area"><span class="glyphicon glyphicon-map-marker"></span> SOUNTH BAY AREA</span>
          </div>
        </li>
        <li>
          <div class="each_constru">
            <span class="title_e">AWINV</span><span class="title_c">阿文装修</span></br>
            <span class="constru_service">Cabinetry \ Countertop \ Flooring \ Paint \ Water & Electricity</span></br>
            <span class="service_area"><span class="glyphicon glyphicon-map-marker"></span> SOUTH BAY, EAST BAY</span>
          </div>
        </li>
        <li>
          <div class="each_constru">
            <span class="title_e">建筑装修</span><span class="title_c"></span></br>
            <span class="constru_service">Cabinetry \ Countertop \ Flooring \ Paint \ Water & Electricity</span></br>
            <span class="service_area"><span class="glyphicon glyphicon-map-marker"></span> EAST BAY</span>
          </div>
        </li>
        <li>
          <div class="each_constru">
            <span class="title_e">室内装修</span><span class="title_c">诚信室内外建筑装修</span></br>
            <span class="constru_service">Cabinetry \ Countertop \ Flooring \ Paint \ Water & Electricity</span></br>
            <span class="service_area"><span class="glyphicon glyphicon-map-marker"></span> BAY AREA</span>
          </div>
        </li>
        <li>
          <div class="each_constru">
            <span class="title_e">刘师傅专业装修</span><span class="title_c"></span></br>
            <span class="constru_service">Cabinetry \ Countertop \ Flooring \ Paint \ Water & Electricity</span></br>
            <span class="service_area"><span class="glyphicon glyphicon-map-marker"></span> FREMONT, BAY AREA</span>
          </div>
        </li>
        <li>
          <div class="each_constru">
            <span class="title_e">ENERGY MATE</span><span class="title_c">冷暖系统HERS验证</span></br>
            <span class="constru_service">HOME ENERGY SYSTEM REATER\ TEXT \ TITLE 24 \ NEW HOUSE PREMIT- GREEN BUILDING CHECK LIST\ HES</span></br>
            <span class="service_area"><span class="glyphicon glyphicon-map-marker"></span> BAY AREA, SACRAMENT, SANTA CLARA</span>
          </div>
        </li>
        <li>
          <div class="each_constru">
            <span class="title_e">A1 Z&C CONSTRUCTION</span><span class="title_c">诚实建筑工程公司</span></br>
            <span class="constru_service">Cabinetry \ Countertop \ Flooring \ Paint \ Water & Electricity</span></br>
            <span class="service_area"><span class="glyphicon glyphicon-map-marker"></span> BAY AREA</span>
          </div>
        </li>
        <li>
          <div class="each_constru">
            <span class="title_e">信实装修</span><span class="title_c"></span></br>
            <span class="constru_service">Cabinetry \ Countertop \ Flooring \ Paint \ Water & Electricity</span></br>
            <span class="service_area"><span class="glyphicon glyphicon-map-marker"></span> SOUTH BAY, SAN JOSE</span>
          </div>
        </li>
        <li>
          <div class="each_constru">
            <span class="title_e">Mr.glass - Bruce Hu</span><span class="title_c"></span></br>
            <span class="constru_service">Cabinetry \ Countertop \ Flooring \ Paint \ Water & Electricity</span></br>
            <span class="service_area"><span class="glyphicon glyphicon-map-marker"></span> BAY AREA</span>
          </div>
        </li>
        <li>
          <div class="each_constru">
            <span class="title_e">弘升装修公司</span><span class="title_c"></span></br>
            <span class="constru_service">Cabinetry \ Countertop \ Flooring \ Paint \ Water & Electricity</span></br>
            <span class="service_area"><span class="glyphicon glyphicon-map-marker"></span> MIDDLE BAY</span>
          </div>
        </li>
        <li>
          <div class="each_constru">
            <span class="title_e">Aaron Garfinkel Landscapes Inc</span><span class="title_c">和谐建筑公司</span></br>
            <span class="constru_service">Cabinetry \ Countertop \ Flooring \ Paint \ Water & Electricity</span></br>
            <span class="service_area"><span class="glyphicon glyphicon-map-marker"></span> PALO ALTO, SAN JOSE</span>
          </div>
        </li>
        <li>
          <div class="each_constru">
            <span class="title_e">Danny Li</span><span class="title_c"></span></br>
            <span class="constru_service">Cabinetry \ Countertop \ Flooring \ Paint \ Water & Electricity</span></br>
            <span class="service_area"><span class="glyphicon glyphicon-map-marker"></span> SOUTH BAY, SAN JOSE</span>
          </div>
        </li>
        <li>
          <div class="each_constru">
            <span class="title_e">顺利装修</span><span class="title_c"></span></br>
            <span class="constru_service">Cabinetry \ Countertop \ Flooring \ Paint \ Water & Electricity</span></br>
            <span class="service_area"><span class="glyphicon glyphicon-map-marker"></span> SAN JOSE, FREMONT, SOUTH BAY</span>
          </div>
        </li>
        <li>
          <div class="each_constru">
            <span class="title_e">张星军师傅</span><span class="title_c"></span></br>
            <span class="constru_service">Cabinetry \ Countertop \ Flooring \ Paint \ Water & Electricity</span></br>
            <span class="service_area"><span class="glyphicon glyphicon-map-marker"></span> SANTA CLARA, SOUTH BAY</span>
          </div>
        </li>
        <li>
          <div class="each_constru">
            <span class="title_e">Topcon Construction</span><span class="title_c">顶建建筑装潢公司</span></br>
            <span class="constru_service">Cabinetry \ Countertop \ Flooring \ Paint \ Water & Electricity</span></br>
            <span class="service_area"><span class="glyphicon glyphicon-map-marker"></span> BAY AREA</span>
          </div>
        </li>
        <li>
          <div class="each_constru">
            <span class="title_e">Cheng</span><span class="title_c">成</span></br>
            <span class="constru_service">Cabinetry \ Countertop \ Flooring \ Paint \ Water & Electricity</span></br>
            <span class="service_area"><span class="glyphicon glyphicon-map-marker"></span> SAN FRANCISCO</span>
          </div>
        </li>



      </ul>
    </div>

   
  </div>
<div class="bottom_space"></div>
</div>
{%include file="$root/template/common/footer.html"%}
</body>
</html>

