@font-face {
  		font-family: 'Avenir LT 45 Book';
  		src: url('webfont.eot'); /* IE9 Compat Modes */
  		src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
        url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
        url('../font/Avenir LT 45 Book.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  		font-family: 'Avenir LT 95 Black';
  		src: url('webfont.eotx'); /* IE9 Compat Modes */
  		src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
        url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
        url('../font/Avenir LT 95 Black.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  		font-family: 'Avenir LT 35 Light';
  		src: url('webfont.eot'); /* IE9 Compat Modes */
  		src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
        url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
        url('../font/Avenir LT 35 Light.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  		font-family: 'Microsoft YaHei';
  		src: url('webfont.eot'); /* IE9 Compat Modes */
  		src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
        url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
        url('../font/msyh.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  		font-family: 'NotoSansHans-Bold';
  		src: url('webfont.eot'); /* IE9 Compat Modes */
  		src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
        url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
        url('../font/NotoSansHans-Bold.otf')  format('truetype'), /* Safari, Android, iOS */
        url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  		font-family: 'NotoSansHans-Regular';
  		src: url('webfont.eot'); /* IE9 Compat Modes */
  		src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
        url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
        url('../font/NotoSansHans-Regular.otf')  format('truetype'), /* Safari, Android, iOS */
        url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  		font-family: 'NotoSansHans-Light';
  		src: url('webfont.eot'); /* IE9 Compat Modes */
  		src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
        url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
        url('../font/NotoSansHans-Light.otf')  format('truetype'), /* Safari, Android, iOS */
        url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
      font-family: 'Hanyi';
      src: url('webfont.eot'); /* IE9 Compat Modes */
      src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
        url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
        url('../font/hanyi.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
      font-family: 'Hanyi';
      src: url('webfont.eot'); /* IE9 Compat Modes */
      src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
        url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
        url('../font/dongqingW3.otf')  format('truetype'), /* Safari, Android, iOS */
        url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
      font-family: 'PingFang ExtraLight';
      src: url('webfont.eot'); /* IE9 Compat Modes */
      src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
        url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
        url('../font/PingFang ExtraLight.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

html{
  margin: 0;
}
body{
  margin: 0;
  position: relative;
  padding-bottom: 200px;
  width: 100%;
  background-color: #ebebeb !important;
  font-family:"Hanyi",Arial,Helvetica,sans-serif,"宋体";
}

li{
	list-style-type:none;
}
a{
	text-decoration: none !important;
	color: #343434;
}
img{
  display: block;
  max-width: 100%;
  height: auto;
}
button:focus{
  outline: 0;
}
input{
  outline: 0;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: rgba(126, 239, 104, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
  outline: 0 none;
}
.blank_150{
	width: 100%;
	height: 150px;
}
.blank_100{
	width: 100%;
	height: 100px;
}
.blank_60{
	width: 100%;
	height: 60px;
}
#body{
   min-height: 100vh;
   width: 100%;
   background-color: #ebebeb;
   padding-top: 80px;
   padding-bottom: 50px;
   border: 0px solid red;
}
#body_dash{
   background-color: #ebebeb;
}
#container{
   width:1280px;
   margin-left: auto;
   margin-right: auto;
   border: 0px solid green;
}
#admin_main{
	display: inline-block;
	vertical-align: top;
	margin-top: 52px;
	min-width: 960px;
	min-height: 600px;
	margin-left: 220px;
	padding-left: 40px;
	padding-right: 40px;
	border: 0px solid grey;
	border-left: 1px solid #bcbcbc;
	padding-bottom: 100px;
}
#admin_content{
	border: 0px solid red;
	min-width: 960px;
	height:auto;
	margin-top: 40px;
}


/*导航栏 navigation bar*/

#navtop{
	padding-right: 10px;
	/*
	width:100%;
	height:52px !important;
	z-index: 999;
	*/
}

#nav_logo{
	padding-top: 12px;
	width: 136px;
	margin-left: 30px;
	display: inline-block;
	vertical-align: top;
}
.nav_option{
	font-size: 15px !important;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	color: #fff;
}
.nav_option:hover{
	color: orange;
}
.choose{
	color: #f8a041;
}
#nav_sign_signin{
	width: 100px;
	border-radius: 50px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	border: 1px solid orange;
	color: orange;
	font-size: 15px;
}
@media only screen and (max-width: 767px) {
	.nav_option, #nav_sign_signin{
		margin-left: 30px;
	}
}
/*
#nav_link1{
  border:0px solid red;
  display: inline-block;
  vertical-align: top;
  float: right;
  padding-right: 40px;
}
#nav_link2{
  border:0px solid red;
  display: inline-block;
  vertical-align: top;
  float: right;
}
#nav_account{
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  margin-left: 20px;
  width: 40px;
  height: 40px;
}
#accountName{
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
  margin-left: 10px;
  border: 0px solid red;
}
*/

/*侧边栏 sidebar*/
#sidebar_message{
	background-color: #e20909;
	color: #fff;
	width: 22px;
	height: 12px;
	border-radius: 50px;
	position: absolute;
	margin-left: 156px;
	margin-top: 0px;
	z-index: 90;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 8px;
	font-size: 12px;
}
#sidebar_reddot{
	background-color: #e20909;
	color: #fff;
	width: 8px;
	height: 8px;
	border-radius: 50px;
	position: absolute;
	margin-left: 140px;
	margin-top: 0px;
	z-index: 90;
}
.admin_sidebar{
	width:220px;
	margin-top: 61px;
	display: inline-block;
	vertical-align: top;
	padding-bottom: 50px;
	position: absolute;
	left: 0
}
#userPic{
	width:100px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}
#userName{
	margin-top: 20px;
	text-align: center;
	margin-bottom: 10px; 
	color: #383838;
}
#userTitle{
	text-align: center;
	font-size: 14px;
	color: #9b9b9d;
}
#admin_sidebar_gapline{
	height:1px;
	width:200px;
	background-color: #bcbcbc;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
}
#admin_menu{
	margin-top: 10px;
}

.admin_button{
	display: block;
	border-left:6px solid #ebebeb;
	height:30px;
	padding-top: 10px;
	text-align: center;
	margin-top: 20px;
	color: #676769;
}
.admin_button:hover{
	border-left:6px solid #f8a041;
}

/*底边栏 footer*/
#bottombar{
	height:200px;
	background-color: #ebebeb;
  border-top: 1px solid #d5d5d5;
	z-index: 2;
	position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
/*    padding-bottom: 1rem;*/
}
.bottom_content{
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Avenir LT 45 Book';
	color: #444444;
}
.bottom_link{
	width: 96%;
	height:auto;
	border: 0px solid red;
	margin-top: 40px;
	margin-bottom: 50px;
}
.bottom_link_line{
	margin-top: 16px;
	border: 0px solid red;
	display: inline-block;
	vertical-align: top;
}
.bottom_list{
	line-height: 2.5;
	font-size: 14px;
}
#footer_logo{
	display: inline-block;
	vertical-align: top;
	height: 120px;
	width: 400px;
}
#footer_partner{
	display: block;
}
.bottom_blank{
	width:6%;
	height:10px;
	vertical-align: top;
	display: inline-block;
}

/*页码*/
#page_body{
	margin-top: 10px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	right: 0;
	left: 0;
}
#page_all{
	font-size: 14px;
}
.page_display{
	display: inline-block;
	vertical-align: top;
	border: 0px solid red;
	background-color: #a6ceed;
	padding: 8px;
	margin: 6px;
	color: #fff !important;
}
.page_display_choose{
	display: inline-block;
	vertical-align: top;
	border: 0px solid red;
	background-color: #499ad8;
	padding: 8px;
	margin: 6px;
	color: #fff !important;
}

/*系统消息*/
#system_message{
	border-radius:6px;
	width: 100%;
	height: 88px;
	border: 1px solid #d5d5d5;
	background-color: #fff;
	margin-bottom: 12px;
}
#message_pic{
	width: 80px;
	height: 60px;
	margin-top: 14px;
	margin-left: 16px;
	display: inline-block;
	vertical-align: top;
}
#message_main{
	border: 0px solid red;
	display: inline-block;
	vertical-align: top;
	width: 400px;
	margin-top: 16px;
	margin-left: 20px;
}
#message_time{
	font-size: 14px;
	color: #afafaf;
}
#message_content{
	font-size: 15px;
	margin-top: 12px;
}
#message_gapline{
	width: 100%;
	height: 1px;
	background-color: #d5d5d5;
	margin-top: 40px;
}
#message_gapline_title{
	font-size: 12px;
	color: #bababa;
	text-align: center;
	margin-top:-10px;
	width: 80px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ebebeb;
	border: 0px solid red;
	margin-bottom: 30px; 
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}