@font-face {
  		font-family: 'Hiragino Sans GB W3';
  		src: url('webfont.eot'); /* IE9 Compat Modes */
  		src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../font/Hiragino Sans GB W3.otf')  format('truetype'), /* Safari, Android, iOS */
        url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
      font-family: 'Hanyi';
      src: url('webfont.eot'); /* IE9 Compat Modes */
      src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../font/dongqingW3.otf')  format('truetype'), /* Safari, Android, iOS */
        url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
      font-family: 'PingFang ExtraLight';
      src: url('webfont.eot'); /* IE9 Compat Modes */
      src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../font/PingFangExtraLight.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
      font-family: 'NotoSansHans-Medium';
      src: url('webfont.eot'); /* IE9 Compat Modes */
      src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../font/NotoSansHans-Medium.otf')  format('truetype'), /* Safari, Android, iOS */
        url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  		font-family: 'Avenir LT 95 Black';
  		src: url('webfont.eotx'); /* IE9 Compat Modes */
  		src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../font/Avenir LT 95 Black.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  		font-family: 'Avenir LT 35 Light';
  		src: url('webfont.eot'); /* IE9 Compat Modes */
  		src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../font/Avenir LT 35 Light.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
      font-family: 'Hero Light';
      src: url('webfont.eot'); /* IE9 Compat Modes */
      src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../font/Hero Light.otf')  format('truetype'), /* Safari, Android, iOS */
        url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  		font-family: 'mixolydian Light';
  		src: url('webfont.eot'); /* IE9 Compat Modes */
  		src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../font/mixolydiantitlingul.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}
body{
  margin: 0;
  position: relative;
  width: 100%;
  background-color: #ebebeb !important;
  font-family:'Avenir LT 45 Book', Arial,Helvetica,sans-serif,"宋体";
}
img{
  display: block;
  max-width: 100%;
  height: auto;
}
a:focus{
	text-decoration: none;
}
a:active{
	text-decoration: none;
}
a:visited{
	text-decoration: none;
}
#index_body{
  min-height: 100vh;
  background-color: #fff;
  padding-bottom: 50px;
}
#body_design{
   min-height: 100vh;
   width: 100%;
   background-color: #ebebeb;
   margin-top: 80px;
   padding-bottom: 100px;
   border: 0px solid red;
}
#container{
   width:1280px;
   margin-left: auto;
   margin-right: auto;
   border: 0px solid green;
}

/*按钮button*/
.button_orange{
  width: 120px;
  height: 40px;
  text-align: center;
  background-color: #FF6500;
  color: #fff;
  border-radius: 4px;
  line-height: 40px;
  font-size: 14px;
  display: block;
}
.button_orange:hover{
  background-color: #FF7F2A;
  color: #fff;
}
.button_orange:focus{
  background-color: #E15900;
  color: #fff;
}
.button_orange_input{
  width: 120px;
  height: 40px;
  text-align: center;
  background-color: #FF6500;
  color: #fff;
  border-radius: 4px;
  border: none;
  font-size: 14px;
}
.button_orange_input:hover{
  background-color: #FF7F2A;
  color: #fff;
}
.button_orange_input:focus{
  background-color: #E15900;
  color: #fff;
  outline: none;
}
.button_dark{
  width: 120px;
  height: 40px;
  text-align: center;
  background-color: #54554F;
  color: #fff;
  border-radius: 4px;
  line-height: 40px;
  font-size: 14px;
  display: block;
}
.button_dark:hover{
  background-color: #777970;
  color: #fff;
}
.button_dark:focus{
  background-color: #40413B;
  color: #fff;
}
.button_dark_input{
  width: 120px;
  height: 40px;
  text-align: center;
  background-color: #54554F;
  color: #fff;
  border-radius: 4px;
  border: none;
  font-size: 14px;
}
.button_dark_input:hover{
  background-color: #777970;
  color: #fff;
}
.button_dark_input:focus{
  background-color: #40413B;
  color: #fff;
  outline: none;
}
.button_light{
  width: 120px;
  height: 40px;
  text-align: center;
  background-color: #959A9E;
  color: #fff;
  border-radius: 4px;
  line-height: 40px;
  font-size: 14px;
  display: block;
}
.button_light:hover{
  background-color: #B1B7BD;
  color: #fff;
}
.button_light:focus{
  background-color: #6B6F73;
  color: #fff;
}
.button_light_input{
  width: 120px;
  height: 40px;
  text-align: center;
  background-color: #959A9E;
  color: #fff;
  border-radius: 4px;
  border: none;
  font-size: 14px;
}
.button_light_input:hover{
  background-color: #B1B7BD;
  color: #fff;
}
.button_light_input:focus{
  background-color: #6B6F73;
  color: #fff;
  outline: none;
}
.button_blue{
  width: 120px;
  height: 40px;
  text-align: center;
  background-color: #73A3EC;
  color: #fff;
  border-radius: 4px;
  line-height: 40px;
  font-size: 14px;
  display: block;
}
.button_blue:hover{
  background-color: #A3C7F4;
  color: #fff;
}
.button_blue:focus{
  background-color: #5783C7;
  color: #fff;
}
.button_blue_input{
  width: 120px;
  height: 40px;
  text-align: center;
  background-color: #73A3EC;
  color: #fff;
  border-radius: 4px;
  border: none;
  font-size: 14px;
}
.button_blue_input:hover{
  background-color: #A3C7F4;
  color: #fff;
}
.button_blue_input:focus{
  background-color: #5783C7;
  color: #fff;
  outline: none;
}


/*导航栏 navigation bar*/
#navtop{
  padding-right: 100px;
  border: 0px solid red;
  background-color: rgba(5,5,5,1);
  /*
  width:100%;
  height:52px !important;
  z-index: 999;
  */
}

#nav_logo{
  padding-top: 14px;
  width: 160px;
  margin-left: 30px;
  display: inline-block;
  vertical-align: top;
}
.nav_option{
  font-size: 14px !important;
  display: inline-block;
  vertical-align:top;
  text-align: center !important;
  color: #fff !important;
  margin-top: 10px;
  padding-top: 6px !important;
  padding-left: 9px !important;
  padding-right: 9px !important;
  border: 1px solid #fff;
  height: 30px;
  border-radius: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
.nav_option:hover{
  background-color: #FF6500 !important;
  border: 1px solid #FF6500;
}
.choose{
  color: #f8a041;
}
#nav_sign_signin{
  height: 30px;
  border-radius: 50px;
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  padding-top: 6px;
  text-align: center;
  border: 1px solid #FF6500;
  color:#FF6500;
  font-size: 14px;
  padding-left: 14px;
  padding-right: 14px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Avenir LT 45 Book';
}
@media only screen and (max-width: 767px) {
  .nav_option, #nav_sign_signin{
    margin-left: 30px;
  }
}