<!DOCTYPE html>
<html>
<head>
  <title>Wow Kitchen & Bath</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../common/css/common.css">
  <link rel="stylesheet" type="text/css" href="../../page/page.css">
</head>
<body>
  {%include file="$root/templete/common/navbar.html"%}


<div id="body">
  <div id="container">
    <div class="design_main">
      <div class="design_main_content">
            <div class="productLink">
              <a href="index.html">主页</a>/
              <a href="designs.html">设计</a>/
              美式厨房设计
            </div>
            <a href="#"><div class="design_main_button">查看细节</div></a>
              <img src="../../image/t1.jpg">
      </div>
    </div>


      <div class="sidebar_right">
        <div class="design_sub_content">
       
        <div class="design_main_title">美式厨房设计
          <div class="design_main_subtitle">
            <img class="subtitle_icon1" src="../..//image/see.png">
            <div class="icon_title">234</div>
            <img class="subtitle_icon2" src="../../image/like.png">
            <div class="icon_title">12</div>
          </div>
        </div>
                 <div class="sub_gapline"></div>
         <button class="buyButton">开始定制</button>
         <a id="collect" href="#">加入收藏</a>
         <div class="sub_gapline"></div>
         <div class="productIntro_detail">
              设计详情：</br></br>
              采用高端木质材料，外观简洁大方，美式风格
         </div>
        </div>
      </div>
  </div>
</div>

{%include file="$root/templete/common/footer.html"%}

</body>
</html>