<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>wowkb.com</title>
<link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
<link rel="stylesheet" type="text/css" href="../../../template/common/css/common.css">
<link rel="stylesheet" type="text/css" href="/account/css/login.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<link rel="stylesheet" href="/account/css/login_signup.css">
</head>
<body>
{%include file="$root/template/common/navbar.html"%}


<div class="container">
    	<div class="login_box">
			
				<div class="panel_style">
					<div class="panel-heading">
						<div class="row sign_label">
							<div class="col-xs-6">
								<a href="/account/account.php?act=login" id="login-form-link" class="sign_unchoose">登&nbsp;录</a>
							</div>
							<div class="col-xs-6">
								<a href="#"  class="sign_choose"  id="register-form-link">注&nbsp;册</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
							
								<form id="login-form" action="/account/account.php?act=login" method="post" role="form" style="display: none;">
									<div class="form-group">
									{%if !empty($error_msg)%}
										<p><font color="red">{%$error_msg%} </font></p>
									{%/if%}
									</div>
									<div class="form-group">
										<input type="text" name="email" id="email" tabindex="1" class="form-control form_style" placeholder="用户EMAIL" value="" required>
									</div>
									<div class="form-group">
										<input type="password" name="password" id="password" tabindex="2" class="form-control form_style" placeholder="密码" required>
									</div>
									<div class="form-group text-center">
										<input type="checkbox" tabindex="3" class="" name="remember" id="remember">
										<label for="remember">记住我</label>
									</div>
								<div id="bottom_button">
									<div class="form-group">
										<div class="row">
											<div class="">
												<input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn sign_button_style" value="登&nbsp;录">
											</div>
										</div>
									</div>
									<div class="form-group forgot_button">
										<div class="row">
											<div class="">
												<div class="text-center">
													<a href="" tabindex="5" class="forgot_detail">忘记密码</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								</form>
								<form id="register-form" action="/account/account.php?act=signup" method="post" role="form" style="display: block;">
									<div class="form-group">
										用户类型: 
										<label class="radio-inline"><input type="radio" name="account_type" value="user">普通用户</label>
										<label class="radio-inline"><input type="radio" name="account_type" value="designer">设计师</label>
										<label class="radio-inline"><input type="radio" name="account_type" value="supplier">供应商</label>
										<label class="radio-inline"><input type="radio" name="account_type" value="constructor">施工商</label>
										<label class="radio-inline"><input type="radio" name="account_type" value="admin">管理员</label>
									</div>
									<div class="form-group">
										用户名: <input type="text" name="username" id="username" tabindex="1" class="form-control form_style" placeholder="" value="" required>
									</div>
									<div class="form-group">
										Email: <input type="email" name="email" id="email" tabindex="1" class="form-control form_style" placeholder="" value="" required>
									</div>
									<div class="form-group">
										密码: <input type="password" name="password" id="password" tabindex="2" class="form-control form_style" placeholder="" required>
									</div>
									
									
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn  sign_button_style" value="马上注册">
											</div>
										</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			
		</div>
	</div>
<!-- {%include file="$root/template/common/footer.html"%}
	 -->
<!--<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>-->
<!-- Latest compiled and minified JavaScript -->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
<script src="/js/jquery-1.11.3.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<script src="/account/js/login_signup.js"></script>
</body>
</html>