<!DOCTYPE html>
<html>
<head>
  <title>Wow Kitchen & Bath</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../../../template/common/css/common.css">
  <link rel="stylesheet" type="text/css" href="../../css/return.css">
  <link rel="stylesheet" type="text/css" href="../../../page/css/page.css">
</head>
<body>
{%include file="$root/template/common/navbar.html"%}

<div id="body">

<div id="single_window">
	<div id="single_window_title">退换货条款</div>
	<div id="single_window_content">
		• Absolutely NO RETURN/EXCHANGE on any assembled, modified, and/or altered Cabinets, Panels, Special Orders or accessories.</br></br>
 • Absolutely NO RETURN/EXCHANGE on Sinks, Handles, Accessories, etc.</br></br>
 • Cabinets may be returned or exchanged, within 10 days of receiving merchandise, ONLY if they are in their original factory container and in re-saleable condition. Absolutely NO RETURNS/EXCHANGES after 10 days of delivery. The original invoice must accompany the merchandise along with the Merchandise Return Form (MRF). NO EXCEPTIONS.</br></br>
 • A 25% restocking fee will be charged for any returned/exchanged items. Customer will receive credit at the time the merchandise is returned.</br></br>
 • PLEASE CAREFULLY CHECK YOUR ORDER AT THE TIME OF PICK UP FOR ANY MISSING ITEMS. www.GrandJK.com Grand J&K Corp.</br></br>
 • Grand J&K Corp. is not responsible for lost items or items not included on the invoice. Please confirm that your invoice is complete at the time you place an order

	</div>
	<div id="single_window_select">
		<input id="toggle" type="checkbox">
		同意以上条款
	</div>
	<a href=""><div id="single_window_button">下一步
	</div></a>
</div>

</div>

{%include file="$root/templete/common/footer.html"%}
</body>
</html>