<!DOCTYPE html>
<html>
<head>
  <title>Wow Kitchen & Bath</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../../../template/common/css/common.css">
  <link rel="stylesheet" type="text/css" href="../../css/return.css">
  <link rel="stylesheet" type="text/css" href="../../../page/css/page.css">

</head>
<body>
{%include file="$root/template/common/navbar.html"%}

<div id="body">

<div id="single_window">
	<div id="single_window_title">填写您要退换货的原因</div>
	
  <textarea id="single_window_text"></textarea>

	<a href=""><div id="single_window_button">下一步</div></a>
</div>

</div>

{%include file="$root/templete/common/footer.html"%}
</body>
</html>