<!DOCTYPE html>
<html>
<head>
  <title>Wow Kitchen & Bath</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../../../template/common/css/common.css">
  <link rel="stylesheet" type="text/css" href="../../css/return.css">
  <link rel="stylesheet" type="text/css" href="../../../page/css/page.css">
</head>
<body>
{%include file="$root/template/common/navbar.html"%}

<div id="body">

<div id="single_window">
	<div id="single_window_title">选择您要退换货的商品</div>
	<div id="single_window_table">
     <table id="productList">
        <tr>
          <th>图片</th>
          <th>名称</th>
          <th>品牌</th>
          <th>编号</th>
          <th>颜色</th>
          <th>数量</th>
          <th>价格</th>
          <th>换货</th>
          <th>退货</th>         
        </tr>
        <tr>
          <td><img id="product_pic" src="../../image/p1.png"></td>
          <td>Creme Maple Glazed</td>
          <td>JK</td>
          <td>B-09R</td>
          <td>白色</td>
          <td>5</td>
          <td>$114</td>
          <td><input id="toggle" type="checkbox"></td>
          <td><input id="toggle" type="checkbox"></td>
        </tr>
        <tr>
          <td><img id="product_pic" src="../../image/p2.png"></td>
          <td>Creme Maple Glazed</td>
          <td>JK</td>
          <td>B-09R</td>
          <td>黑色</td>
          <td>2</td>
          <td>$114</td>
          <td><input id="toggle" type="checkbox"></td>
          <td><input id="toggle" type="checkbox"></td>
        </tr>
        <tr>
          <td><img id="product_pic" src="../../image/p2.png"></td>
          <td>Creme Maple Glazed</td>
          <td>JK</td>
          <td>B-09R</td>
          <td>黑色</td>
          <td>6</td>
          <td>$114</td>
          <td><input id="toggle" type="checkbox"></td>
          <td><input id="toggle" type="checkbox"></td>
        </tr>
        <tr>
          <td><img id="product_pic" src="../../image/p2.png"></td>
          <td>Creme Maple Glazed</td>
          <td>JK</td>
          <td>B-09R</td>
          <td>黑色</td>
          <td>8</td>
          <td>$114</td>
          <td><input id="toggle" type="checkbox"></td>
          <td><input id="toggle" type="checkbox"></td>
        </tr>

      </table>
		
	</div>

	<a href=""><div id="single_window_button">下一步</div></a>
</div>

</div>

{%include file="$root/templete/common/footer.html"%}
</body>
</html>