body{
	margin: 0;
}
li{
	list-style-type:none;
}
a{
	text-decoration: none;
}

/*The wireframe of index page*/



.blank_150{
	width: 100%;
	height: 150px;
}
.blank_100{
	width: 100%;
	height: 100px;
}
.blank_60{
	width: 100%;
	height: 60px;
}

/*navigation bar*/
#navbar{
	width:100%;
	height:60px;
	border:0px solid red;
	position: fixed;
	background-color: #fff;
	border-bottom: 1px solid #ebebeb;
	z-index: 2;
}
#nav_logo{
	height:34px;
	width: 280px;
	padding-top: 10px;
	margin-left: 20px;
	display: inline-block;
	vertical-align: top;
}
#nav_logo_pic{
	width: 100%;
	height: 100%;
}
#nav_sign{
	width:300px;
	height:55px;
	margin-left: 50%;
	border: 0px solid red;
	display: inline-block;
	vertical-align: top;
}
#nav_register{
	width:40%;
	height:40px;
	border: 0px solid red;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	padding-top: 20px;
	color: orange;
}
#nav_signup{
	width: 100px;
	height:41px;
	background-color: #97ccf7;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	padding-top: 20px;
	color: #fff;
}

/*header*/
#header{
	padding-top: 60px;
	width:100%;
	height:500px;
	border:0px solid green;
}
#header_title{
	height:60%;
	width: 40%;
	border: 0px solid red;
	margin-left: 7.5%;
/*	margin-right: auto;*/
	margin-top:80px;
	position: absolute;
	z-index: 1;
}
#header_img{
	width: 100%;
	height: 100%;
}
#header_bg{
	position: relative;
	z-index: -1;
}
#header_titlet{
	font-size: 4.5em;
	font-family: 'Avenir LT 95 Black';
	color: #fff;
	line-height: 90%;
}
#header_titlep{
	font-size: 18px;
	color: #fff;
	font-family:'Avenir LT 35 Light'; 
	margin-top: 20px;
	line-height: 1.3;
}
#header_titleb{
	width: 160px;
	height:35px;
	margin-top: 40px;
	border-radius: 5px;
	text-align: center;
	padding-top: 10px;
	color: orange;
	border: 2px solid orange;
	font-family: 'Avenir LT 45 Book';
}
#header_titleb:hover{
	border: 1px solid orange;
	color: #fff;
	background-color: orange;
}

/*introduction*/
#introduction{
	width:100%;
	height:200px;
	border:0px solid blue;
	background-color: #ebebeb;
}
#intro_content{
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}
#intro_t{
	width:30%;
	height:80%;
	border: 0px solid red;
	display: inline-block;
	font-size: 24px;
	vertical-align: top;
	margin-top: 50px;
	font-family: 'Avenir LT 95 Black';
	color: #97ccf7;
}
#intro_p{
	width:65%;
	height:80%;
	border: 0px solid blue;
	display: inline-block;
	vertical-align: top;
	font-family:'Avenir LT 45 Book';
	margin-top: 50px;
	line-height: 2;
	color: #585858;
}

/*service and intro*/
#service_intro{
	width: 85%;
	height:auto;
	margin-left: auto;
	margin-right: auto;
	border:0px solid red;
}
.service_row_blank{
	width:3%;
	display: inline-block;
	vertical-align: top;
}
#service_left{
	border: 0px solid red;
	width:300px;
}
.service_intro_pic{
	width: 100%;
	height: 100%;
}
.service_pic{
	width:50%;
	height:290px;
	display: inline-block;
	vertical-align: top;
	border: 0px solid red;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.service_word{
	width: 45%;
	height:auto;
	display: inline-block;
	vertical-align: top;
	border: 0px solid green;
	text-align: center;
}
.service_wordt{
	font-family:'Avenir LT 45 Book';
    font-size: 2em;
    color: #444444;
}
.service_wordp{
	margin-top: 50px;
	font-family:'Avenir LT 45 Book';
	line-height: 2;
	color: #585858;
}
.service_button{
	margin-left: auto;
	margin-right: auto;
	width: 160px;
	height:35px;
	margin-top: 40px;
	border-radius: 5px;
	background-color: #97ccf7;
	border: 2px solid #97ccf7;
	text-align: center;
	padding-top: 10px;
	color: #fff;
	font-family: 'Avenir LT 45 Book';
}
.service_button:hover{
	background-color: #fff;
	border: 2px solid #97ccf7;
	color: #97ccf7;
}

/*process and price*/
#process_price{
	width: 100%;
	height:auto;
	margin-left: auto;
	margin-right: auto;
	border:0px solid green;
	background-color: #ebebeb;
}
#process{
	width: 85%;
	height:auto;
	margin-left: auto;
	margin-right: auto;
	border: 0px solid red;
}
#process_title{
	text-align: center;
	font-family:'Avenir LT 45 Book';
	font-size: 2em;
}
.process_step{
	width: 24%;
	height:auto;
	border: 0px solid red;
	display: inline-block;
	vertical-align: top;
}
.process_icon{
	width: 60px;
	padding-left: 38%;
}
.process_icon_pic{
	width: 100%;
	height: 100%;
}
.process_descript{
	margin-top: 20px;
	text-align: center;
	font-family:'Avenir LT 45 Book';
	color: #585858;
}
#price{
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.price_box{
	width: 30%;
	min-width: 300px;
	height:500px;
	border: 0px solid red;
	display: inline-block;
	vertical-align: top;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.price_box_title{
	font-family: 'Avenir LT 45 Book';
	font-size: 1.2em;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: grey;
	color: #fff;
}
.price_box_blank{
	width: 2%;
	height:100px;
	display: inline-block;
	vertical-align: top;
}
.price_box_price1{
	margin-top: 20px;
	font-family: 'Avenir LT 95 Black';
	font-size: 1.8em;
	color: orange;
}
.price_box_price2{
	margin-top: 30px;
	margin-bottom: 24px;
	font-family: 'Avenir LT 45 Book';
	font-size: 1em;
	color: orange;
}
.price_box_list{
	margin-top: 20px;
	font-family: 'Avenir LT 45 Book';
	line-height: 2.5;
	border: 0px solid red;
    margin-left: -30px;
    color: #585858;
}
#price_little{
	font-family: 'Avenir LT 45 Book';
	font-size: 12px;
	color: grey;
}
.price_box_button{
	margin-left: auto;
	margin-right: auto;
	width: 160px;
	height:35px;
	margin-top: 40px;
	border-radius: 5px;
	background-color: #97ccf7;
	text-align: center;
	padding-top: 10px;
	color: #fff;
	font-family: 'Avenir LT 45 Book';
}
/*bottom bar*/
#bottombar{
	width: 100%;
	height:auto;
	border: 1px solid grey;
	background-color: grey;
}
.bottom_content{
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Avenir LT 45 Book';
	color: #444444;
}
.bottom_link{
	width: 60%;
	height:auto;
	border: 0px solid red;
	margin-top: 50px;
	margin-bottom: 50px;
}
.bottom_link_line{
	display: inline-block;
	vertical-align: top;
}
.bottom_list{
	line-height: 2;
	font-size: 14px;
}
.bottom_blank{
	width:40px;
	height:10px;
	vertical-align: top;
	display: inline-block;
}


