<!DOCTYPE html>
<html>
<head>
  <title>Wow Kitchen & Bath</title>
  <link rel="shortcut icon" type="image/x-icon" href="../../../image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../../../template/common/css/common.css">
  <link rel="stylesheet" type="text/css" href="../../../template/common/css/chat.css">
  <link rel="stylesheet" type="text/css" href="/page/css/page.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<script type="text/javascript">
$(document).ready(function(){
  // pause   
      $("#myCarousel").carousel('pause');
});
</script>
<body>
  {%include file="$root/template/common/navbar.html"%}


<div id="chatbox">
  <div id="chat_nav">
    <div id="chat_title">聊天（2）</div>
    <a href="#"><div id="chat_original">&#8593</div></a>
    <a href="#"><div id="chat_compact">&#8211</div></a>
    <a href="#"><div id="chat_close">&#10005</div></a> 
  </div>

  <div id="chat_sidebar">
    <ul class="chat_sidebar_main">
      <li id="user1">
        <div class="chat_sidebar_pic">
          <img src="../../image/head.png">
        </div>
        <div class="chat_sidebar_name">
          <strong>user1111</strong>
        </div>
      </li>
      <li class="chat_choose" id="user2">
        <div class="chat_sidebar_pic">
          <img src="../../image/head.png">
        </div>
        <div class="chat_sidebar_name">
          user222
        </div>
      </li>
      <li id="user3">
        <div class="chat_sidebar_pic">
          <img src="../../image/head.png">
        </div>
        <div class="chat_sidebar_name">
          user333
        </div>
      </li>
    </ul>
  </div>

<!-- user1 -->
<div class="chat_rightmain" id="chat_user1">
  <div id="chat_main">
<!-- 左边的聊天内容 -->
    <div class="chat_chat chat_left">
      <!-- 头像 -->
      <div class="chat_pic">
        <img src="../../image/head.png">
      </div>

      <div class="chat_content content_left">
        <!-- 聊天框及内容 -->
        <div class="chat_content_message">
          <i class="arrow-left"></i>
          <!-- 聊天发送的图片 -->
          <div class="chat_content_pic">
            <img src="../../image/t2.jpg">
          </div>
          <!-- 聊天发送的文字 -->
          <div class="chat_content_word">Hello!!user11111sfbsdkjfbskjb sfsfbsdkjfbskjb sfsfbsdkjfbskjb
          </div>     
        </div>
        <!-- 用户名及时间 -->
        <div class="chat_info info_left">XXX at 03/15/2017 12:09pm</div>
      </div>     
    </div><!-- chat_left -->


<!-- 右边的聊天内容 -->
    <div class="chat_chat chat_right">

      <div class="chat_content content_right">
        <!-- 聊天框及内容 -->
        <div class="chat_content_message message_right">
          <i class="arrow-right"></i>
          <!-- 聊天发送的图片 -->
          <div class="chat_content_pic">
            <img src="../../image/t2.jpg">
          </div>
          <!-- 聊天发送的文字 -->
          <div class="chat_content_word">
            ddd
          </div>     
        </div>
        <!-- 用户名及时间 -->
        <div class="chat_info info_right">XXX at 03/15/2017 12:09pm</div>
      </div>

      <div class="chat_pic">
        <img src="../../image/head.png">
      </div>
    </div><!-- chat_right -->

  </div><!-- chat_main -->

  <div class="chat_footer">
    <textarea class="chat_textarea" placeholder="Type a message..." rows="1" cols="42" name="message"></textarea>
    <div id="chat_button">
      <a href=""><div class="chat_add_pic">添加图片</div></a>
      <div id="chat_key">Ctrl+Enter</div>
      <a href=""><div id="chat_send">发送</div></a>
    </div>
  </div>
</div><!-- chat_rightmain -->


<!-- user2 -->
<div class="chat_rightmain" id="chat_user2">
  <div id="chat_main">
<!-- 左边的聊天内容 -->
    <div class="chat_chat chat_left">
      <!-- 头像 -->
      <div class="chat_pic">
        <img src="../../image/head.png">
      </div>

      <div class="chat_content content_left">
        <!-- 聊天框及内容 -->
        <div class="chat_content_message">
          <i class="arrow-left"></i>
          <!-- 聊天发送的图片 -->
          <div class="chat_content_pic">
            <img src="../../image/t1.jpg">
          </div>
          <!-- 聊天发送的文字 -->
          <div class="chat_content_word">Hello!!!user2 
          22222 worldf sfsfbsdkjfbskjb sfsfbsdkjfbskjb sfsfbsdkjfbskjb
          </div>     
        </div>
        <!-- 用户名及时间 -->
        <div class="chat_info info_left">XXX at 03/15/2017 12:09pm</div>
      </div>     
    </div><!-- chat_left -->


<!-- 右边的聊天内容 -->
    <div class="chat_chat chat_right">

      <div class="chat_content content_right">
        <!-- 聊天框及内容 -->
        <div class="chat_content_message message_right">
          <i class="arrow-right"></i>
          <!-- 聊天发送的图片 -->
          <div class="chat_content_pic">
            <img src="../../image/t1.jpg">
          </div>
          <!-- 聊天发送的文字 -->
          <div class="chat_content_word">
            ddd
          </div>     
        </div>
        <!-- 用户名及时间 -->
        <div class="chat_info info_right">XXX at 03/15/2017 12:09pm</div>
      </div>

      <div class="chat_pic">
        <img src="../../image/head.png">
      </div>
    </div><!-- chat_right -->

  </div><!-- chat_main -->

  <div class="chat_footer">
    <textarea class="chat_textarea" placeholder="Type a message..." rows="1" cols="42" name="message"></textarea>
    <div id="chat_button">
      <a href=""><div class="chat_add_pic">添加图片</div></a>
      <div id="chat_key">Ctrl+Enter</div>
      <a href=""><div id="chat_send">发送</div></a>
    </div>
  </div>
</div><!-- chat_rightmain -->

</div><!-- chat_box -->



<div id="body">
  <div id="container">
    <div id="design_left">
    <div class="design_main">
      <div class="design_main_content">
            <div class="design_main_title">{%$res['title']|default:''%}</div>
          <div class="design_sub_icon">
            <img class="sub_icon1" src="../..//image/see.png">
            <div class="icon_title">239</div>
            <img class="sub_icon2" src="../../image/like.png">
            <div class="icon_title">120</div>
          </div>
          <a href="#"><div id="collect">加入收藏</div></a>  
<!--             <a href="#"><div class="design_main_button">查看细节</div></a> -->
              <img id="design_main_pic_img" src="{%$res['pic_path']|default:''%}">
              <div class="productIntro_detail">
                设计详情：</br></br>
                {%$res['description']|default:''%}
              </div>
      </div>
    </div>

    <div id="design_related">
      <div id="related_name">相关设计作品</div>
      <div id="related_content">
        {%foreach from=$product_zuopins key=k item=value %}
        <div class="related_content_project">
          <div id="related_pic"><img src="../../image/t1.jpg"></div>
          <div id="related_title">%$value['title']|default:''%}</div>
          <div id="related_price">XXX设计师</div>
        </div>
        {%/foreach%}     
      </div>
    </div>

  </div><!-- design_left -->



  <div id="side_right">
    <div class="sidebar_right">
        <div id="designer_float">
          <div class="design_sub_content">
            <div class="design_sub_pic">
              <img src="/image/head.png">
            </div>
            <div class="design_main_designer_intro">
              <div class="design_main_designer">设计师XXX</div>
              <div class="design_sidebar_button">
                  <div id="sidebar_chat">在线交流</div>
                  <div id="sidebar_follow">关注设计师</div>
              </div>
            </div>                         
        </div>
      </div>
      <div id="sidebar_right_price">预估报价：${%$res['final_sum']|default:''%}</div> 
      <a href="#"><div id="collect">加入收藏</div></a>    
      <div class="sidebar_gapline"></div>
      <button class="buyButton">开始定制</button>
    </div><!-- sidebar_right -->

      <div id="sidebar_use_product">
        <div id="sidebar_use_title">设计使用到的产品</div>
  <div id="sidebar_use_content">
  
  <div id="myCarousel" class="carousel slide" data-ride="carousel">

    <!-- Wrapper for slides -->
    <div class="carousel-inner use_product" role="listbox">

      <div class="item active">
          <a href="#"><div id="sidebar_use_pic">
            <img src="../../image/p1.png" alt="chair">
          </div></a>
          <a href="#"><div id="sidebar_use_name">XX白色橱柜</div></a>
          <div id="sidebar_use_brand">By wowkb</div>
          <div id="sidebar_use_price">$9999</div>
          <div id="sidebar_use_num">1/5</div>
      </div>

      <div class="item">
        <div id="sidebar_use_pic">
            <img src="../../image/p2.png" alt="chair">
          </div>
          <div id="sidebar_use_name">XX白色橱柜</div>
          <div id="sidebar_use_brand">By wowkb</div>
          <div id="sidebar_use_price">$9999</div>
          <div id="sidebar_use_num">2/5</div>
      </div>
    
      <div class="item">
        <div id="sidebar_use_pic">
            <img src="../../image/p3.png" alt="chair">
          </div>
          <div id="sidebar_use_name">XX白色橱柜</div>
          <div id="sidebar_use_brand">By wowkb</div>
          <div id="sidebar_use_price">$9999</div>
          <div id="sidebar_use_num">3/5</div>
      </div>

      <div class="item">
        <div id="sidebar_use_pic">
            <img src="../../image/p4.png" alt="chair">
          </div>
          <div id="sidebar_use_name">XX白色橱柜</div>
          <div id="sidebar_use_brand">By wowkb</div>
          <div id="sidebar_use_price">$9999</div>
          <div id="sidebar_use_num">4/5</div>
      </div>

      <div class="item">
        <div id="sidebar_use_pic">
            <img src="../../image/p5.png" alt="chair">
          </div>
          <div id="sidebar_use_name">XX白色橱柜</div>
          <div id="sidebar_use_brand">By wowkb</div>
          <div id="sidebar_use_price">$9999</div>
          <div id="sidebar_use_num">5/5</div>
      </div>
  
    </div>

    <!-- Left and right controls -->
    <a class="left use_product_control_left" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right use_product_control_right" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
      </div><!-- sidebar_use_content -->
  </div>

      <div class="sidebar_related">

          <div id="related_name_side">相关产品</div>

          <div id="related_content_side">

            {%foreach from=$zuopin_materials key=k item=value %}
            <div id="related_project_side">
              <a href="/page/view.php?act=product_detail&id={%$value['item_id']|default:''%}"><img id="related_project_pic" src="{%$value['pic_path']|default:''%}"></a>
              <div class="related_project_name">{%$value['brand']|default:''%}</div>
              <div class="related_project_brand">By wowkb</div>
              <div class="related_project_designer">${%$value['price']|default:''%}</div>
            </div>
            {%/foreach%}
          </div>
      </div>
    </div><!-- side_right -->
  </div><!-- container -->
</div><!-- body -->

{%include file="$root/template/common/footer.html"%}

<script type="text/javascript">

$(document).ready(function(){
  // pause   
      $("#myCarousel").carousel('pause');
});

  var chat = document.getElementById('chatbox');
  var button = document.getElementById('sidebar_chat');
  var close = document.getElementById('chat_close');
  button.onclick = function(){
    chat.style.display = "block";
  }
  close.onclick = function(){
    chat.style.display = "none";
  }
  var compact = document.getElementById('chat_compact')
  var chatbox = document.getElementById('chatbox')
  var original = document.getElementById('chat_original')

  compact.onclick = function(){
    chatbox.style.bottom = "-362px";
    compact.style.display= "none";
    original.style.display= "inline-block";
  }
  original.onclick = function(){
    chatbox.style.bottom = "0";
    original.style.display = "none";
    compact.style.display="inline-block";
  }


var user1= document.getElementById('user1');
var user2= document.getElementById('user2');
var chat_user1=document.getElementById('chat_user1');
var chat_user2=document.getElementById('chat_user2');

user1.onclick = function(){
  chat_user1.style.display = "inline-block";
  chat_user2.style.display = "none";
}
user2.onclick = function(){
  chat_user2.style.display = "inline-block";
  chat_user1.style.display = "none";
}
  </script>

</body>
</html>