<!DOCTYPE html>
<html>
<head>
  <title>Wow Kitchen & Bath</title>
  <link rel="shortcut icon" type="image/x-icon" href="../../../image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../../../template/common/css/common.css">
  <link rel="stylesheet" type="text/css" href="../../page/css/page.css">
  
</head>
<body>
  {%include file="$root/template/common/navbar.html"%}


<div id="body">
  <div id="container">
    <div id="design_left">
    <div class="design_main">
      <div class="design_main_content">
            <div class="productLink">
              <a href="index.html">主页</a>/
              <a href="designs.html">设计</a>/
              {%$res['title']|default:''%}
            </div>
        <!--     <a href="#"><div class="design_main_button">查看细节</div></a> -->
              <img src="{%$res['pic_path']|default:''%}">
      </div>
    </div>

    <div id="design_related">
      <div id="related_name">相关物料</div>
      <div id="related_content">
        <div class="related_content_project">
          <div id="related_pic"><img src="../../image/t1.jpg"></div>
          <div id="related_title">xx橱柜</div>
          <div id="related_price">$125</div>
        </div>
        <div class="related_content_project">
          <div id="related_pic"><img src="../../image/t2.jpg"></div>
          <div id="related_title">XXX水槽</div>
          <div id="related_price">$125</div>
        </div>
        <div class="related_content_project">
          <div id="related_pic"><img src="../../image/t3.jpg"></div>
          <div id="related_title">XXX冰箱</div>
          <div id="related_price">$125</div>
        </div>
        <div class="related_content_project">
          <div id="related_pic"><img src="../../image/p1.png"></div>
          <div id="related_title">XXX门板</div>
          <div id="related_price">$125</div>
        </div>
        <div class="related_content_project">
          <div id="related_pic"><img src="../../image/p2.png"></div>
          <div id="related_title">XXX浴室</div>
          <div id="related_price">$125</div>
        </div>      
      </div>
    </div>

  </div>

      <div class="sidebar_right">
        <div class="design_sub_content">
       
        <div class="design_main_title">{%$res['title']|default:''%}
          <div class="design_sub_icon">
            <img class="sub_icon1" src="../../../image/see.png">
            <div class="icon_title">234</div>
            <img class="sub_icon2" src="../../../image/like.png">
            <div class="icon_title">12</div>
             <a id="collect" href="#">加入收藏</a>
          </div>
        </div>
                 <div class="sub_gapline"></div>
          <div class="productIntro_detail">
              设计详情：</br></br>
              {%$res['description']|default:''%}
         </div>
       
        
         <div class="sub_gapline"></div>
        
           <button class="buyButton">预估报价：${%$res['final_sum']|default:''%}</button>
        </div>
      </div>
  </div>
</div>

{%include file="$root/template/common/footer.html"%}

</body>
</html>