<!DOCTYPE html>
<html>
<head>
  <title>Wow Kitchen & Bath</title>
  <link rel="shortcut icon" type="image/x-icon" href="/image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../../../template/common/css/common.css">
  <link rel="stylesheet" type="text/css" href="../../page/css/page.css">
  
</head>
<body>
  {%include file="$root/template/common/navbar.html"%}


<div id="body">
  <div id="container">
    <div class="design_main">
      <div class="design_main_content">
            <div class="productLink">
              <a href="index.html">主页</a>/
              <a href="designs.html">设计</a>/
              {%$res['title']|default:''%}
            </div>
        <!--     <a href="#"><div class="design_main_button">查看细节</div></a> -->
              <img src="{%$res['pic_path']|default:''%}">
      </div>
    </div>

      <div class="sidebar_right">
        <div class="design_sub_content">
       
        <div class="design_main_title">{%$res['title']|default:''%}
          <div class="design_main_subtitle">
            <img class="subtitle_icon1" src="../..//image/see.png">
            <div class="icon_title">234</div>
            <img class="subtitle_icon2" src="../../image/like.png">
            <div class="icon_title">12</div>
             <a id="collect" href="#">加入收藏</a>
          </div>
        </div>
                 <div class="sub_gapline"></div>
          <div class="productIntro_detail">
              设计详情：</br></br>
              {%$res['description']|default:''%}
         </div>
       
        
         <div class="sub_gapline"></div>
        
           <button class="buyButton">预估报价：${%$res['final_sum']|default:''%}</button>
        </div>
      </div>
  </div>
</div>

{%include file="$root/template/common/footer.html"%}

</body>
</html>