<!DOCTYPE html>
<html>
<head>
  <title>Wow Kitchen & Bath</title>
  <link rel="shortcut icon" type="image/x-icon" href="../../../image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../../../template/common/css/common.css">
  <link rel="stylesheet" type="text/css" href="../../page/css/page.css">
  
  
</head>
  {%include file="$root/template/common/navbar.html"%}

<div id="body">
  <div id="container">
    <div id="design_left">
    <div class="design_main">
      <div class="design_main_content">
            <div class="productLink">
              <a href="index.html">主页</a>/
              <a href="products.html">产品</a>/
              厨房高脚旋转椅
            </div>
              <img src="{%$res['pic_path']|default:''%}">
      </div>
    </div>

    <div id="design_related">
      <div id="related_name">相关设计作品</div>
      <div id="related_content">
      {%foreach from=$product_zuopins key=k item=value %} 
        <div class="related_content_project">
          <div id="related_pic"><a href="/page/view.php?act=design_detail&id={%$value['pk_id']|default:''%}" ><img src="{%$value['pic_path']|default:''%}"></a></div>
          <div id="related_title">{%$value['title']|default:''%}</div>
          <div id="related_price">${%$value['price']|default:''%}</div>
        </div>
       
       {%/foreach%}
      </div>
    </div>
    
  </div>


      <div class="sidebar_right">
        <div class="design_sub_content">       
          <div class="design_sub_intro">
              <div class="productName_detail">{%$res['brand']|default:''%}</div>
              <div class="productBrand_detail">{%$res['designer']|default:''%}</div>
              
              <div class="productPrice_detail">${%$res['price']|default:''%}</div>
              <div class="productStock">in stock</div>
          </div>
         <button class="buyButton">加入购物车</button>
         <a id="collect" href="#">加入收藏</a>
         <div class="sub_gapline"></div>
         <div class="sub_download">.psd .jpg .dae</div>
         <button class="downloadButton">下载素材</button>
         <div class="sub_gapline"></div>
         <div class="productIntro_detail">
              产品详情：</br></br>
              {%$res['description']|default:''%}
         </div>
      </div>
  </div>
  </div>
</div>

{%include file="$root/template/common/footer.html"%}

</body>
</html>